.anrede
  Hallo
  = @account.contact.name_text + ','

%p
  Du hast einen neuen Kommentar erhalten zu
  = I18n.t( "activerecord.models.#{@comment.entity.class.to_s.downcase}.one" )
  %br
  &laquo;
  = @comment.entity.preview_text
  &raquo;

%p
  Text des Kommentar:
  %br
  %strong
    &laquo;
    = h_format @comment.content
    &raquo;
  

%p
  Hier kannst du ihn im Zusammenhang lesen:
  %br
  %a{ href: @entity_url } Zum Kommentar

= render 'general/mailer_regards'
