Hallo <%= @account.contact.name_text %>,

Du hast einen neuen Kommentar erhalten zu <%= I18n.t( "activerecord.models.#{@comment.entity.class.to_s.downcase}.one" ) %>
«<%= @comment.entity.preview_text %>»

Text des Kommentar:
---
«<%= h_format @comment.content %>»
---

Hier kannst du ihn im Zusammenhang lesen:
<%= @entity_url %>

<%= render 'general/mailer_regards' %>
