%ul.participations_list
  - participations.each do |participation|
    - participant = participation.participant
    
    %li.participation_preview
      - if participant.account and participant.account.has_picture?
        = render 'general/picture_thumb', entity: participant.account
      - else
        .picture= image_tag 'default_user.jpg'
      
      .title
        - if participant.is_prospect?
          = participant.email
        - else
          = participant.name_text
        
      
      .actions
        = button_to [ participation.entity, participation ],
              method: :delete,
              class: 'sym_button danger',
              data: { confirm: "Willst du diese*n Teilnehmer*in wirklich entfernen?\nDas kann nicht rückgängig gemacht werden." } do
          = image_tag( 'sym/bin_w100.svg' )
        
      
    
  

