- cancel_action = nil unless defined? cancel_action
- initially_hidden = false unless defined? initially_hidden

= form_for [ :admin, @share.membership, @share ], class: initially_hidden ? 'initially_hidden' : nil do |f|
  - if @share.errors.any?
    #error_explanation
      %h2= I18n.t( 'errors.template.header', model: I18n.t( "activerecord.models.share.one" ), count: @share.errors.count )
      %ul
        - @share.errors.messages.each do |message|
          %li= I18n.t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.share.#{message.first}" )
        
      
    
  
  .field
    = f.label :membership
    %strong= @share.membership.contact.name_text
  
  .field
    = f.label :count
    = f.text_field :count
  
  .field
    = f.label :amount
    = f.text_field :amount
  
  .field
    = f.label :ordered_at
    = f.date_select :ordered_at
  
  .actions
    = cancel_action
    = f.submit 'Anteile bestellen', class: 'button main'
  

