.share_preview
  .text_block
    .label
      - if share.bought_at
        = pluralize share.count, 'Anteile', locale: :de
      - else
        .preliminary= pluralize share.count, 'Anteilswünsche', locale: :de
      zu
      = number_to_currency share.amount
    
    - if share.ordered_at
      bestellt am
      =l share.ordered_at, format: :very_short_day
    
    - if share.bought_at
      %br
      zugeteilt am
      =l share.bought_at, format: :very_short_day
    
    - if share.sold_at
      %br
      gekündigt am
      =l share.sold_at, formta: :very_short_day
    
  
  .action_block
    - if share.allocatable?
      = button_to 'Zuteilen', allocate_admin_share_path( share ), method: :put
    - else
      - if share.bought_at
        %span.end_aligned= number_to_currency -1 * share.sum_of_money
      - else
        %span.preliminary.end_aligned offen
      
    
  

