= link_to share.membership, class: 'preview share_preview' do
  %strong= share.count
  - if share.bought_at
    Anteile (
    = number_to_currency share.sum_of_money
    )
  - else
    Anteilswünsche
  
  zu
  = number_to_currency share.amount
  von
  = share.membership.contact.name_text

