.summary_block
  %h3 Zusammenfassung
  %p
    Auftragsvolumen:
    %strong= number_to_currency membership.complete_volume
    %br
    Anteilsvermögen:
    %strong= number_to_currency membership.paid_shares_volume
    
    %span.end_aligned
      Saldo:
      %strong= number_to_currency membership.saldo_at
    
  

