%h4
  = membership.shares_count
  Anteile und
  = membership.payments.count
  Zahlungen

%ul.transactions_list
  - if h_app_feature? :membership_entry_fee
    %li
      = render 'admin/shares/preview_entry_fee', membership: membership
    
  
  - membership.transactions.each do |transaction|
    - unless transaction.new_record?
      %li
        - if transaction.is_a? Share
          = render 'admin/shares/preview_share', share: transaction
        - else
          = render 'admin/shares/preview_payment', payment: transaction
        
      
    
  

