%h1
  - if @membership.blank?
    = @shares_sum
    Anteile
  

- unless @membership
  %ul.info_list
    %li
      davon
      = @shares.count
      Anteilseigner
    
    %li
      davon
      = Share.paid.count
      bezahlte Anteile
    
    %li
      %strong= number_to_currency @shares.inject( 0 ) { |sum,s| sum + s.sum_of_money }
      gesamtes Anteilsvolumen
    
  

%h3 Letzte Anteilsbewegungen

%ul.shares_list
  - the_date = Time.mktime( 1970, 1, 1 )
  - @shares.each do |share|
    - if the_date != share.sort_date.at_beginning_of_day and @dates_list
      - the_date = share.sort_date.at_beginning_of_day
      %li.separator
        =l the_date, format: :short_day
      
    
    %li= render 'preview', share: share
  

