.share_page
  = render 'contacts/show_header', contact: @membership.contact
  
  = render 'admin/accounts/tabs', contact: @membership.contact, active_tab: 'shares'
  
  .share_details
    - if @membership.transactions.size > 0
      = render 'admin/shares/transactions_list', membership: @membership
      
      = render 'admin/shares/transactions_summary', membership: @membership
      
    - else
      %p.help Bisher keine Anteile gewünscht oder gekauft
    
    .action_buttons
      = link_to new_admin_membership_share_path( @membership ), class: 'button' do
        = image_tag 'sym/plus_w100.svg', size: '20x20'
        bestellen
      
    
  

