= form_with model: @message, class: 'inline' do |f|
  - if @message.errors.any?
    #error_explanation
      %h2= "#{pluralize(@message.errors.count, "error")} prohibited this message from being saved:"
      %ul
        - @message.errors.full_messages.each do |message|
          %li= message
        
      
    
  
  = f.hidden_field :receiver_type
  = f.hidden_field :receiver_id
  
  - unless @message.receiver.is_a? Contact
    %h4 Empfänger
    .field
      = f.check_box :to_members
      = f.label :to_members, 'an Mitglieder* (grünes M & A)'
      = f.check_box :to_applicants
      = f.label :to_applicants, 'an Anwärter*innen (helles A)'
      = f.check_box :to_helpers
      = f.label :to_helpers, 'an Helfer*innen (ohne M & A)'
    
    %h4 Nachricht
  
  .field
    = f.label :subject
    = f.text_field :subject
  
  - unless @bare_form
    %p
      Hallo
      - if @message.receiver.is_a? Contact
        = @message.receiver.name_text + ','
      - else
        %em *Lisa Muster*,
      
    
  
  .field
    = f.text_area :content, rows: 5, placeholder: 'z.B. ich möchte dir etwas wichtiges mitteilen...'
  
  - unless @bare_form
    = render 'general/mailer_regards', sender: @message.sender
  
  .actions
    = f.submit 'Senden'
  

