%fieldset
  %legend Mitgliedsbeitrag
    - unless h_is_admin?
      .help
        Die
        = h_orga_name
        erhebt Mitgliedsbeiträge in freiwilliger Höhe. Ziel ist ein Beitrag von 0,5% des jeweiligen Einkommens. Es bestimmt jedoch jedes Mitglied selbst, ob er/sie sich danach richten möchte.
        = link_to 'Mehr Infos'.html_safe, '#', data: { action: 'show_hide', sel: '#fee_help' }
      
      .help#fee_help.initially_hidden
        Die Beiträge werden im Voraus je Zahlungszeitraum erhoben. Beitragshöhe, Zahlungsweise und Zahlungsfrequenz lassen sich zu jedem Zahlungszeitraumsanfang auf Antrag ändern.
      
    
  
  .field
    = f.label :fee_amount
    = f.text_field :fee_amount
  
  .field
    = f.label :fee_period
    = f.select :fee_period, Membership.t_period_select
  
  .field
    = f.label :fee_mode
    = f.select :fee_mode, Membership.t_mode_select, {}, data: { sel: '#fee_mode_sepa' }
  
  #fee_mode_sepa{ class: h_fee_mode_class, data: { action: 'select_shows', which: '#membership_fee_mode', values: 'direct_debit' } }
    .field
    = f.label :account_owner
    = f.text_field :account_owner
    
    .field
    = f.label :iban
    = f.text_field :iban
    
    .field
      = f.check_box :accepts_debit
      = f.label :accepts_debit do
        Ich ermächtige
        = h_orga_name
        hiermit, den Mitgliedsbeitrag von meinem Konto mittels Lastschrift einzuziehen.
        = link_to 'Mehr Infos'.html_safe, '#', data: { action: 'show_hide', sel: '#sepa_help' }
      - unless h_is_admin?
        .help#sepa_help.initially_hidden
          Der Mitgliedsbeitrag wird regelmäßig mittels SEPA-Lastschrift von meinem Konto eingezogen. Ich kann innerhalb von acht Wochen, beginnend mit dem Belastungsdatum, die Erstattung des belasteten Betrages verlangen. Es gelten dabei die mit meinem Kreditinstitut vereinbarten Bedingungen. Das Mandat gilt für eine wiederkehrende Zahlung. Die Mandatsreferenz wird separat mitgeteilt.
          Gläubiger-Identifikationsnummer IBAN (Organisation, Adresse)
        
      
    
  
  - if h_is_admin?
    .field
      = f.label :fee_check_at
      = f.date_select :fee_check_at, include_blank: true
    
  

