- cancel_action = '' unless defined? cancel_action

= form_for @membership do |f|
  - if @membership.errors.any?
    #error_explanation
      %h2= I18n.t( 'errors.template.header', model: I18n.t( "activerecord.models.membership.one" ), count: @membership.errors.count )
      %ul
        - @membership.errors.messages.each do |message|
          %li= I18n.t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.membership.#{message.first}" )
        
      
    
  
  %fieldset
    %legend Persönliche Daten
    
    .field
      = f.label :gender
      = f.select :gender, Membership.t_gender_select
    
    .field
      = f.label :birth_on
      = f.date_select :birth_on, start_year: 1935, end_year: Time.zone.now.year
    
  
  %fieldset
    %legend Adresse
    
    .field
      = f.label :street
      = f.text_field :street
    
    .field
      = f.label :housenr
      = f.text_field :housenr
    
    .field
      = f.label :plz
      = f.text_field :plz
    
    .field
      = f.label :city
      = f.text_field :city
    
  
  - if h_app_feature? :allow_membership_fees
    = render 'fields_membership_fees', f: f
  
  %fieldset
    - if @membership.member?
      %legend Mitgliedschaft
    - else
      %legend Aufnahme
    
    .field
      = f.label :other_memberships
      = f.text_area :other_memberships
    
    .field
      = f.label :recommendation
      = f.text_field :recommendation
    
    .field
      = f.label :phone_nr
      = f.text_field :phone_nr
    
    .field.file.image
      = f.label :request, 'Foto des unterschriebenen Antrags'
      = f.file_field :request
    
  
  %fieldset
    %legend Chronologie
    
    .field
      = f.label :requested_at
      = f.date_select :requested_at, include_blank: true
    
    .field
      = f.label :starts_at
      = f.date_select :starts_at
    
    .field
      = f.label :cancelled_at
      = f.date_select :cancelled_at, include_blank: true
    
    .field
      = f.label :ends_at
      = f.date_select :ends_at, include_blank: true
    
  
  .actions
    = cancel_action
    = f.submit class: 'button'
  

