= form_for @membership do |f|
  - if @membership.errors.any?
    #error_explanation
      %h2= I18n.t( 'errors.template.header', model: I18n.t( "activerecord.models.membership.one" ), count: @membership.errors.count )
      %ul
        - @membership.errors.messages.each do |message|
          %li= I18n.t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.membership.#{message.first}" )
        
      
    
  
  = f.hidden_field :step
  
  %fieldset
    %legend Aufnahme
    .field
      = f.check_box :accepts_rules
      = f.label :accepts_rules do
        Hiermit stimme ich dem
        = link_to 'Grundkonsens von ' + h_orga_name, '/grundkonsens'
        zu und richte mein die Organisation betreffendes Handeln nach diesem aus.
      
    
    .field
      = f.check_box :wants_membership
      = f.label :wants_membership do
        Hiermit werde ich Mitglied von
        = h_orga_name + '.'
        Ich bin damit einverstanden, dass meine personenbezogenen Daten unter Beachtung der DSGVO (Verordnung EU 2016/679) gespeichert und innerhalb der Organisation verarbeitet werden. Eine Weitergabe an Dritte zu anderen Zwecken wird ausgeschlossen. Ich stimme zu, dass mein Vorname, Nachname, sowie die angegebene E-Mail-Adresse intern an Mitglieder zum Aufbauen von lokalen Kontakten weitergegeben wird. Als Mitglied erhalte ich automatisch den Newsletter der Organisation. Eine Abmeldung davon ist jederzeit möglich.
      
    
    - if h_app_feature? :membership_recommenders
      .field
        = f.label :recommendation
        = f.text_field :recommendation
        .help
          Welche Menschen aus der
          = h_orga_name
          würden dich evtl. für eine Mitgliedschaft empfehlen?
        
      
    
    - if h_app_feature? :other_memberships
      .field
        = f.label :other_memberships
        = f.text_area :other_memberships
        - unless h_is_admin?
          .help Bei welchen anderen Organisationen warst du oder bist du Mitglied?
        
      
    
  
  - if h_app_feature? :allow_membership_fees
    %fieldset
      %legend Mitgliedsbeitrag
      = render 'fields_membership_fees', f: f
    
  
  .actions
    = link_to 'Zurück', membership_path( @membership, membership: { step: @membership.step - 2 } ), method: :put, class: 'button secondary'
    - if h_app_feature? :allow_shares
      = f.submit "Weiter…"
    - else
      = f.submit "Sichern"
    
  

