= form_for @membership do |f|
  - if @membership.errors.any?
    #error_explanation
      %h2= I18n.t( 'errors.template.header', model: I18n.t( "activerecord.models.membership.one" ), count: @membership.errors.count )
      %ul
        - @membership.errors.messages.each do |message|
          %li= I18n.t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.membership.#{message.first}" )
        
      
    
  
  = f.hidden_field :step
  
  %fieldset
    %legend Persönliche Daten
    
    .field
      = f.label :birth_on
      = f.date_select :birth_on, start_year: 1930, end_year: ( Time.zone.now - 12.years ).year, include_blank: true
    
    = f.fields_for :contact, @membership.contact do |subf|
      .field
        .help Wenn du noch nicht volljährig bist, gib bitte den Namen deiner gesetzlichen Vertretung an
        = subf.label :custodian
        = subf.text_field :custodian
      
      .initially_hidden= render 'general/checker_question', f: subf
    
    .field
      - unless h_is_admin?
        .help Welchem Geschlecht würdest Du Dich zuordnen?
      
      = f.label :gender
      = f.select :gender, Membership.t_gender_select
    
    .actions
      = link_to 'Zurück', membership_path( @membership, membership: { step: @membership.step - 2 } ), method: :put, class: 'button secondary'
      = f.submit "Weiter…"
    
  

