= form_for @membership do |f|
  - if @membership.errors.any?
    #error_explanation
      %h2= I18n.t( 'errors.template.header', model: I18n.t( "activerecord.models.membership.one" ), count: @membership.errors.count )
      %ul
        - @membership.errors.messages.each do |message|
          %li= I18n.t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.membership.#{message.first}" )
        
      
    
  
  = f.hidden_field :step
  
  = render 'contacts/subform_membership', form: f, contact: @membership.contact
  
  = f.fields_for :contact, @membership.contact do |subf|
    = render 'contacts/fields_news_help_privacy', f: subf, contact: @membership.contact
    - unless h_is_admin?
      = render 'general/checker_question', f: subf
    
  
  .actions
    = cancel_action
    = f.submit 'Weiter…'
  

