= form_for @membership do |f|
  - if @membership.errors.any?
    #error_explanation
      %h2= I18n.t( 'errors.template.header', model: I18n.t( "activerecord.models.membership.one" ), count: @membership.errors.count )
      %ul
        - @membership.errors.messages.each do |message|
          %li= I18n.t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.membership.#{message.first}" )
        
      
    
  
  = f.hidden_field :step
  
  .row
    .field.big_part
      = f.label :street
      = f.text_field :street
    
    .field
      = f.label :housenr
      = f.text_field :housenr
    
  
  .row
    .field
      = f.label :plz
      = f.text_field :plz
    
    .field.big_part
      = f.label :city
      = f.text_field :city
    
  
  .field
    = f.label :phone_nr
    = f.text_field :phone_nr
  
  .actions
    = link_to 'Zurück', membership_path( @membership, membership: { step: @membership.step - 2 } ), method: :put, class: 'button secondary'
        
    = f.submit "Weiter…"
  

