= form_for @membership do |f|
  - if @membership.errors.any?
    #error_explanation
      %h2= I18n.t( 'errors.template.header', model: I18n.t( "activerecord.models.membership.one" ), count: @membership.errors.count )
      %ul
        - @membership.errors.messages.each do |message|
          %li= I18n.t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.membership.#{message.first}" )
        
      
    
  
  = render 'contacts/subform_membership', form: f, contact: @membership.contact
  
  .field
    = f.label :gender
    = f.select :gender, Membership.t_gender_select
    - unless h_is_admin?
      .help Welchem Geschlecht würdest Du Dich zuordnen?
    
  
  .field
    = f.label :birth_on
    = f.date_select :birth_on, start_year: 1930, end_year: ( Time.zone.now - 12.years ).year, include_blank: true
  
  %fieldset
    %legend Adresse
    - unless h_is_admin?
      .field
        .help Wir brauchen Deine Adresse, um dich postalisch anschreiben zu können.
      
    
    .field
      = f.label :street
      = f.text_field :street
    
    .field
      = f.label :housenr
      = f.text_field :housenr
    
    .field
      = f.label :plz
      = f.text_field :plz
    
    .field
      = f.label :city
      = f.text_field :city
    
  
  = f.fields_for :contact, @membership.contact do |subf|
    = render 'contacts/fields_news_help_privacy', f: subf, contact: @membership.contact
  
  - if h_app_feature? :allow_membership_fees
    = render 'fields_membership_fees', f: f
  
  %fieldset
    %legend Aufnahme
    
    - if h_app_feature? :membership_recommenders
      .field
        = f.label :recommendation
        = f.text_field :recommendation
        .help
          Welche Menschen aus der
          = h_orga_name
          würden dich evtl. für eine Mitgliedschaft empfehlen?
        
      
    
    - if h_app_feature? :other_memberships
      .field
        = f.label :other_memberships
        = f.text_area :other_memberships
        - unless h_is_admin?
          .help Bei welchen anderen Organisationen warst du oder bist du Mitglied?
        
      
    
    .field
      = f.label :phone_nr
      = f.text_field :phone_nr
      .help Wir würden uns gerne bei dir vorstellen und mit dir über deine Beweggründe und Ziele sprechen. Vielleicht hast du auch Anregungen für uns.
    
    .field
      = f.check_box :accepts_rules
      = f.label :accepts_rules do
        Hiermit stimme ich dem
        = link_to 'Grundkonsens von ' + h_orga_name, '/grundkonsens'
        zu und richte mein die Organisation betreffendes Handeln nach diesem aus.
      
    
    .field
      = f.check_box :wants_membership
      = f.label :wants_membership do
        Hiermit werde ich Mitglied von
        = h_orga_name + '.'
        Ich bin damit einverstanden, dass meine personenbezogenen Daten unter Beachtung der DSGVO (Verordnung EU 2016/679) gespeichert und innerhalb der Organisation verarbeitet werden. Eine Weitergabe an Dritte zu anderen Zwecken wird ausgeschlossen. Ich stimme zu, dass mein Vorname, Nachname, Wohnort sowie die angegebene E-Mail-Adresse intern an Mitglieder zum Aufbauen von Ortsgruppen weitergegeben wird. Als Mitglied erhalte ich automatisch den Newsletter der Organisation. Eine Abmeldung davon ist jederzeit möglich.
      
    
  - unless h_is_admin?
    = f.fields_for :contact, @membership.contact do |subf|
      = render 'general/checker_question', f: subf
    
  
  .actions
    = f.submit "Mitgliedschaft beantragen", class: 'button main'
  

