- cancel_action = nil unless defined? cancel_action

= form_for membership, url: accept_membership_path( membership ) do |f|
  - if membership.errors.any?
    #error_explanation
      %h2= I18n.t( 'errors.template.header', model: I18n.t( "activerecord.models.membership.one" ), count: membership.errors.count )
      %ul
        - membership.errors.messages.each do |message|
          %li= I18n.t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.membership.#{message.first}" )
        
      
    
  
  .field
    = f.label :starts_at
    = f.date_select :starts_at, start_year: 2020, end_year: ( Time.zone.now + 1.year ).year
  
  .field
    = check_box_tag 'notify', 'yes', false
    = label_tag :notiy, 'E-Mail Benachrichtigung senden?'
  
  .actions
    = cancel_action
    = f.submit class: 'button main'
  

