= form_for @membership do |f|
  - if @membership.errors.any?
    #error_explanation
      %h2= I18n.t( 'errors.template.header', model: I18n.t( "activerecord.models.membership.one" ), count: @membership.errors.count )
      %ul
        - @membership.errors.messages.each do |message|
          %li= I18n.t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.membership.#{message.first}" )
        
      
    
  
  .field.file.image
    = f.label :request, 'Foto des unterschriebenen Antrags'
    = f.file_field :request
  
  .actions
    = f.submit 'Antrag hochladen', class: 'button'
  

