= form_for @membership do |f|
  - if @membership.errors.any?
    #error_explanation
      %h2= I18n.t( 'errors.template.header', model: I18n.t( "activerecord.models.membership.one" ), count: @membership.errors.count )
      %ul
        - @membership.errors.messages.each do |message|
          %li= I18n.t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.membership.#{message.first}" )
        
      
    
  
  = f.hidden_field :step
  
  = f.fields_for :shares, @membership.shares.first do |subf|
    = subf.hidden_field :membership_id
    = subf.hidden_field :amount
    
    %p
      Ein Anteil kostet
      = number_to_currency h_app_value( :share_price )
      
      - if h_app_feature? :membership_entry_fee
        %br
        Die Aufnahme als Mitglied kostet
        = number_to_currency h_app_value( :membership_entry_fee )
      
      - if h_app_feature? :share_buyers_fee
        %br
        Der Erwerb von Anteilen kostet
        = h_app_value( :share_buyers_fee )
        Prozent Verwaltungsgebühr
      
    
    .field
      .help Wie viele Anteile möchtest du zum Einstieg erwerben?
      = subf.label :count
      = subf.text_field :count, placeholder: 'empfohlen: min. 5'
    
    .summe
      Damit zahlst du insgesamt
      %span#sum_of_all= number_to_currency @membership.first_sum_of_all
    
  
  .actions
    = link_to 'Zurück', membership_path( @membership, membership: { step: @membership.step - 2 } ), method: :put, class: 'button secondary'
    = f.submit "Speichern"
  

