%ul.memberships_list
  - the_date = Time.mktime( 1970, 1, 1 )
  - memberships.each do |membership|
    - if the_date != membership.sort_date and @dates_list
      - the_date = membership.sort_date
      %li.separator
        =l the_date, format: :short_day
      
    
    %li= render 'memberships/preview', membership: membership
  

