= link_to membership, class: 'preview membership_preview' do
  .label
    .name= membership.contact.name_text
    .email= membership.contact.email
  
  = render 'general/badge_cell', contact: membership.contact
  
  .angle= image_tag 'sym/angle_right_s25.svg'

