- unless @membership.has_request?
  .request_preview= image_tag 'sym/image_missing_w100.svg', class: 'icon missing'
  
- else
  - if @membership.request_broken?
    .request_preview= image_tag 'sym/image_broken_w100.svg', class: 'icon broken'
    
  - else
    .request_preview
      = image_tag @membership.request_thumb
      = @membership.request.filename
    
  

