%h1 Mitgliedsantrag eingegangen

%p
  Prima, das hat soweit geklappt.
  %br
  Wir haben Deinen Mitgliedsantrag bekommen für:

%h3 Deine Kontaktdaten
%p
  %strong= @membership.contact.name_text
  %br
  %strong= @membership.street_nr_text
  %br
  %strong= @membership.plz_city_text

%p
  E-Mail:
  %strong= @membership.contact.email

- if @membership.other_memberships and h_app_feature? :other_memberships
  %p
    Folgende andere Mitgliedschaften hast du angegeben:
    %strong= @membership.other_memberships
  

- if h_app_feature? :allow_membership_fees
  %h3 Mitgliedsbeitrag
  %p
    Du hast folgenden Mitgliedsbeitrag gewählt:
    %strong
      = number_to_currency @membership.fee_amount
      = Membership.human_attribute_name "fee_period.#{@membership.fee_period}"
      via
      = Membership.human_attribute_name "fee_mode.#{@membership.fee_mode}"
    - if @membership.fee_mode == 'direct_debit'
      %br
      Kontoinhaber:in ist
      %strong= @membership.account_owner
      %br
      IBAN
      %strong= @membership.iban
    
  

%h3 Aufnahme
%p
  Empfohlen haben dich:
  %strong= @membership.recommendation
  - unless @membership.phone_nr.blank?
    %br
    Sprechen können wir dich unter
    %strong= @membership.phone_nr
  

%p
  Du hast dem Grundkonsens zugestimmt und möchtest Mitglied werden. Dazu stimmst du der Datenspeicherung zu.

%h3
  Vielen Dank und herzlich willkommen

%p
  Wir melden uns bei dir, wie es mit deinem Antrag weitergeht.
  %br
  Kennst Du Leute, die Du uns empfehlen könntest?
  %br
  Dann empfehle uns weiter, vielen Dank!

