- h_title 'Mitgliedschaft bearbeiten'
- h_description( h_page_description_for 'memberships/edit' )
- cancel_action = capture do
  = link_to 'Abbrechen', @membership, class: 'button secondary'

- # --------------------------------------------

- unless h_is_admin?
  %h1 Mitglied werden
  %p
    Wir brauchen noch ein paar Daten von dir, damit wir deinen Mitgliedsantrag zusammenstellen können.
  
  = render 'general/progress_steps', step: @membership.step, max_steps: h_max_steps
  
  = render "form_new_ex_#{@membership.step}"
  
- else
  %h1 Mitgliedschaft bearbeiten
  
  = render 'form', cancel_action: cancel_action

