%h1
  - if @letter_selected.blank?
    = @mem_count
    Mitgliedschaften/ -anträge
  - else
    = @memberships.count
    - case @letter_selected
      - when 'preliminary'
        begonnene Online-Anträge
      
      - when 'completed'
        eingereichte Online-Anträge
      
      - when 'confirmed'
        bestätigte Online-Anträge
      
      - when 'status_new'
        neu erfasste Papier-Anträge
      
      - when 'accepted'
        angenommene Mitglieder
      
      - when 'cancelled'
        gekündigte Mitgliedschaften
      
      - when 'ended'
        beendete Mitgliedschaften
      
      - when 'unconfirmed'
        Mitgliedsschaften/ -anträge 
        .subtitle ohne bestätigte E-Mail
      
      - else
        Mitgliedschaften mit
        = @letter_selected
      
    
  
  .action_buttons
    = render 'general/toggle_button_actions', toggle_id: 'membership_actions'
  

.action_buttons.initially_hidden#membership_actions
  .button_block
    = link_to export_memberships_path, class: 'button' do
      \.TSV
    
    .hint_text Infos als TSV abrufen
  

.action_buttons
  = link_to new_membership_path, class: 'button' do
    = image_tag 'sym/plus_w100.svg', size: '20x20'
    Neu
  

%ul.letters_list
  %li= link_to 'alle', memberships_path
  
  - @letters.each do |letter|
    %li= link_to letter.letter.capitalize, memberships_path( letter: letter.letter )
  

- if @memberships.blank?
  .list_title
    = pluralize @mem_count, 'Mitglieder / Anträge'
    &nbsp;&nbsp;
    = link_to image_tag( 'sym/envelope_w100.svg' ), new_message_path( to: 'members' ), remote: true, class: 'sym_button'
  
  .remote_form.initially_hidden#new_message
  
  %ul.info_list
    - if Membership.preliminary.count > 0
      %li
        davon
        %strong= link_to Membership.preliminary.count.to_s + ' begonnene', memberships_path( letter: 'preliminary' )
        Online-Anträge
      
    
    - if Membership.completed.count > 0
      %li
        davon
        %strong= link_to Membership.completed.count.to_s + ' eingereichte', memberships_path( letter: 'completed' )
        Online-Anträge
      
    
    - if Membership.confirmed.count > 0
      %li
        davon
        %strong= link_to Membership.confirmed.count.to_s + ' bestätigte', memberships_path( letter: 'confirmed' )
        Online-Anträge
      
    - if Membership.status_new.count > 0
      %li
        davon
        %strong= link_to Membership.status_new.count.to_s + ' neu erfasste', memberships_path( letter: 'status_new' )
        Papier-Anträge
      
    
    - if Membership.accepted.count > 0
      %li
        davon
        %strong= link_to Membership.accepted.count.to_s + ' angenommene', memberships_path( letter: 'accepted' )
        Mitglieder
      
    
    - if Membership.cancelled.count > 0
      %li
        davon
        %strong= link_to Membership.cancelled.count.to_s + ' gekündigte', memberships_path( letter: 'cancelled' )
        Mitgliedschaften
      
    
    - if Membership.ended.count > 0
      %li
        davon
        %strong= link_to Membership.ended.count.to_s + ' beendete', memberships_path( letter: 'ended' )
        Mitgliedschaften
      
  
  %ul.info_list
    %li
      = Membership.want_newsletter.count
      wollen Newsletter
    
    - if h_app_feature? :allow_membership_fees
      %li= "bringen Mitgliederbeiträge von #{number_to_currency( Membership.generate_membership_fees )} pro Monat"
      %li= "bringen zusätzliche Mitgliederbeiträge von #{number_to_currency( Membership.potential_membership_fees )} pro Monat, wenn alle Anträge angenommen werden"
    
    - if h_app_feature? :allow_shares
      %li= "bringen Anteilseinlagen von #{number_to_currency( Membership.proposed_share_volume )}"
      %li= "bringen Anteilseinlagen von insgesamt #{number_to_currency( Membership.potential_share_volume )}, wenn alle Anträge angenommen werden"
      
  
  %ul.info_list
    - if Membership.with_saldo.count > 0
      %li
        %strong= link_to Membership.with_saldo.count.to_s + ' Personen', memberships_path( letter: 'with_saldo' )
        haben einen offenen Saldo
      
    
  
- else
  = render 'list', memberships: @memberships

