- h_title 'Neue Mitgliedschaft'
- h_description( h_page_description_for 'memberships/new' )
- cancel_action = capture do
  = link_to 'Abbrechen', root_path, class: 'button secondary'


- # --------------------------------------------

- if h_is_admin?
  %h1 Neues Mitglied eintragen
  = render 'form_new_external'
  
- else
  %h1 Mitglied werden
  %p
    Wir freuen uns, wenn du bei
    = h_orga_name
    Mitglied werden möchtest.
    %br
    In fünf kurzen Schritten kannst du eine Mitgliedschaft beginnen.
  
  = render 'general/progress_steps', step: @membership.step, max_steps: 5
  
  = render 'form_new_ex_1', cancel_action: cancel_action

