- h_page_klass 'printable_page'

.membership_summary_page
  %h1 Mitgliedsantrag
  %p
    %em
      vorgesehene Mitgliedsnummer:
      = @membership.token
    
  
  %p
    - unless @membership.contact.custodian.blank?
      %em von gesetzlicher Vertretung
      %br
      %strong= @membership.contact.custodian
      %br
      %em für
      
    - else
    %em von
    %br
    %strong= @membership.contact.name_text
  
  %p
    Geschlecht:
    %strong= Membership.human_attribute_name "gender.#{@membership.gender}"
    %br
    geboren am:
    - if @membership.birth_on
      %strong=l @membership.birth_on
    - else
      %em kein Geburtstag eingetragen
    
  
  %h4 Adresse
  %p
    %strong= @membership.street_nr_text
    %br
    %strong= @membership.plz_city_text
  
  - if h_app_feature? :allow_membership_fees
    %h4 Mitgliedbeitrag
    %p
      Beitrag:
      %strong
        = number_to_currency @membership.fee_amount
        = Membership.human_attribute_name "fee_period.#{@membership.fee_period}"
        via
        = Membership.human_attribute_name "fee_mode.#{@membership.fee_mode}"
      
    
    - if @membership.direct_debit?
      %p
        Kontoinhaber:in:
        %strong= @membership.account_owner
        %br
        IBAN:
        %strong= @membership.iban
      
    
    - if @membership.other_memberships and h_app_feature? :other_memberships
      %p
        Andere Mitgliedschaften:
        %strong= @membership.other_memberships
      
    
  
  %p
    Empfehlung durch:
    %strong= @membership.recommendation
    %br
    Telefon:
    %strong= @membership.phone_nr
  
  %p
    Antrag gestellt am:
    %strong= l @membership.created_at, format: :short_day
  
  - if h_app_feature? :allow_shares
    %h4 Anteilseinkauf
    %ul
      - @membership.shares.each do |share|
        %li
          %strong= share.count
          = "Anteil#{share.count > 1 ? 'e' : ''}"
          zu je
          %strong= number_to_currency share.amount
        
      
    
    %p
      - if h_app_feature? :membership_entry_fee
        zuzüglich
        %strong= number_to_currency h_app_value( :membership_entry_fee )
        Eintrittsgebühr für die Mitgliederaufnahme
      
      - if h_app_feature? :share_buyers_fee
        %br
        zuzüglich
        %strong
          = number_to_currency h_app_value( :share_buyers_fee )
          Prozent
        
        Verwaltungsgebühr für den Kauf von Anteilen
      
    
    %p.sum_of_all
      damit zu zahlen:
      %strong= number_to_currency @membership.first_sum_of_all
    
    %br
    %p
      Ich habe die Hinweise zum Datenschutz gelesen.
    
    %p
      Hiermit stimme ich dem Grundkonsens von
      = h_orga_name
      zu und richte mein die Organisation betreffendes Handeln nach diesem aus.
    
    %p
      Hiermit werde ich Mitglied von
      = h_orga_name + '.'
      Ich bin damit einverstanden, dass meine personenbezogenen Daten unter Beachtung der DSGVO (Verordnung EU 2016/679) gespeichert und innerhalb der Organisation verarbeitet werden. Eine Weitergabe an Dritte zu anderen Zwecken wird ausgeschlossen. Ich stimme zu, dass mein Vorname, Nachname, sowie die angegebene E-Mail-Adresse intern an Mitglieder zum Aufbauen von lokalen Kontakten weitergegeben wird. Als Mitglied erhalte ich automatisch den Newsletter der Organisation. Eine Abmeldung davon ist jederzeit möglich.
    
    %br
    %br
    %hr
    %p
      =l @membership.created_at, format: :short_day
      \/ Unterschrift eigenhändig
  

