.membership_page
  .membership_member_process
    .status{ class: @membership.status_text }
      = @membership.status_text
    
    - if @membership.accepted? or @membership.member?
      %h1.membership_token
        Meine Mitgliedschaft
        .subtitle
          Mitgliedsnummer:
          = @membership.token
        
      
    - else
      %h1
        Mein Mitgliedsantrag
        .subtitle
          vorgesehene Mitgliedsnummer:
          = @membership.token
        
      
    
    %p
      - if @membership.starts_at
        - if @membership.member?
          Mitglied seit:
        - elsif @membership.accepted?
          Angenommen seit:
        
        %strong= l @membership.starts_at, format: :short_day
        
      - else
        Antrag gestellt am:
        %strong= l @membership.created_at, format: :short_day
      
      - if @membership.ends_at
        %br
        Beendet am:
        %strong= l @membership.ends_at, format: :short_day
      
    
    %h2
      %em Schritt 1:
      Herunterladen & Unterschreiben
      = '✅' if @membership.has_request?
    
    %p
      Dein Antrag ist digital eingegangen.
      %br
      Bitte lade ihn herunter, drucke ihn aus und unterschreibe ihn handschriftlich.
    
    .action_buttons
      .button_block
        = link_to 'Herunterladen', requestpdf_membership_path( @membership ), class: 'button', target: '_blank'
      
    
    %hr
    %h2
      %em Schritt 2:
      Fotografieren & hochladen
      = '✅' if @membership.has_request?
    
    - if @membership.has_request?
      %p
        Du hast deinen unterschriebenen Antrag hochgeladen.
      
      = render 'request_preview'
      
    - else
      %p
        Wenn du deinen Antrag unterschrieben hast, mache ein Foto und lade dieses hier wieder hoch.
      
      = render 'form_upload_request'
    
  

