.membership_admin_page
  = render 'contacts/show_header', contact: @membership.contact
  
  = render 'admin/accounts/tabs', contact: @membership.contact, active_tab: 'membership'
  
  .membership_details
    .status{ class: @membership.status_text }
      = @membership.status_text
    
    - if @membership.accepted? or @membership.member?
      %h2.membership_token
        = @membership.token
        .subtitle Mitgliedsnummer
      
    - else
      %h2
        Antrag
        .subtitle
          vorgesehene Mitgliedsnummer:
          = @membership.token
        
      
    
    %h4 Persönliches
    %p
      Geschlecht:
      %strong= @membership.gender
      %br
      Geburtstag:
      - if @membership.birth_on
        %strong=l @membership.birth_on
      - else
        %em kein Geburtstag eingetragen
      
    
    %h4 Adresse
    %p
      %strong= @membership.street_nr_text
      %br
      %strong= @membership.plz_city_text
    
    - if h_app_feature? :allow_membership_fees
      %h4 Mitgliedbeitrag
      %p
        Beitrag:
        %strong
          = number_to_currency @membership.fee_amount
          = Membership.human_attribute_name "fee_period.#{@membership.fee_period}"
          via
          = Membership.human_attribute_name "fee_mode.#{@membership.fee_mode}"
        
      
      - if @membership.direct_debit?
        %p
          Kontoinhaber:in:
          %strong= @membership.account_owner
          %br
          IBAN:
          %strong= @membership.iban
          
          %br
          Letzte Zahlung:
          - if @membership.fee_check_at
            %strong=l @membership.fee_check_at, format: :short_day
            
          - else
            %strong keine bisher
          
        
      
    
    - if @membership.member?
      %h4 Mitgliedschaft
    - else
      %h4 Aufnahme
    
    - if @membership.other_memberships and h_app_feature? :other_memberships
      %p
        Andere Mitgliedschaften:
        %strong= @membership.other_memberships
      
    
    %p
      - unless @membership.recommendation.blank?
        Empfehlung durch:
        %strong= @membership.recommendation
        %br
      
      Telefon:
      %strong= @membership.phone_nr
    
    .action_buttons
      - if !@membership.member? and h_is_admin?
        = link_to 'Aufnehmen…', '#', data: { action: 'show_hide', sel: ".action_buttons, #membership_accept_form" }, class: 'button', title: 'Als Mitglied aufnehmen'
      
      = link_to image_tag( 'sym/pencil_w100.svg' ), edit_membership_path( @membership ), class: 'sym_button', title: 'bearbeiten'
      = link_to image_tag( 'sym/bin_w100.svg' ), @membership, method: :delete, data: { confirm: "Willst Du die Mitgliedschaft für '#{@membership.contact.name_text}' wirklich löschen?\n\nDie Aktion kann nicht rückgängig gemacht werden." }, class: 'sym_button danger', title: 'Mitgliedschaft löschen'
    
    #membership_accept_form.initially_hidden
      = render 'form_accept', membership: @membership, cancel_action: ( link_to 'Abbrechen', '#', data: { action: 'show_hide', sel: '#membership_accept_form, .action_buttons' }, class: 'button secondary' )
    
    %p.help_text
      - if @membership.requested_at
        Antrag gestellt:
        %strong= l @membership.requested_at, format: :short_day
        %br
      
      Antrag erfasst:
      = l @membership.created_at, format: :short_day
      = h_actor_for @membership, 'create_membership'
      %br
      
      - unless @membership.payments.blank?
        Zahlung(en) eingegangen:
        %strong
          - @membership.payments.each do |payment|
            - if payment != @membership.payments.first
              |
            
            = l payment.paid_at, format: :very_short_day
          
        %br
      
      - if @membership.starts_at
        Antrag angenommen:
        %strong= l @membership.starts_at, format: :short_day
        = h_actor_for @membership, 'accept_membership'
        %br
      
      Letzte Bearbeitung:
      = l @membership.updated_at, format: :short_day
      = h_actor_for @membership, 'update_membership'
    
    - unless @membership.logs.blank?
      %h4.help_text Bearbeitungshistorie
      %ul.logs_list
        - @membership.logs.each do |log|
          %li
            = l log.created_at, format: :very_short_day
            = log.action
            &mdash;
            = log.actor.name_text
          
        
      
    
  

