- h_page_title 'Anmelden'
- h_description 'Komm herein... bitte melde dich an oder registriere dich neu.'
- h_page_klass 'headerless_page'
- # -------------------------------------------

%article.new_session
  %h2
    Komm herein...
  
  %p.form_explanation
    Bitte melde dich an
    %br
    oder
    = link_to 'registriere dich neu', check_accounts_path
  
  = form_tag login_path, class: 'login_form' do
    .field
      = label_tag :login
      = text_field_tag :login, params[ :login ], placeholder: 'lisa.muster@organisator.org'
    
    .field
      = password_field_tag :password, params[ :password ], placeholder: 'Kennwort'
    
    .actions
      .start_aligned
        = link_to 'Kennwort vergessen?', request_password_accounts_path
      
      .end_aligned
        = link_to 'Abbrechen', root_path, class: 'button secondary'
        = submit_tag 'Login', class: 'button'
      
    
  

