- is_editable = false unless defined? is_editable
- cancel_action = capture do
  = link_to image_tag( 'sym/cross_w100.svg' ), "#", class: 'sym_button', data: { action: 'show_hide', sel: "##{contentpart.iid}, #edit_#{contentpart.iid}", cpid: contentpart.id }

- # --- HTML Versions --------------------------

- if contentpart.own_partial?
  = render "contentparts/contentpart_#{contentpart.kind}", contentpart: contentpart, is_editable: is_editable, cancel_action: cancel_action
- else
  = content_tag contentpart.tag_type, h_format( contentpart.content ), class: contentpart.klass, id: contentpart.iid

- if is_editable
  = render 'contentparts/form', contentpart: contentpart, initially_hidden: true, cancel_action: cancel_action

