- initially_hidden = false unless defined? initially_hidden
- cancel_action = nil unless defined? cancel_action
- image_upload = contentpart.picture.attached?

= form_for contentpart, html: { class: [ 'edit_contentpart', ( initially_hidden ? 'initially_hidden' : nil ) ].join( ' ' ), id: "edit_#{contentpart.iid}" } do |f|
  - if contentpart.errors.any?
    #error_explanation
      %h2= "#{pluralize(contentpart.errors.count, "error")} prohibited this contentpart from being saved:"
      %ul
        - contentpart.errors.full_messages.each do |message|
          %li= message
        
      
    
  
  = f.hidden_field :container_type
  = f.hidden_field :container_id
  
  .field
    = f.select :kind, Contentpart.select_kind
  
  .field
    = f.text_area :content, id: "textarea_#{contentpart.iid}", rows: 3, placeholder: 'z.B. was du hier so schreiben möchtest...'
  
  .field.picture{ class: image_upload ? nil : 'initially_hidden' }
    = f.label :picture
    = f.file_field :picture
  
  .actions
    - unless contentpart.new_record?
      = link_to image_tag( 'sym/angle_to_top_w100.svg' ), to_top_contentpart_path( contentpart ), method: :put, class: 'sym_button', title: 'Ganz nach oben setzen'
      = link_to image_tag( 'sym/angle_up_w100.svg' ), up_contentpart_path( contentpart ), method: :put, class: 'sym_button', title: 'Eine Position nach oben'
      = link_to image_tag( 'sym/angle_down_w100.svg' ), down_contentpart_path( contentpart ), method: :put, class: 'sym_button', title: 'Eine Position nach unten'
      = link_to image_tag( 'sym/angle_to_bottom_w100.svg' ), to_bottom_contentpart_path( contentpart ), method: :put, class: 'sym_button', title: 'Ganz nach unten setzen'
      &nbsp;&nbsp;
      
      = link_to image_tag( 'sym/bin_w100.svg' ), contentpart,
            method: :delete,
            data: { confirm: "Willst du diesen Inhaltsteil wirklich löschen?\n\nDiese Aktion kann nicht rückgängig gemacht werden." },
            class: 'sym_button danger',
            title: 'Löschen dieses Inhaltteils'
    
    = cancel_action
    = f.submit 'Speichern', class: 'button'
  

