- active_tab = 'contact' unless active_tab != nil

- # --------------------------------------------
- logger.debug "-- active_tab: #{active_tab}"
.tabs_block
  %ul.tabs_block_scroller
    - if active_tab == 'contact'
      %li.tab.active Kontakt
    - else
      %li.tab= link_to 'Kontakt', contact
    
    - if contact.account
      - if active_tab == 'account'
        %li.tab.active Account
      - else
        %li.tab= link_to 'Account', admin_account_path( contact.account )
      
    - if contact.membership
      - if active_tab == 'membership'
        %li.tab.active Mitglied
      - else
        %li.tab= link_to 'Mitglied', contact.membership
      
      - if h_app_feature? :allow_shares
        - if contact.membership and contact.membership.shares_count > 0
          - label = pluralize( contact.membership.shares.sum( :count ), 'Anteil' )
        - else
          - label = 'Anteile'
        
        - if active_tab == 'shares'
          %li.tab.active= label
        - else
          %li.tab= link_to label, admin_membership_shares_path( contact.membership) 
      
    - if contact.received_messages.count > 0
      - if active_tab == 'message'
        %li.tab.active Nachrichten
      - else
        %li.tab= link_to 'Nachrichten', contact_messages_path( contact )
      
    
  

