.admin_page
  = render 'contacts/show_header', contact: @account.contact
  
  = render 'admin/accounts/tabs', contact: @account.contact, active_tab: 'account'
  
  .tab_view
    = render 'show', account: @account
    .action_buttons
      = link_to image_tag( 'sym/pencil_w100.svg' ), edit_admin_account_path( @account ), class: 'sym_button', title: 'bearbeiten'
      = link_to image_tag( 'sym/bin_w100.svg' ), admin_account_path( @account ), method: :delete, data: { confirm: "Willst Du den Account mit der E-Mail '#{@account.contact.email}' wirklich löschen?\n\nDie Aktion kann nicht rückgängig gemacht werden." }, class: 'sym_button danger', title: 'Account löschen'
      = link_to 'IC', charm_admin_account_path( @account ), method: :patch, data: { confirm: "Willst Du wirklich in die Rolle des Account mit der E-Mail '#{@account.contact.email}' schlüpfen?" }, class: 'sym_button', title: 'Account wechseln'
    
  

