= form_for [ comment.entity, comment ] do |f|
  - if comment.errors.any?
    #error_explanation
      %h2=t( 'errors.template.header', model: I18n.t( "activerecord.models.comment.one" ), count: comment.errors.count )
      %ul
        - comment.errors.messages.each do |message|
          %li=t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.comment.#{message.first}" )
        
      
    
  
  = f.hidden_field :entity_type
  = f.hidden_field :entity_id
  
  .field
    = f.text_area :content, placeholder: 'Dein Kommentar...'
  
  .actions
    = #cancel_action
    = f.submit
  

