- deletable = false unless defined? deletable and deletable == true
- with_author = false unless defined? with_author and with_author == true

%ul.comments_list
  - entity.comments_and_edits.each do |entry|
    - unless entry.new_record?
      - if entry.is_a? Log
        %li.log
          bearbeitet am
          =l entry.created_at, format: :very_short_day
          von
          = entry.actor.displayname_text
        
      - else
        %li.comment
          = image_tag 'sym/comment.svg'
          = entry.content
          - if with_author
            .author_info
              &mdash;
              = entry.account.name_text
              &bull;
              = time_ago_in_words entry.updated_at
            
          
          - if deletable and ( entry.account == current_account or h_is_admin? )
            = link_to entry, method: :delete, data: { confirm: "Willst du den Kommentar '#{truncate entry.content, length: 40}' wirklich löschen?\nDie Aktion kann nicht rückgängig gemacht werden." }, class: 'sym_button danger', title: 'Kommentar löschen' do
              = image_tag 'sym/bin_w100.svg'
            
          
        
      
    
  

