- deletable = false unless defined? deletable and deletable == true
- with_author = false unless defined? with_author and with_author == true

%ul.comments_list
  - entity.comments.each do |comment|
    - unless comment.new_record?
      %li.comment
        = image_tag 'sym/comment.svg'
        = comment.content
        - if with_author
          .author_info
            &mdash;
            = comment.account.name_text
            &bull;
            = time_ago_in_words comment.updated_at
          
        
        - if deletable and ( comment.account == current_account or h_is_admin? )
          = link_to comment, method: :delete, data: { confirm: "Willst du den Kommentar '#{truncate comment.content, length: 40}' wirklich löschen?\nDie Aktion kann nicht rückgängig gemacht werden." }, class: 'sym_button danger', title: 'Kommentar löschen' do
            = image_tag 'sym/bin_w100.svg'
          
        
      
    
  

