// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// --------------------------------------------

$alt_text_col: $white_col;
$alt_link_col: lighten( $link_col, 50 );
$alt_back_col: $akzent_col;
$alt_footer_bgcol: darken( $alt_back_col, 6 );
$shade_white_80: transparentize( $white_col, 0.2 );

$button_shadow: 0 0 32px 0 $shade_white_80;

// --------------------------------------------

.important_page {
  margin: 0 auto;
  color: $alt_text_col;
  background-color: $alt_back_col;
  
  #header {
    min-height: unset;
    box-shadow: none;
    
    .header_logo,
    .main_menu {
      position: fixed;
      top: 0;
      right: 0;
      display: none;
      padding-top: 5rem;
      
      text-align: center;
    }
    
    .main_menu.active {
      display: block;
      background-color: $menu_bgcol;
    }
    
    .menu_button {
      display: inline-block;
      color: $link_col;
    }
  }
  
  main {
    background-color: $alt_back_col;
  }
  
  #body {
    max-width: $max_body_width;
    margin: 0 auto;
  }
  
  .page_detail {
    padding: 2rem 0;
  }
  
  h1, h2, h3, h4, h5 {
    color: $alt_text_col;
    font-style: italic;
    text-shadow: 0 0.125rem 0 $black_col;
  }
  
  a {
    color: $alt_link_col;
    
    &.button {
      color: $button_col;
      box-shadow: 0 0 32px $shade_white_80;
    }
  }
  
  .back_button {
    position: absolute;
    top: 0.25rem;
    left: 0;
  }
  
  footer {
    background-color: $alt_footer_bgcol;
  }
}
@media ( min-width: $more_than_smartphone ) {
  .important_page {
    text-align: center;
     
    #header {
      width: 0;
      
      .menu_button {
        display: inline-block;
        right: ( $max_body_width / 2 );
      }
    }
    
    main {
      padding: 2rem 0;
    }
    
    .back_button {
      top: 0;
      left: 0;
    }
    
    footer {
      padding-left: 0;
    }
  }
}

