// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

.page_pages_root {
  #body {
    #banner {
      .web_banner{
        width: 100%;
      }
    }
    
    .logo_img {
      margin: 2rem 1.5rem 0;
      max-width: 8rem;
      
    }
    
    .wortmarke {
      font-size: 2.5rem;
      line-height: 0.9;
      text-shadow: 0 0 4px $text_col;
      
      .sub {
        color: $light_text_col;
        font-size: 0.75em;
      }
    }
    
    h1 + h2 {
      margin-top: -0.5em;
    }
  }
}
@media ( min-width: $more_than_smartphone ) {
  .page_pages_root {
    #body {
      padding-top: 0;
      max-width: unset;
      
      & > p,
      & > h1, & > h2, & > h3, & > h4, & > h5, & > h6,
      & > .action_buttons {
        padding-left: 3rem;
        padding-right: 3rem;
      }
      & > .picture {
        margin-left: 3rem;
        margin-right: 3rem;
      }
      
      .row {
        padding-left: 3rem;
        padding-right: 3rem;
        
        h1, h2, h3, h4, h5 {
          padding-left: 0;
          padding-right: 0;
        }
      }
      
      .multiteaser {
        padding: 1.5rem 0 2.5rem;
        
        & > h2 {
          padding: 0 3rem;
        }
        .multiteaser_scroller {
          padding-left: 3rem;
        }
      }
      
      #banner {
        @include clearfix;
      }
      .logo_img {
        float: left;
        width: auto;
        margin: 2rem 1.5rem 0;
      }
      .wortmarke {
        padding-top: 3rem;
      }
    }
    
    footer p {
      margin-left: 2rem;
      margin-right: 2rem;
      max-width: unset;
    }
  }
}

