// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

.printable_page {
  margin: 0 auto;
  color: $text_col;
  background-color: $white_col;
  
  font-size: 10pt;
  
  #header {
    min-height: unset;
    box-shadow: none;
    
    .header_logo,
    .main_menu {
      display: none;
    }
    
    .main_menu.active {
      display: block;
    }
    
    .menu_button {
      color: $theme_col;
    }
  }
  
  main {
    padding: 1rem 0;
    background-color: $white_col;
  }
  
  h1, h2, h3, h4, h5 {
    color: $text_col;
  }
  
  a {
    color: $link_col;
    
    &.button {
      color: $button_col;
    }
  }
  
  footer {
    display: none;
  }
}
@media ( min-width: $more_than_smartphone ) {
 .printable_page {
   
   #header {
     width: 0;
   }
   
   main {
     padding: 2rem 0;
   }
   
   footer {
     padding-left: 0;
   }
 }
}

