// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// --------------------------------------------

.headerless_page {
  margin: 0 auto;
  color: $text_col;
  background-color: $back_col;
  
  #header {
    min-height: unset;
    background-color: transparent;
    box-shadow: none;
    
    .header_logo,
    .main_menu {
      position: fixed;
      top: 0;
      right: 0;
      display: none;
      padding-top: 5rem;
      
      text-align: center;
    }
    
    .main_menu.active {
      display: block;
      background-color: $menu_bgcol;
    }
    
    .menu_button {
      display: inline-block;
      color: $link_col;
    }
  }
  
  main {
    padding: 3rem 0 1rem;
    background-color: $back_col;
  }
  
  #body {
    max-width: $max_body_width;
    margin: 0 auto;
  }
  
  .page_detail {
    padding: 2rem 0;
  }
  
  h1, h2, h3, h4, h5 {
    color: $text_col;
    font-style: italic;
    
    &.important {
      color: $white_col;
      background-color: $important_col;
      text-shadow: 0 1px 6px darken( $important_col, 20 );
    }
  }
  
  form.without_border {
    margin: 1rem 0;
    padding: 0 1.5rem;
    
    input[type=text],
    input[type=email],
    input[type=password],
    textarea {
      background-color: $paper_col;
    }
    
    
  }
  
  .back_button {
    position: absolute;
    top: 0.25;
    left: 0;
  }
  @media (min-width: $more_than_smartphone) {
    .back_button {
      top: 0;
      left: 0;
    }
  }
}
@media ( min-width: $more_than_smartphone ) {
  .headerless_page {
    text-align: center;
    
    #header {
      width: 0;
    }
    
    main {
      padding: 2rem 0;
    }
    
    .back_button {
      top: 0;
      left: 0;
    }
    
    footer {
      padding-left: 0;
    }
  }
}

