%section.explanation_section
  %h3 Vorschlagsphase
  %p
    Diese Abstimmung befindet sich in der Vorschlagsphase.
    %br
    Es werden (weitere) Vorschläge gesammelt, die die Fragestellung beantworten könnten und über die später abgestimmt werden soll.
  
  %p
    Mit der Plus-Taste ganz unten können neue Vorschläge eingereicht werden.
  

