.decision_infos
  - if decision.proposing?
    bisher
  
  - if decision.proposal_count > 0
    %strong.number.proposals= decision.proposal_count
    Vorschläge
    - if decision.done?
      .proposers_names
        %strong Vielen Dank an die Vorschlagenden:
        = decision.proposers_name_text
      
    
  - else
    keine Vorschläge...
  
  - if decision.voting? or decision.done?
    - if decision.voting?
      &nbsp;&nbsp;
    
    - unless decision.done?
      bisher
    
    - if decision.voters_published.count > 0
      %strong.number.votes= decision.voters_published.count
      Abstimmende
      
      - if decision.voted_by? current_account
        .end_aligned
          = image_tag 'sym/tick_mark.svg', class: 'icon'
          ich habe abgestimmt
        
      
    - else
      keine Abstimmenden...
    
  
