%section.proposals_section
  = render 'proposals/index', proposals: @decision.proposals
  
  .proposal_form_block
    - if @decision.preparing?
      = link_to publish_decision_path( @decision ), method: :put, class: 'proposal_button' do
        .label Diese Entscheidung jetzt
        .button= 'Bereit machen'
      
    - elsif @decision.proposing?
      = link_to new_decision_proposal_path( @decision ), remote: true, class: 'proposal_button', id: 'new_proposal_button' do
        = image_tag 'sym/plus_w100.svg', class: 'button round'
        .label Neuer Vorschlag...
      
      #new_proposal
      
    - elsif @decision.votable_by?( current_account )
      .proposal_button
        .label Wie oben bewertet...
        = link_to 'abstimmen', vote_decision_path( @decision ), method: :put, class: 'button', id: 'vote_button', data: { confirm: "Möchtest du diese Bewertungen der Optionen für die Abstimmung endgültig einreichen?\n\nDiese Aktion kann nicht rückgängig gemacht werden." }
      
    - elsif @decision.voting?
      .proposal_button
        .label
          Abstimmung läuft noch
          - if @decision.end_voting_at - Time.zone.now >= 1.day
            bis
            =l @decision.end_voting_at, format: :very_short_day_time
          - else
            = distance_of_time_in_words_to_now @decision.end_voting_at
        
      
    - elsif @decision.done?
      .proposal_button
        .label
          Abstimmung beendet.
          %br
          Veröffentlichung der Ergebnisse
          %br
          - if @decision.show_results_at - Time.zone.now >= 1.day
            am
            =l @decision.show_results_at, format: :very_short_day_time
          - else
            in
            = distance_of_time_in_words_to_now @decision.show_results_at
          
        
      
    
  

