- result_proposal = decision.winning_proposals
- other_proposals = decision.proposals.reject { |p| p == result_proposal }.sort_by { |p| p.votes_value }

%section.result_section
  - if result_proposal
    %header
      Ergebnis der Abstimmung: Vorschlag mit geringstem Widerstand
    
    .proposal_card.winner
      .short_content
        .title
          .number
            Vorschlag
            %strong= result_proposal.position
          
          = result_proposal.title
        
        = render 'comments/preview_count', entity: result_proposal
      
      .full_content
        - unless result_proposal.description.blank?
          .description
            = h_format result_proposal.description
          
        
      
      = render 'proposals/result_scale', proposal: result_proposal
      
      .full_content
        .comments_block
          - if result_proposal.comments?
            = render 'comments/list', entity: result_proposal
          
        
      
    
  
  #proposals_list
    - if result_proposal
      %header.list_title
        Die
        = other_proposals.count
        weiteren Vorschläge
      
    
    %ul.proposals_list
      - other_proposals.each do |proposal|
        = render 'proposals/preview', proposal: proposal
      
    
  

