- selected_proposals = decision.winning_proposals
- other_proposals = decision.proposals.reject { |p| selected_proposals.include?( p ) }.sort_by { |p| p.selection_value }.reverse

- if selected_proposals
  %section.result_section
    #proposals_list
      .list_title Ausgewähle Vorschläge
      %ul.proposals_list.selected
        - selected_proposals.each do |proposal|
          = render 'proposals/preview', proposal: proposal
        
      
      .list_title Weitere Vorschläge
      %ul.proposals_list
        - other_proposals.each do |proposal|
          = render 'proposals/preview', proposal: proposal
        
      
    
  

