- active_tab = 'voting' unless active_tab != nil

- # -------------------------------------------
- logger.debug "-- active_tab: #{active_tab}"
.tabs_block
  %ul.tabs_block_scroller
    - unless @own_decisions.blank?
      - if active_tab == 'own'
        %li.tab.active Meine
      - else
        %li.tab= link_to 'Meine', decisions_path( stage: 'own' )
      
    
    - if active_tab == 'preparation'
      %li.tab.active Neu
    - else
      %li.tab= link_to 'Neu', decisions_path( stage: 'preparation' )
    
    - if active_tab == 'proposing'
      %li.tab.active Vorschlag
    - else
      %li.tab= link_to 'Vorschlag', decisions_path( stage: 'proposing' )
    
    - if active_tab == 'voting'
      %li.tab.active Abstimmung
    - else
      %li.tab= link_to 'Abstimmung', decisions_path( stage: 'voting' )
    
    - if active_tab == 'done'
      %li.tab.active Fertig
    - else
      %li.tab= link_to 'Fertig', decisions_path( stage: 'done' )
    
    - if active_tab == 'archive'
      %li.tab.active Archiv
    - else
      %li.tab= link_to 'Archiv', decisions_path( stage: 'archive' )
    
  

