- h_page_title @decision.title
- h_description truncate( strip_tags( @decision.description ), length: 250 )

%article.decision_detail{ class: @decision.done? ? 'done' : nil }
  - unless @decision.published?
    .status= @decision.status
  
  %h1.title= @decision.title
  
  .action_buttons
    - if h_decision_editable?
      = link_to image_tag( 'sym/pencil_w100.svg' ),
            edit_decision_path( @decision ),
            class: 'sym_button', title: 'Entscheidung ändern'
      = link_to image_tag( 'sym/bin_w100.svg' ),
            @decision, method: :delete,
            class: 'sym_button danger',
            title: 'Entscheidung löschen',
            data: { confirm: "Willst du die Entscheidung '#{@decision.title}' wirklich löschen?\n\nDie Aktion kann nicht rückgängig gemacht werden." }
    
  
  .variant
    via
    %strong= Decision.human_attribute_name( "variant.#{@decision.variant}" )
    - if @decision.is_selection?
      %br
      %strong
        = @decision.vote_count
        Stimmen
      
      - if @decision.done?
        waren
      - else
        sind
      
      zu vergeben
    
  
  .description= h_format @decision.description
  
  - if @decision.done?
    .date
      %strong
        Abgestimmt am
        =l @decision.end_voting_at, format: :very_short_day_time
      
    
  - else
    .date
      Vorschläge bis
      =l @decision.end_proposals_at, format: :very_short_day_time
    
    .date
      Abstimmen bis
      =l @decision.end_voting_at, format: :very_short_day_time
    
  
  = render 'infos', decision: @decision

= render 'explanation_section' if @decision.proposing?

- if @decision.show_results?
  - if @decision.is_selection?
    = render 'decisions/selection_section', decision: @decision
  - else
    = render 'decisions/result_section', decision: @decision
  
- else
  = render 'decisions/proposals_section', decision: @decision

