.action_buttons.internal
  .help_text
    = current_account.status.capitalize
    Funktionen
  
  - if h_can_publish_article?
    = link_to 'Freigeben', publish_article_path( @article ), method: :put, class: 'button'
  
  - if h_article_editable?
    = link_to image_tag( 'sym/pencil_w100.svg' ),
          edit_article_path( @article ),
          class: 'sym_button', title: 'Artikel ändern'
    = link_to image_tag( 'sym/bin_w100.svg' ),
          @article, method: :delete,
          class: 'sym_button danger',
          title: 'Artikel löschen',
          data: { confirm: "Willst du den Artikel '#{@article.title}' wirklich löschen?" }
    
  

