= link_to article, class: 'preview', id: article.token do
  - if article.has_picture?
    = render 'general/picture_preview', entity: article.picture_contentpart
  
  .date=l article.published_at, format: :short_day
  .title= article.title
  .description= h_format_preview article.description, 250
  .more Mehr lesen... &rarr;

