= link_to article, class: "article_preview_tags" do
  - unless article.published?
    .status= article.status
  
  .label_block Artikel
  
  - if article.has_picture?
    = render 'general/picture_thumb', entity: article.picture_contentpart
  
  .info_block
    .title= article.title
    .infos
      =l article.published_at, format: :short_day
      = render 'articles/author', article: article, no_link: true
    
  
  .next_arrow
    = image_tag 'sym/angle_right_s25.svg'
  

