- h_title 'Blog'
- h_description( h_page_description_for 'articles' )

%h1 Blog

- if h_is_user?
  %p
    = link_to 'Neuer Artikel...', new_article_path
  

- if @articles.blank?
  %p.help_text
    Im Augenblick sind noch keine Artikel veröffentlicht...
    - unless Article.all.blank?
      %br
      Eventuell hat es aber Artikel im internen Bereich,
      = link_to 'logge dich', login_path
      doch mal ein...
    
  

%ul.articles_list
  - @articles.each do |article|
    %li= render 'preview', article: article
  

- if @more_pages
  %p.end_aligned
    = link_to 'Weitere Artikel', articles_path( page: @page + 1 )
  

