- cancel_action = capture do
  = link_to 'Abbrechen', events_path, class: 'button'


%h1 Neuer Artikel
%p
  Hier kannst du einen neuen Artikel für unseren Blog erstellen.

= render 'form', cancel_action: cancel_action
