- h_page_title @article.title
- h_description truncate( strip_tags( @article.description ), length: 250 )
- if @article.has_picture?
  - h_image full_url_for( @article.picture_contentpart.picture_twitter )


%article.article_detail
  - unless @article.published?
    .status= @article.status
  
  .date=l @article.published_at
  = render 'author', article: @article
  
  %h1.title= @article.title
  
  = render 'tags/list_at_entity', entity: @article, editable: h_article_editable?
  
  = render 'action_buttons_internal', article: @article if h_is_user?
  
  .description= @article.description
  
  .article_content{ data: { editable: h_article_editable? ? 'edit' : 'false' } }
    = render @article.contentparts, is_editable: h_article_editable?
    
    %p
      - if h_article_editable?
        - new_contentpart = @article.contentparts.build
        - cancel_action = capture do
          = link_to image_tag( 'sym/cross_w100.svg' ), "#", data: { action: 'show_hide', sel: "#edit_#{new_contentpart.iid}, #new_contentpart_button" }, class: 'sym_button'
        
        = link_to image_tag( 'sym/plus_w100.svg' ), '#new_contentpart', id: 'new_contentpart_button', class: 'sym_button', data: { action: 'show_hide', sel: "#edit_#{new_contentpart.iid}, #new_contentpart_button" }
        = render 'contentparts/form', contentpart: new_contentpart, initially_hidden: true, cancel_action: cancel_action
      
    
  

