- h_page_title "Newsletter vom #{I18n.l @newsletter.send_at}"
- h_description truncate( strip_tags( @newsletter.content ), length: 250 )
- if @newsletter.has_picture?
  - h_image full_url_for( @newsletter.picture_contentpart.picture_twitter )


%h1
  Newsletter
  .subtitle
    von
    =l @newsletter.send_at
  

- if h_newsletter_editable?
  .action_buttons
    = link_to image_tag( 'sym/pencil_w100.svg' ),
          edit_newsletter_path( @newsletter ),
          class: 'sym_button', title: 'Newsletter ändern'
    = link_to image_tag( 'sym/bin_w100.svg' ),
          @newsletter, method: :delete,
          class: 'sym_button danger',
          title: 'Newsletter ändern',
          data: { confirm: "Willst du den Newsletter vom #{l @newsletter.send_at} wirklich löschen?\n\nDie Aktion kann nicht rückgängig gemacht werden" }
    = link_to image_tag( 'sym/envelope_w100.svg' ), '#test_newsletter', id: '#test_newsletter_button', class: 'sym_button', title: 'Sende einen Test-Newsletter...', data: { action: 'show_hide', sel: '#test_newsletter' }
    - if @newsletter.new?
      = link_to 'ready for mailing',
            ready_newsletter_path( @newsletter ),
            method: :put,
            class: 'button tiny'
    
  
  = render 'form_test', newsletter: @newsletter

%article.newsletter_detail{ class: @newsletter.status }
  - if !@newsletter.published? or h_is_editor?
    .status= @newsletter.status_text
  
  = render 'layouts/mailer_header'
  
  .main_newsletter
    = render 'newsletter_salutation_teaser', newsletter: @newsletter, name_text: '«Hanna Musterfrau»'
    
    .newsletter_content{ data: { editable: h_newsletter_editable? ? 'edit' : 'false' } }
      = render @newsletter.contentparts, is_editable: h_newsletter_editable?
    
    - if h_newsletter_editable?
      - new_contentpart = @newsletter.contentparts.build
      - cancel_action = capture do
        = link_to image_tag( 'sym/cross_w100.svg' ), "#", data: { action: 'show_hide', sel: "#edit_#{new_contentpart.iid}, #new_contentpart_button" }, class: 'sym_button'
      
      .action_buttons
        = link_to image_tag( 'sym/plus_w100.svg' ), '#new_contentpart', id: 'new_contentpart_button', class: 'sym_button', title: 'Neuen Inhalt anhängen', data: { action: 'show_hide', sel: "#edit_#{new_contentpart.iid}, #new_contentpart_button" }
      
      = render 'contentparts/form', contentpart: new_contentpart, initially_hidden: true, cancel_action: cancel_action
    
    %br
    = render 'articles/list_preview_mail', newsletter: @newsletter
    
    = render 'events/list_preview_mail', newsletter: @newsletter
    
    = render 'newsletter_storno', storno_url: unsubscribe_contact_url( Contact.first, ato: Contact.first.id_hash )
  
  = render 'layouts/mailer_footer'

