- h_page_title 'Statistiken Abrufe'
- h_description 'Aktuelle Seitenabrufe der Website'

%article.statistic_detail
  %h1.title
    Aktuelle Abrufe vom
    =l @today, format: :short_day
  
  .description
    %p Aktuelle Seitenabrufe der Website.
  
  .request_statistics
    %table
      %thead
        %tr
          %th.number heute
          %th.number{ colspan: 2 } gestern
          %th.number{ colspan: 2 }=l ( @today - 2.days ), format: :only_day
          %th.number{ colspan: 2 }=l ( @today - 3.days ), format: :only_day
          %th.number.separating{ colspan: 2 }=l ( @today - 4.days ), format: :only_day
          %th.number Diese<br>Woche
          %th.number{ colspan: 2 } Letzte<br>Woche
          %th.number{ colspan: 2 } Woche<br>davor
          %th.number{ colspan: 2 } Woche<br>davor
          %th.number{ colspan: 2 } Woche<br>davor
          %th Entität
          %th Inhalt
        
       
      
      %tbody
        %tr
          - d0 = @requests.inject( 0 ) { |sum,r| sum + ( r.first ? r.first.amount : 0 ) }
          - d1 = @requests.inject( 0 ) { |sum,r| sum + ( r.second ? r.second.amount : 0 ) }
          - d2 = @requests.inject( 0 ) { |sum,r| sum + ( r.third ? r.third.amount : 0 ) }
          - d3 = @requests.inject( 0 ) { |sum,r| sum + ( r.fourth ? r.fourth.amount : 0 ) }
          - d4 = @requests.inject( 0 ) { |sum,r| sum + ( r.fifth ? r.fifth.amount : 0 ) }
          - w0 = @requests.inject( 0 ) { |sum,r| sum + ( r[5] ? r[5].amount : 0 ) }
          - w1 = @requests.inject( 0 ) { |sum,r| sum + ( r[6] ? r[6].amount : 0 ) }
          - w2 = @requests.inject( 0 ) { |sum,r| sum + ( r[7] ? r[7].amount : 0 ) }
          - w3 = @requests.inject( 0 ) { |sum,r| sum + ( r[8] ? r[8].amount : 0 ) }
          - w4 = @requests.inject( 0 ) { |sum,r| sum + ( r[9] ? r[9].amount : 0 ) }
          
          %td.number= d0
          %td{ class: h_quot_class( d0, d1 ) }= "#{h_quot d0, d1}%" if d1 > 0
          %td.number= d1
          %td{ class: h_quot_class( d1, d2 ) }= "#{h_quot d1, d2}%" if d2 > 0
          %td.number= d2
          %td{ class: h_quot_class( d2, d3 ) }= "#{h_quot d2, d3}%" if d3 > 0
          %td.number= d3
          %td{ class: h_quot_class( d3, d4 ) }= "#{h_quot d3, d4}%" if d4 > 0
          %td.number.separating= d4
          
          %td.number= w0
          %td{ class: h_quot_class( w0, w1 ) }= "#{h_quot w0, w1}%" if w1 > 0
          %td.number= w1
          %td{ class: h_quot_class( w1, w2 ) }= "#{h_quot w1, w2}%" if w2 > 0
          %td.number= w2
          %td{ class: h_quot_class( w2, w3 ) }= "#{h_quot w2, w3}%" if w3 > 0
          %td.number= w3
          %td{ class: h_quot_class( w3, w4 ) }= "#{h_quot w3, w4}%" if w4 > 0
          %td.number= w4
          
          %td.entity alle
          %td &nbsp;
        
        - @requests.each do |request|
          %tr
            - #logger.debug "-- request:#{request.to_yaml}"
            - d0 = request.first ? request.first.amount : 0
            - d1 = request.second ? request.second.amount : 0
            - d2 = request.third ? request.third.amount : 0
            - d3 = request.fourth ? request.fourth.amount : 0
            - d4 = request.fifth ? request.fifth.amount : 0
            - w0 = request[5] ? request[5].amount : 0
            - w1 = request[6] ? request[6].amount : 0
            - w2 = request[7] ? request[7].amount : 0
            - w3 = request[8] ? request[8].amount : 0
            - w4 = request[9] ? request[9].amount : 0
            - request_with_entity = request.detect { |r| !r.blank? and !r.entity.blank? }
            - #logger.debug "-- request_with_entity:#{request_with_entity.to_yaml}"
            - #logger.debug "-- request_with_entity.entity:#{request_with_entity.entity.to_yaml}"
            
            %td.number= d0 if d0 > 0
            %td.number{ class: h_quot_class( d0, d1 ) }= "#{h_quot d0, d1}%" if d1 > 0
            %td.number= d1 if d1 > 0
            %td.number{ class: h_quot_class( d1, d2 ) }= "#{h_quot d1, d2}%" if d2 > 0
            %td.number= d2 if d2 > 0
            %td.number{ class: h_quot_class( d2, d3 ) }= "#{h_quot d2, d3}%" if d3 > 0
            %td.number= d3 if d3 > 0
            %td.number{ class: h_quot_class( d3, d4 ) }= "#{h_quot d3, d4}%" if d4 > 0
            %td.number.separating= d4 if d4 > 0
            
            %td.number= w0 if w0 > 0
            %td.number{ class: h_quot_class( w0, w1 ) }= "#{h_quot w0, w1}%" if w1 > 0
            %td.number= w1 if w1 > 0
            %td.number{ class: h_quot_class( w1, w2 ) }= "#{h_quot w1, w2}%" if w2 > 0
            %td.number= w2 if w2 > 0
            %td.number{ class: h_quot_class( w2, w3 ) }= "#{h_quot w2, w3}%" if w3 > 0
            %td.number= w3 if w3 > 0
            %td.number{ class: h_quot_class( w3, w4 ) }= "#{h_quot w3, w4}%" if w4 > 0
            %td.number= w4 if w4 > 0
            
            %td.entity= link_to( request_with_entity.entity_type, request_with_entity.entity )
            %td
              .preview_text
                = request_with_entity.entity.preview_text
            
      
    
  

