// Place all the styles related to the contentpart audio
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

$audio_bgcol: $dark_paper_col;

// ---------------------------------------------

.contentpart.audio {
  padding: 1rem 1.5rem;
  background-color: $audio_bgcol;
  
  audio{
    display: block;
    width: 100%;
  }
  
  .caption {
    margin-top: 1rem;
    padding: 0;
  }
}
@media ( min-width: $more_than_smartphone ) {
  .contentpart.audio {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
  }
}
