// Place all the styles related to the contentpart text picture
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

.contentpart.back_button {
  top: 0.25rem;
  margin: 0 1rem 1rem 0;
}
@media ( min-width: $more_than_smartphone ) {
  .contentpart.back_button {
    top: 0;
    left: 1.5rem;
  }
}
