// Place all the styles related to the contentpart text picture
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// --------------------------------------------

.contentpart.buttons_block {
  margin: 2rem 0;
  padding: 0 1.5rem;
  
  text-align: center;
  
  .button,
  form.button_to {
    display: block;
    width: 100%;
    margin: 0;
  }
  form.button_to {
    text-align: center;
  }
}
@media ( min-width: $more_than_smartphone ) {
  .contentpart.buttons_block {
    .button {
      display: inline-block;
      width: auto;
      margin-bottom: 1rem;
    }
  }
}

