// Place all the styles related to the contentpart text picture
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

.contentpart.img {
}
@media ( min-width: $more_than_smartphone ) {
  .contentpart.img {
    padding: 0 1.5rem;
    
    .picture {
      margin: 0;
    }
    .caption {
      padding-left: 1rem;
      padding-right: 1 rem;
    }
  }
}
@media (min-width: $min_width_plus_menu) {
  .contentpart.img {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: $large_screen_width ) {
  .contentpart.img {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

