// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

.contentpart.p {
  margin: 1rem 0;
  
  p {
    margin: 1rem 0;
    max-width: $max_text_width;
  }
}
@media ( min-width: $more_than_smartphone ) {
}

