// Place all the styles related to the contentpart text picture
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

.contentpart.sized_img {
  text-align: center;
}
@media ( min-width: $more_than_smartphone ) {
  .contentpart.sized_img {
    padding: 0 1.5rem;
  }
}
