// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

.contentpart.tile {
  display: block;
  width: 100%;
  margin: 1.5rem;
  padding: 1rem 0;
  
  color: $tile_col;
  background-color: $tile_bgcol;
  border-radius: 0.25rem;
  
  text-decoration: none;
  
  p {
    margin: 0 auto;
    max-width: $max_text_width;
  }
  
  strong {
    display: inline-block;
    margin-bottom: 0.5rem;
    color: $link_col;
    font-size: 1.19em;
  }
  
  a {
    display: inline-block;
    margin-top: 0.5rem;
    font-weight: bold;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
  
  .link_label {
    padding: 0 1rem;
    color: $link_col;
    
    font-weight: bold;
    text-decoration: none;
  }
  .info {
    padding: 0 1rem;
    color: $light_text_col;
  }
}
@media ( min-width: $more_than_smartphone ) {
}

