.badge_cell
  - if contact.is_prospect?
    .badge.prospect{ title: 'ist fremd eingetragen' } P
  
  - if contact.wants_news?
    .badge{ title: 'Newsletter-Abo' } N
  
  - if contact.offers_help?
    .badge.offers_help{ title: 'bietet Hilfe' } H
  
  - if contact.membership
    .badge.membership{ class: contact.membership.status, title: h_badge_membership_title( contact ) }= contact.membership.member? ? 'M' : 'A'
  
  - if contact.has_account?
    .badge.account{ title: 'hat Profil' } P
  

