= f.hidden_field :op_a
= f.hidden_field :op_b

- unless h_is_team_or_member?
  .field
    = f.label :solved, "Checker Frage: was ist #{f.object.op_a} plus #{f.object.op_b}?"
    = f.text_field :solved, placeholder: 'Bist du ein Checker?'
  
- else
  = f.hidden_field :solved

