- unless entity.has_picture?
  .picture.picture_preview= image_tag 'sym/image_missing_w100.svg', class: 'icon missing'
  
- else
  - if entity.picture_broken?
    .picture.preview= image_tag 'sym/image_broken_w100.svg', class: 'icon broken'
    
  - else
    .picture.picture_preview= image_tag entity.picture_preview
  

