- unless entity.has_picture?
  - if entity.is_a? Account
    .picture.thumb= image_tag 'default_user.jpg'
    
  - else
    .picture.thumb= image_tag 'sym/image_missing_w100.svg', class: 'icon missing'
  
- else
  - if entity.picture_broken?
    .picture.thumb= image_tag 'sym/image_broken_w100.svg', class: 'icon broken'
    
  - else
    .picture.thumb= image_tag entity.picture_thumb
  

