- with_icon = true unless defined? with_icon and with_icon == false
- separator = with_icon ? '' : '&bull;'.html_safe

- if h_app_feature? :mastodon_link
  = separator
  = link_to with_icon ? image_tag( 'logos/mastodon_logo.svg', size: '24x24' ) : 'Mastodon', h_app_value( :mastodon_link ), class: with_icon ? 'sym_button' : ''

- if h_app_feature? :linkedin_link
  = separator
  = link_to with_icon ? image_tag( 'logos/linkedin_logo_white.png', size: '24x24' ) : 'LinkedIn', h_app_value( :linkedin_link ), class: with_icon ? 'sym_button' : ''

- if h_app_feature? :instagram_handle
  = separator
  = link_to with_icon ? image_tag( 'logos/instagram_logo.svg', size: '23x23' ) : 'Instagram', "https://www.instagram.com/#{h_app_value :instagram_handle}/", class: with_icon ? 'sym_button' : ''

- if h_app_feature? :facebook_handle
  = separator
  = link_to with_icon ? image_tag( 'logos/facebook_logo.svg', size: '26x26' ) : 'Facebook', "https://www.facebook.com/#{h_app_value :facebook_handle}", class: with_icon ? 'sym_button' : ''

- if h_app_feature? :twitter_handle
  = separator
  = link_to with_icon ? image_tag( 'logos/twitter_logo.svg', size: '24x23' ) : 'Twitter', "https://twitter.com/#{h_app_value :twitter_handle}", class: with_icon ? 'sym_button' : ''
  
- if h_app_feature? :tiktok_handle
  = separator
  = link_to with_icon ? image_tag( 'logos/tiktok_logo.svg', size: '24x24' ) : 'TikTok', "https://www.tiktok.com/@#{h_app_value :tiktok_handle}?lang=de-DE", class: with_icon ? 'sym_button' : ''

