- toggle_id = 'not_set' unless defined? toggle_id

= link_to "#", class: 'action_toggler', data: { action: 'show_hide', sel: "##{toggle_id}, ##{toggle_id}_toggler" } do
	= image_tag( 'sym/3dots_s50.svg' )

