%h3
  Was möchtest du finden?

= form_tag search_path, method: :get do
  .field
    = label_tag :q, 'Suche'
    = text_field_tag :q, params[ :search ], placeholder: 'min. 3 Buchstaben...'
  
  .actions
    = submit_tag 'Suchen'
  

%script{ type: 'text/javascript' }= "$('input[type=text]').focus();".html_safe

%section.search_results
  - if @results.blank?
    %header.list_title keine Resultate
    %br
  - else
    %header.list_title= pluralize @results.count, 'Resultate'
    
    %ul.search_results_list
      - @results.each do |result|
        %li
          - case
          - when result.is_a?( Page )
            = render 'pages/preview', page: result
          
          - when result.is_a?( Account )
            = render 'accounts/search_preview', account: result
          
          - when result.is_a?( Article )
            = render 'articles/preview', article: result
          
          - when result.is_a?( Event )
            = render 'events/preview', event: result
          
          - when result.is_a?( Contact )
            = render 'contacts/preview', contact: result, all_info: h_is_admin?
          
          - when result.is_a?( Membership )
            = render 'memberships/preview', membership: result
          
        
      
    
  

