= form_for @argument do |f|
  - if @argument.errors.any?
    #error_explanation
      %h2= "#{pluralize(@argument.errors.count, "error")} prohibited this argument from being saved:"
      %ul
        - @argument.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :token
    = f.text_field :token
  .field
    = f.label :status
    = f.text_field :status
  .field
    = f.label :account
    = f.text_field :account
  .field
    = f.label :proposal
    = f.text_field :proposal
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Save'
