- if defined?( is_open ).nil?
  - is_open = false

%li
  .page_preview
    .short.will_toggle{ id: "wt_{registration.iid}", class: is_open ? 'open' : nil, data: h_show_page_toggler?( registration ) ? { action: 'toggle', sel: "#wbt_#{registration.iid}" } : nil }
      .end_aligned= render 'general/toggle_icon' if h_show_page_toggler? registration
      
      .title
        %strong= registration.contact.name_text
        \-
        = ( registration.participants || 0 ) + 1
        Teilnehmer
      
    
    .full.will_be_toggled{ id: "wbt_#{registration.iid}", class: is_open ? 'toggled_open' : nil }
      .preview{ id: registration.iid }
        .status= registration.status
        = [ registration.plz, registration.city ].join ' '
        %br
        = registration.emergency_nr
        
        %p= registration.requests
      
    
  

