- all_info = false unless defined? all_info
- date_separators = false unless defined? date_separators
- with_message = false unless defined? with_message

- unless registrations.blank?
  %ul.contacts_list
    - the_date = nil
    - registrations.each do |registration|
      - if the_date != registration.created_at.at_midnight and date_separators
        - the_date = registration.created_at.at_midnight
        %li.separator
          =l the_date, format: :short_day
        
      
      %li= render 'registrations/preview', registration: registration, all_info: all_info, with_message: with_message
    
  

