- all_info = false unless defined? all_info
- with_message = false unless defined? with_message

- unless all_info
  .contact_preview
    .label
      .name= registration.contact.first_name
    
    = render 'general/badge_cell', contact: registration.contact
    - if false #with_message
      = link_to image_tag( 'sym/envelope_w100.svg' ), new_constituency_message_path( @constituency ), remote: true, class: 'sym_button small'
    
  
- else
  = link_to registration.event, class: 'contact_preview' do
    .label
      .email= registration.contact.name_text
      .name
        = registration.event.title
        \-
        =l registration.event.starts_at, format: :short_day_time
      
    
    = render 'general/badge_cell', contact: registration.contact
    .angle= image_tag 'sym/angle_right_s25.svg'
  

