= form_for @stream do |f|
  - if @stream.errors.any?
    #error_explanation
      %h2= "#{pluralize(@stream.errors.count, "error")} prohibited this stream from being saved:"
      %ul
        - @stream.errors.full_messages.each do |message|
          %li= message
        
      
    
  
  .field
    = f.label :participant_email
    = f.email_field :participant_email, placeholder: 'z.B. lisa.muster@organisator.org'
  
  .actions
    = f.submit 'Starten'
  

