%ul.streams_list
  - streams.each do |stream|
    %li
      = link_to stream, class: 'preview stream_preview' do
        .status= stream.status
        .title= stream.title_text
        .description
          %em= time_ago_in_words stream.last_message_at
          &mdash;
          = truncate stream.last_message_text, length: 250
        
      
    
  

