Willkommen, <%= @contact.name_text %>,

Herzlich willkommen, wir haben dich als Mitglied aufgenommen.

<% if @contact.wants_news? %>
Wir schicken Dir gerne unseren Newsletter zu. Der kommt unregelmässig, immer dann, wenn es etwas substanziell Neues gibt.

Wenn du mehr möchtest, kannst du uns auch in den sozialen Medien folgen...
<% if h_app_feature? :twitter_handle %>
Twitter:
https://twitter.com/<%= h_app_value :twitter_handle %>
<% end %>
<% if h_app_feature? :instagram_handle %>
oder Instagram:
https://instagram.com/<%= h_app_value :instagram_handle %>
<% end %>
<% if h_app_feature? :facebook_handle %>
oder Facebook:
https://www.facebook.com/<%= h_app_value :facebook_handle %>
<% end %>
<% if h_app_feature? :tiktok_handle %>
oder TikTok:
https://www.tiktok.com/@<%= h_app_value :tiktok_handle %>?lang=de-DE
<% end %>
<% if h_app_feature? :mastodon_link %>
oder Mastodon:
<%= h_app_value :mastodon_link %>
folgen.
<% end %>
<% end %>

<% if @contact.offers_help? %>
Danke auch für dein Hilfe-Angebot.
Vielleicht kannst du uns in einer Antwort kurz schildern, was du gut kannst oder gerne tust oder wo du dir vorstellen kannst, dass du uns unterstützen könntest.

Da wir bisher noch wenige Aktive sind, wird es ein bisschen dauern, bis jemand auf dich zu kommt. Wir melden uns aber, versprochen.
<% end %>

Um deine Mitgliedschaft zu bestätigen, klicke bitte folgenden Link:
<%= @confirmation_link %>


<%= render 'general/mailer_regards' %>
