= form_for @event do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= I18n.t( 'errors.template.header', model: I18n.t( "activerecord.models.event.one" ), count: @event.errors.count )
      %ul
        - @event.errors.messages.each do |message|
          %li= I18n.t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.event.#{message.first}" )
        
      
    
  
  .field
    = f.label :title
    = f.text_field :title, placeholder: 'z.B. Vortrag Klimakrise', maxlength: 250
  
  .field
    = f.label :starts_at
    = f.datetime_select :starts_at
  
  .field
    = f.label :length
    = f.select :length, Event.select_length
  
  .field
    = f.label :description, 'Beschreibung'
    = f.text_field :description, placeholder: 'z.B. das wichtigste in max. 250 Zeichen', maxlength: 250
  
  .field
    = f.label :location
    = f.text_field :location, placeholder: 'z.B. 71670 Ludwigsburg', maxlength: 250
  
  .field
    = f.label :details
    = f.text_area :details, rows: 3, placeholder: 'z.B. die vollständige Beschreibung des Termins'
  
  .field
    = f.label :url
    = f.text_field :url, placeholder: 'z.B. https://ludwigsburg.de/veranstaltungen', maxlength: 250
  
  %fieldset
    %legend Anmeldungen
    
    .field
      = f.label :registration_starts_at
      .help_text Leer lassen, wenn keine Anmeldungen gewünscht.
      = f.datetime_select :registration_starts_at, include_blank: true
    
    .field
      = f.label :registration_ends_at
      = f.datetime_select :registration_ends_at, include_blank: true
    
    .field
      = f.label :max_registrations
      .help_text Wird diese Zahl Anmeldungen erreicht, wird die Anmeldung geschlossen. Leer lassen bei unbegrenzter Zahl Anmeldungen.
      = f.number_field :max_registrations
    
  
  .actions
    = cancel_action
    = f.submit
  

