= link_to event, class: "event_preview_tags" do
  .label_block Termin
  
  .info_block
    .date
      %span=l event.starts_at, format: :short
      - if event.longer_than_normal
        %span
          &mdash;
          =l event.ends_at, format: :short
        
      
    
    .name= event.title
  
  .next_arrow
    = image_tag 'sym/angle_right_s25.svg'
  

