= link_to event, class: 'preview', id: event.token do
  .next_arrow
    = image_tag 'sym/angle_right_s25.svg'
  
  .date
    %span=l event.starts_at, format: :short
    - if event.longer_than_normal
      %span
        &mdash;
        =l event.ends_at, format: :short
      
    
  
  .title= event.title
  
  = render 'tags/list_at_entity', entity: event
  
  - unless event.description.blank?
    .description
      = h_format_preview event.description, 250
    
  
  - unless event.location.blank?
    .location= event.location
  

