- h_title 'Terminkalender'
- h_description( h_page_description_for 'events' )

%h1.clearfix
  Terminkalender
  .action_buttons.end_aligned
    = link_to 'ical Abonnieren', "webcal://#{h_orga_domain}/events.ics", target: '_blank', class: 'button'
  

- if h_is_team?
  %p
    = link_to 'Neuer Termin...', new_event_path
  

- if @events.blank?
  %p ...keine aktuellen Termine geplant.
  
- else
  %ul.events_list
    - @events.each do |event|
      %li= render 'preview', event: event
    
  

