- h_page_title @event.title
- h_description truncate( strip_tags( @event.description ), length: 250 )

%article.event_detail
  .date= @event.starts_at_text
  
  %h1.title= @event.title
  
  = render 'tags/list_at_entity', entity: @event, editable: h_is_editor?
  
  - if h_is_editor?
    .action_buttons.internal
      - if h_event_editable?
        = link_to image_tag( 'sym/pencil_w100.svg' ),
              edit_event_path( @event ),
              class: 'sym_button', title: 'Artikel ändern'
        = link_to image_tag( 'sym/bin_w100.svg' ),
              @event, method: :delete, class: 'sym_button danger', data: { confirm: "Willst Du den Termin mit dem Titel '#{@event.title}' wirklich löschen?\n\nDie Aktion kann nicht rückgängig gemacht werden." }, title: 'Artikel löschen'
      
      .help_text.end_aligned
        = current_account.status.capitalize
        Funktionen
      
    
  
  .description= @event.description
  .location= @event.location
  .details= h_format @event.details
  
  - unless @event.url.blank?
    .link
      Mehr Infos:
      %br
      = link_to nil, @event.url, target: '_blank'
    
  
  - if @event.registration_enabled?
    .action_buttons
      - if @event.registration_possible?
        = link_to 'Anmelden', new_event_registration_path( @event ), class: 'button'
        - if @event.remaining_registrations
          %span.hint_text
            Noch
            = @event.remaining_registrations
            Mal möglich
          
        
      - elsif @event.sold_out?
        %span Ausgebucht!
        
      - elsif @event.registration_not_started?
        %span
          Anmeldung beginnt
          =l @event.registration_starts_at, format: :very_short_day
        
      - elsif @event.registration_passed?
        %span Anmeldung nicht mehr möglich.
      
    
  
  - if h_is_editor?
    %hr
    %h4 Details zu Anmeldungen
    %p
      %em Anmeldebeginn:
      - unless @event.registration_starts_at.blank?
        =l @event.registration_starts_at, format: :short_day_time
      - else
        %span.help_text keiner
      
      %br
      %em Anmeldeende:
      - unless @event.registration_ends_at.blank?
        =l @event.registration_ends_at, format: :short_day_time
      - else
        %span.help_text keins
      
    
      %br
      %em Maximale Anmeldungen:
      - unless @event.max_registrations.blank?
        = @event.max_registrations
      - else
        %span.help_text keine
      
    
    %h4
      = pluralize @event.registrations.count, 'Anmeldungen'
    
    - if h_is_admin?
      %ul.contacts_list
        - @event.registrations.each do |registration|
          %li
            = render 'registrations/details', registration: registration
          
        
      
    
  

