- initially_hidden = false unless defined? initially_hidden
- cancel_action = nil unless defined? cancel_action

= form_for [ @answer.question, @answer ] do |f|
  - if @answer.errors.any?
    #error_explanation
      %h2=t( 'errors.template.header', model: I18n.t( "activerecord.models.answer.one" ), count: @answer.errors.count )
      %ul
        - @answer.errors.messages.each do |message|
          %li=t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.answer.#{message.first}" )
        
      
    
  
  .field
    = f.label :status
    = f.select :status, Answer::STATUS_OPTIONS
  
  .field
    = f.label :content
    = f.text_area :content, rows: 5, placeholder: 'z.B. Wir arbeiten hart daran.'
  
  .actions
    = cancel_action
    = f.submit
  

