- cancel_action = nil unless defined? cancel_action
- initially_hidden = false unless defined? initially_hidden

= form_for [ :admin, @payment ], class: initially_hidden ? 'initially_hidden' : nil do |f|
  - if @payment.errors.any?
    #error_explanation
      %h2= I18n.t( 'errors.template.header', model: I18n.t( "activerecord.models.payment.one" ), count: @payment.errors.count )
      %ul
        - @payment.errors.messages.each do |message|
          %li= I18n.t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.payment.#{message.first}" )
        
      
    
  
  = f.hidden_field :membership_token
  
  .field
    = f.label :amount
    = f.text_field :amount
  
  .field
    = f.label :paid_at
    = f.date_select :paid_at
  
  .actions
    = cancel_action
    = f.submit class: 'button main'
  

