- cancel_action = nil unless defined? cancel_action
- initially_hidden = false unless defined? initially_hidden

= form_for [ :admin, payment ], html: { id: 'membership_search_form', class: initially_hidden ? 'initially_hidden' : nil } do |f|
  - if payment.errors.any?
    #error_explanation
      %h2= I18n.t( 'errors.template.header', model: I18n.t( "activerecord.models.payment.one" ), count: payment.errors.count )
      %ul
        - payment.errors.messages.each do |message|
          %li= I18n.t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.payment.#{message.first}" )
        
      
    
  
  .field
    = f.label :membership_token, 'Name oder Mitgliedsnummer'
    = f.text_field :membership_token, placeholder: 'z.B. aBc4d'
  
  .results_block
    %ul.membership_list_in_payment_form
      - Membership.all_with_names.each do |membership|
        %li{ data: { label: [ membership.token, membership.contact.name_text ].join( ' ' ) } }
          = link_to new_admin_membership_payment_path( membership ), class: 'membership_preview' do
            .token= membership.token
            .name= membership.contact.name_text
            .arrow= image_tag 'sym/angle_right_s25.svg'
          
        
      
    
  
  .actions
    = cancel_action
    = f.submit class: 'button main'
  

