.preview.payment_preview.will_toggle{ data: { action: 'toggle', sel: "##{payment.iid}_details" } }
  .toggle_icon= render 'general/toggle_icon'
  .token= payment.membership.token
  = link_to payment.membership.contact.name_text, admin_membership_shares_path( payment.membership ), class: 'name'
  .amount= number_to_currency payment.amount

.payment_detail.will_be_toggled{ id: "#{payment.iid}_details" }
  - if h_payment_editable?( payment )
    .action_buttons
      = link_to image_tag( 'sym/pencil_w100.svg' ),
            edit_admin_payment_path( payment ),
            class: 'sym_button', title: 'Zahlung ändern'
      = link_to image_tag( 'sym/bin_w100.svg' ),
            admin_payment_path( payment ), method: :delete,
            class: 'sym_button danger',
            title: 'Zahlung löschen',
            data: { confirm: "Willst du die Zahlung von '#{payment.membership.contact.name_text}' wirklich löschen?" }
      
  verbucht von
  = payment.creator.name_text
  %br
  am
  =l payment.updated_at, format: :very_short_day_time

