%h1 Alle Zahlungen

%section.new_payment_section
  = render 'form_membership', payment: @new_payment

%section.index_payment_section
  %h3 Letzte verbuchte Zahlungen
  %ul.payments_list
    - the_date = Time.mktime( 1970, 1, 1 )
    - @payments.each do |payment|
      - if the_date != payment.paid_at.at_midnight
        - the_date = payment.paid_at.at_midnight
        %li.separator
          =l the_date, format: :short_day
        
      
      %li= render 'list_entry', payment: payment
    
  

