- cancel_action = capture do
  = link_to 'Abbrechen', admin_payments_path, class: 'button'

.share_page
  = render 'contacts/show_header', contact: @membership.contact
  
  = render 'admin/accounts/tabs', contact: @membership.contact, active_tab: 'shares'
  
  .share_details
    - if @membership.transactions.size > 0
      = render 'admin/shares/transactions_list', membership: @membership
    
    = render 'form', cancel_action: cancel_action
    
    = render 'admin/shares/transactions_summary', membership: @membership
  

