- cancel_action = capture do
  = link_to 'Abbrechen', root_path, class: 'button secondary'

- unless h_is_admin?
  %h1 Ihre Bestellanfrage
  
  = render 'general/progress_steps', step: @order.step.to_i, max_steps: 5
  
  = render "form_#{@order.step}", cancel_action: cancel_action
  
- else
  %h1 Bestellanfrage
  
  = render 'form', cancel_action: cancel_action

