- cancel_action = capture do
  = link_to 'Abbrechen', root_path, class: 'button secondary'


%h1 Bestellanfrage aufgeben
%p
  Sie möchten etwas bestellen?
  %br
  Hier können Sie auswählen, was Sie brauchen.

= render 'general/progress_steps', step: @order.step.to_i, max_steps: 5

%p.help_text
  Im Folgenden finden Sie
  %strong unverbindliche Richtpreise
  inklusive Mehrwertsteuer und Versand innerhalb Deutschlands.
  %br
  %strong Bestellungen ins Ausland
  können sie unverbindlich anfragen.

%p.help_text
  Nach Abschluss der Bestellanfrage erhalten sie eine Rechnung von uns.

= render "form_#{@order.step.to_i}", cancel_action: cancel_action

