- h_page_title "Bestellung"
- h_description "Bestellung von #{@order.contact ? @order.contact.name_text : 'unbekannt'}"

%article.order_detail
  %h1 Bestellanfrage
  
  .status{ class: @order.status }
    = @order.status
  
  .date
    vom
    =l @order.created_at
  
  .action_buttons
    - if h_is_admin?
      = link_to image_tag( 'sym/pencil_w100.svg' ), edit_order_path( @order ), class: 'sym_button'
      = link_to image_tag( 'sym/bin_w100.svg' ), @order, method: :delete, class: 'sym_button danger', data: { confirm: "Willst du wirklich die Bestellanfrage '#{@order.token} löschen?\n\nDie Aktion kann nicht rückgängig gemacht werden." }
    
  
  %p
    Bestellnummer:
    %br
    %strong= @order.token
    
  = render 'show_detail', order: @order

