= form_for @page do |f|
  - if @page.errors.any?
    #error_explanation
      %h2=t( 'errors.template.header', model: I18n.t( "activerecord.models.page.one" ), count: @page.errors.count )
      %ul
        - @page.errors.messages.each do |message|
          %li=t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.page.#{message.first}" )
        
      
    
  
  .field
    = f.label :status
    = f.select :status, Page.select_status
    .help_text Welche Stufe braucht es mindestens, um die Seite ansehen zu können?
  
  .field
    = f.check_box :activate_kind
    = f.label :activate_kind
    .help_text Soll ein alternatives Seiten Layout verwendet werden?
  
  .field
    = f.label :kind
    = f.text_field :kind
    .help_text Welchen Namen der Stil-Klasse soll die Seite verwenden?
  
  .field
    = f.label :parent_id
    = f.collection_select :parent_id, Page.all, :id, :path, include_blank: 'keine'
    .help_text Unter welcher anderen Seite soll diese in der Navigation hierarchisch eingeordnet sein?
  
  .field
    = f.label :path
    = f.text_field :path, placeholder: 'z.B. meine_neue_seite'
    .help_text
      Unter welchem URL-Pfad soll die Seite zu finden sein (ohne
      = root_url
      ), ohne führenden Slash bzw. Schrägstrich
    
  
  .field
    = f.label :title
    = f.text_field :title
    .help_text Welche Überschrift soll ganz oben auf der Seite stehen und als Titel der Seite in Vorschauen angezeigt werden?
  
  .field
    = f.label :menu
    = f.text_field :menu
    .help_text Unter welchem Text soll die Seite im Menu auftauchen? Bei leerem Text taucht sie nicht im Menu auf
  
  .field
    = f.label :position
    = f.text_field :position
    .help_text An welcher Position soll die Seite im Menu angezeigt werden oder in der Seitenliste auftauchen?
  
  .field
    = f.label :description
    = f.text_area :description, rows: 5, placeholder: 'z.B. Meta-Information zur Seite, die bei der Social Media Vorschau eingeblendet werden sollen'
    .help_text Welcher Kurzbeschreibungstext soll zur Seite angezeigt werden?
  
  .actions
    = cancel_action
    = f.submit
  

