- if defined?( is_open ).nil?
  - is_open = false

%li
  .page_preview
    .short.will_toggle{ id: "wt_{page.iid}", class: is_open ? 'open' : nil, data: h_show_page_toggler?( page ) ? { action: 'toggle', sel: "#wbt_#{page.iid}" } : nil }
      .end_aligned= render 'general/toggle_icon' if h_show_page_toggler? page
      
      .menu{ title: 'Im Menu sichtbar als' }
        .badge{ title: 'Position in Reihenfolge der Seiten' }= page.position
        - if page.menu.blank?
          %em kein Menu-Eintrag
        - else
          = page.menu
        
      
      .url= page.link_url
      
    
    .full.will_be_toggled{ id: "wbt_#{page.iid}", class: is_open ? 'toggled_open' : nil }
      = link_to page, class: 'preview', id: page.iid do
        .status= page.status
        .next_arrow
          = image_tag 'sym/angle_right_s25.svg'
        
        - if page.title.blank?
          .help_text dynamisch generierte Seite
          
        - else
          .title{ title: 'Titel der Seite' }= page.title
        
        .description= page.description
      
      - unless page.pages.blank?
        %ul.sub_pages_list
          = render partial: 'pages/preview', collection: page.pages, as: :page
        
      
    
  

