- cancel_action = capture do
  = link_to 'Abbrechen', @page.resource? ? pages_path : @page, class: 'button'

%h1 Seiteneinstellungen

= render 'form', cancel_action: cancel_action

.action_buttons
  oder die Seite ganz löschen...
  %br
  = link_to image_tag( 'sym/bin_w100.svg' ), @page, method: :delete, data: { confirm: "Willst Du die Seite mit dem Titel '#{@page.title}' wirklich löschen?\n\nDie Aktion kann nicht rückgängig gemacht werden." }, class: 'sym_button danger'

