%h1 Seiten

%p Hier kannst du neue allgemeine Seiten für die Website anlegen oder existierende bearbeiten.
- if h_is_editor?
  %p
    = link_to 'Neue Seite', new_page_path, class: 'button'
    anlegen
  

%ul.pages_list
  = render 'example' if @pages.size < 5
  
  %li.separator Seiten im Menu
  = render partial: 'preview', collection: @pages_menu, as: :page
  
  %li.separator Seiten ohne Menueintrag
  = render partial: 'preview', collection: @pages_outside, as: :page
  

