%h1= h_orga_name
%h2 ist eine Open Source Community Platform für Gruppen, Initiativen, Vereine oder Genossenschaften

%p.list_title
  Sie bietet Funktionalität für

%ul
  %li statische Web-Seiten und blogähnliche Artikel
  %li Termine in abonnierbarem Kalender
  %li Mitgliedsbeitritt halb-digital mit Antrag-PDF
  %li Zeichnung und Zuteilung von Anteilen
  %li Registrierung für Newsletter und Versand
  %li &raquo;Selbstbedienung&laquo; durch Mitgliederprofile
  %li Wahlen und Abstimmungen mit Systemischem Konsensieren

= render 'articles/teaser', articles: Article.published.latest( 3 )

%p
  Die Plattform basiert technisch auf
  = link_to 'RubyOnRails', 'https://rubyonrails.org'
  %br
  Funktionen werden mit den Rails Standardmechanismen umgesetzt und als Blanko-WebApp angeboten um eine Modifikation für spezifische Organisationen so einfach, wie möglich zu machen.

%p
  Das Erscheinungsbild kann sehr einfach mit eigener Farb-Palette und Zeichensätzen angepasst werden.

%p
  Der Quell-Code ist
  = link_to 'auf gitlab zu finden', 'https://gitlab.com/magnusmunter/organisator', target: '_blank'
  %br
  Eigene Instanzen lassen sich selbst hosten oder kontaktiere
  = link_to 'Magnus Rembold', 'mailto:magnus.rembold@munterbund.de', target: '_blank'
  für unkomplizierte Unterstützung.

= render 'events/teaser', events: Event.upcoming( 3 )

%p
  Mach mit, abonniere unseren Newsletter oder folge uns auf Social Media

.action_buttons
  = link_to 'Abonnieren', new_contact_path, class: 'button'
  
  = render 'general/social_media_buttons'

