- h_page_title @page.title
- h_description truncate( strip_tags( @page.description ), length: 250 )
- if @page.has_picture?
  - h_image url_for( @page.picture.picture_twitter )

- h_page_klass @page.kind

%article.page_detail
  - unless @page.published?
    .status= @page.status
  
  - unless @page.title.blank?
    %h1.title= @page.title
  
  - if h_is_editor?
    .action_buttons.internal
      .help_text
        = current_account.status.capitalize
        Funktionen
      
      - if @page.unlocked?
        = link_to image_tag( 'sym/lock_w100.svg' ),
            switchlock_page_path( @page ),
            method: :put,
            class: 'sym_button',
            title: 'gegen Bearbeitung abschliessen'
      - else
        = link_to image_tag( 'sym/unlock_w100.svg' ),
            switchlock_page_path( @page ),
            method: :put,
            class: 'sym_button',
            title: 'zur Bearbeitung aufschliessen'
      
      = link_to image_tag( 'sym/pencil_w100.svg' ),
          edit_page_path( @page ),
          class: 'sym_button',
          title: 'Seite ändern'
      = link_to image_tag( 'sym/bin_w100.svg' ),
          @page, method: :delete,
          class: 'sym_button danger',
          title: 'Seite löschen',
          data: { confirm: "Willst du die Seite '#{@page.title}' wirklich löschen?\n\nDie Aktion kann nicht rückgängig gemacht werden." }
      = link_to image_tag( 'sym/list_w100.svg' ), pages_path, class: 'sym_button', title: 'Zur Liste aller Seiten'
    
  
  = render 'contentparts/content_block', container: @page, is_editable: h_page_editable?

