.field
  = f.check_box :wants_form, data: { action: 'checkbox_switch', sel: '#address_block' }
  = f.label :wants_form, h_is_admin? ? 'möchte auch Post' : 'Bitte sendet mir auch Post'

#address_block.initially_hidden
  .field
    = f.label :street
    = f.text_field :street, placeholder: 'z.B. Hauptstraße'
  
  .field
    = f.label :housenr
    = f.text_field :housenr, placeholder: 'z.B. 16/A'
  
  
  .field
    = f.label :city
    = f.text_field :city, placeholder: 'z.B. Hintertupfingen'
    .help_text Postleitzahl bitte oben eintragen.
  

