- cancel_action = nil unless defined? cancel_action

= form_for contact, html: { class: 'without_border' } do |f|
  - if contact.errors.any?
    #error_explanation
      %h2= I18n.t( 'errors.template.header', model: I18n.t( "activerecord.models.contact.one" ), count: contact.errors.count )
      %ul
        - contact.errors.messages.each do |message|
          %li= I18n.t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.contact.#{message.first}" )
        
      
    
  
  = hidden_field_tag 'redirect_to', community_path
  
  .field
    = f.label :plz
    = f.text_field :plz, value: @plz, placeholder: 'z.B. 12345'
    .hint_text Damit hilfst du uns bei der Vernetzung und neuen Regionalgruppen.
  
  .actions
    = cancel_action
    = f.submit 'Für dich sichern'
  

