- cancel_action = nil unless defined? cancel_action

= form_for @contact do |f|
  - if @contact.errors.any?
    #error_explanation
      %h2= I18n.t( 'errors.template.header', model: I18n.t( "activerecord.models.contact.one" ), count: @contact.errors.count )
      %ul
        - @contact.errors.messages.each do |message|
          %li= I18n.t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.contact.#{message.first}" )
        
      
    
  
  .field
    = f.label :status
    = f.select :status, Contact.t_status_select
  
  .field
    = f.label :email
    = f.email_field :email, placeholder: 'z.B. lisa.muster@posteo.de'
  
  .field
    = f.label :first_name
    = f.text_field :first_name, placeholder: 'z.B. Lisa'
  
  .field
    = f.label :last_name
    = f.text_field :last_name, placeholder: 'z.B. Muster'
  
  %fieldset
    %legend Adresse
    
    .field
    = f.label :street
    = f.text_field :street, placeholder: 'z.B. Hauptstrasse'
    
    .field
    = f.label :housenr
    = f.text_field :housenr, placeholder: 'z.B. 12B'
    
    .field
    = f.label :plz
    = f.text_field :plz, placeholder: 'z.B. 12345'
    
    .field
    = f.label :city
    = f.text_field :city, placeholder: 'z.B. Ortshausen'
  
  .field
    = f.label :phone_nr
    = f.text_field :phone_nr, placeholder: 'z.B. +49 170 123 4567'
  
  .field
    = f.check_box :wants_news
    = f.label :wants_news, "Newsletter abonniert"
  
  .field
    = f.check_box :offers_help
    = f.label :offers_help, "bietet Hilfe an"
  
  .field
    = f.label :remarks
    .help Internes Feld, um z.B. einen Kommunikationsverlauf mit Notizen festzuhalten.
    
    = f.text_area :remarks, rows: 5, placeholder: 'z.B. Telefonat am 12.3.: will Infomaterial'
  
  .actions
    = cancel_action
    = f.submit 'Sichern'
  

