- all_info = false unless defined? all_info
- with_message = false unless defined? with_message

- unless all_info
  .contact_preview
    .label
      .name= contact.first_name
    
    = render 'general/badge_cell', contact: contact
    - if false #with_message
      = link_to image_tag( 'sym/envelope_w100.svg' ), new_constituency_message_path( @constituency ), remote: true, class: 'sym_button small'
    
  
- else
  = link_to contact, class: 'contact_preview' do
    .label
      - if contact.confirmed?
        .email= contact.email
      - else
        .email.unconfirmed= contact.email
      
      - if contact.is_prospect?
        .name.prospect= contact.name_text
      - else
        .name= contact.name_text
      
    = render 'tags/list_at_entity', entity: contact
    
    = render 'general/badge_cell', contact: contact
    .angle= image_tag 'sym/angle_right_s25.svg'
  

