= link_to contact, class: "contact_preview_tags" do
  .label_block Kontakt
  
  - if contact.account and contact.account.has_picture?
    = render 'general/picture_thumb', entity: contact.account
  
  .info_block
    - if contact.confirmed?
      .email= contact.email
    - else
      .email.unconfirmed= contact.email
    
    - if contact.is_prospect?
      .name.prospect= contact.name_text
    - else
      .name= contact.name_text
    
  
  .next_arrow
    = image_tag 'sym/angle_right_s25.svg'
  

