%h1{ class: 'contact' + ( contact.is_prospect? ? ' prospect' : '' ) }= contact.name_text

= render 'tags/list_at_entity', entity: contact, editable: h_is_admin?

- if contact.is_prospect?
  %p.help_text fremd eingetragener Kontakt

%p.sub_header
  = contact.email
  = link_to image_tag( 'sym/envelope_w100.svg' ), new_contact_message_path( contact ), remote: true, class: 'sym_button', title: 'E-Mail an Kontakt senden'

#new_message.remote_form.initially_hidden
