- if contact.account == current_account
  %h4 Deine Kontaktdaten
- else
  %h4 Kontaktdaten

%p
  Name:
  %strong= contact.name_text
  %br
  
  E-Mail:
  - if contact.confirmed?
    %strong= contact.email
  - else
    = contact.email
    %em (nicht bestätigt)
  
  - if contact.confirmed?
    = image_tag 'sym/tick_mark.svg', size: '20x20'
  
  - unless contact.phone_nr.blank?
    %br
    Telefon:
    %strong= contact.phone_nr
  
  - if contact.has_partial_address?
    %h4 Adresse
    %p
      - if contact.street_nr_text
        %strong= contact.street_nr_text
        - unless contact.plz_city_text.blank?
          %br
        
      
      - unless contact.plz_city_text.blank?
        - if contact.city.blank?
          PLZ:
        
        %strong= contact.plz_city_text
      
    
  

%p
  - if contact.wants_news?
    %strong will Newsletter
    %br
  
  - if contact.offers_help?
    %strong bietet Hilfe an
  
- unless contact.remarks.blank?
  %h4 Interne Bemerkungen
  %p= h_format contact.remarks

%p.help_text
  eingetragen seit:
  =l contact.created_at, format: :short_day

