- logger.debug "> subform_membership - #{form} - #{contact}"

= form.fields_for :contact, contact do |f|
  .field
    = f.label :email
    = f.email_field :email, placeholder: 'z.B. lisa.muster@posteo.de'
  
  .field
    = f.label :first_name
    = f.text_field :first_name, placeholder: 'z.B. Lisa'
  
  .field
    = f.label :last_name
    = f.text_field :last_name, placeholder: 'z.B. Muster'
  

