- logger.debug "> subform_registration - #{form} - #{contact}"

= form.fields_for :contact, contact do |f|
  = render 'contacts/field_email', f: f
  
  .field
    = f.label :first_name, 'Vorname*'
    = f.text_field :first_name, placeholder: 'z.B. Lisa'
  
  .field
    = f.label :last_name, 'Nachname*'
    = f.text_field :last_name, placeholder: 'z.B. Muster'
  
  = render 'contacts/fields_privacy_news', f: f

