- logger.debug "> subform_account - #{form} - #{contact}"

= form.fields_for :contact, contact do |f|
  .field
    = f.label :email, 'E-Mail'
    = f.email_field :email, placeholder: 'z.B. lisa.muster@posteo.de'
    = render 'general/email_help'
  
  .field
    = f.label :first_name, 'Vorname'
    = f.text_field :first_name, placeholder: 'z.B. Lisa'
  
  .field
    = f.label :last_name, 'Nachname'
    = f.text_field :last_name, placeholder: 'z.B. Muster'
  
  .field
    = f.check_box :read_privacy
    = f.label :read_privacy do
      Ich habe die
      = link_to 'Hinweise zum Datenschutz', '/datenschutz'
      gelesen
    
  
  .field
    = f.check_box :wants_news
    = f.label :wants_news, "Ich möchte den Newsletter abonnieren"
  
  = render 'general/checker_question', f: f

