%h1= @successful ? 'Danke' : 'Problem'

- if @successful
  %p
    Deine Bestätigung
    %strong war erfolgreich.
    %br
    Vielen Dank für Dein Interesse.
  
  - if @contact.wants_news?
    %p
      Der nächste Newsletter geht auch an Dich. Vielen Dank für Dein Interesse.
    
  - if @contact.has_account?
    %p
      Probiere doch gleich mal, ob Du Dich anmelden kannst und schau Dich im internen Bereich um...
      %br
      = link_to 'Login', login_path, class: 'button'
    
  
- else
  %p
    Der Link ist leider
    %strong nicht korrekt.
    %br
    Versuche die Bestätigung nochmals. Kann es sein, dass der Link abgeschnitten oder falsch umgebrochen war?
  

