%h1
  = pluralize Contact.count, 'Kontakte'
  
  .action_buttons
    = render 'general/toggle_button_actions', toggle_id: 'contact_actions'
  

.action_buttons.initially_hidden#contact_actions
  .button_block
    = link_to 'Neu', new_contact_path, class: 'button'
    .hint_text Neuen Kontakt eintragen
  
  .button_block
    = link_to email_address_contacts_path, class: 'sym_button' do
      = image_tag 'sym/envelope_w100.svg'
    
    .hint_text Alle E-Mail Adressen abrufen
  

%h3 Alle E-Mail Adressen
%p.copy_text_block
  = @contact_emails.uniq.compact.join( ', ' )

