%h1
  - if @letter_selected.blank?
    = pluralize Contact.count, 'Kontakte'
  - else
    = pluralize @contacts.count, 'Kontakte'
    = "mit '#{@letter_selected}'"
  
  .action_buttons
    = render 'general/toggle_button_actions', toggle_id: 'contact_actions'
  

.action_buttons.initially_hidden#contact_actions
  .button_block
    = link_to 'Neu', new_contact_path, class: 'button'
    .hint_text Neuen Kontakt eintragen
  
  .button_block
    = link_to email_address_contacts_path, class: 'sym_button' do
      = image_tag 'sym/envelope_w100.svg'
    
    .hint_text Alle E-Mail Adressen abrufen
  

- if @letter_selected.blank?
  %ul.info_list
    %li
      davon
      = link_to pluralize( Contact.new_all.count, 'Kontakte' ), contacts_path( letter: 'unconfirmed' )
      unbestätigt
    
    %li
      davon
      = link_to pluralize( Contact.wants_news.count, 'Kontakte' ), contacts_path( letter: 'newsletter' )
      wollen Newsletter
    %li
      davon
      = link_to pluralize( Contact.offers_help.count, 'Kontakte' ), contacts_path( letter: 'help' )
      bieten Hilfe an
    
  

%ul.letters_list
  %li= link_to 'alle', contacts_path
  
  - @letters.each do |letter|
    - the_letter = letter.letter.capitalize
    - the_letter = '*' if letter.letter.blank?
    
    %li= link_to the_letter, contacts_path( letter: the_letter )
  

- if @letter_selected.blank?
  %h3 Letzte registrierte Kontakte

= render 'list', contacts: @contacts, all_info: h_is_admin?, date_separators: @letter_selected.blank?

