- h_title 'In Kontakt bleiben'
- h_description 'Hier kannst Du Dich für unseren Newsletter eintragen, Unterstützung anbieten und bleibst immer als Erstes informiert.'
- # --------------------------------------------
%h1 In Kontakt bleiben
%p
  Wenn Du uns Deine E-Mail hinterlässt, nehmen wir gerne Kontakt mit Dir auf oder senden Dir unseren Newsletter zu.

- if h_app_feature? :allow_membership
  %p
    Möchtest Du gleich Mitglied werden?
    %br
    Dann bitte
    = link_to 'hier entlang', new_membership_path
  

- if h_is_admin?
  = render 'form_admin'
- else
  = render 'form'

