- h_page_title 'Neuen Kontakt eintragen'
- h_description 'Neue Kontaktdaten in die Community Datenbank eintragen'
- # --------------------------------------------
%h1 Neuen Kontakt eintragen
%p.help_text
  Bitte zuerst mit der Suchlupe im Menu nach dem Nachnamen schauen. Eventuell ist der Kontakt schon vorhanden.

= render 'form_admin'
