- h_page_title "Deine Spende zu #{@donation.funding.title}"

%article.donation_detail
  - unless h_is_admin?
    .status= @donation.status
  
  %h1.title
    Deine Spende
    - if @donation.reward
      mit Dankeschön
    
  
  - if false
    .action_buttons
      - if false # h_donation_editable?
        = link_to image_tag( 'sym/pencil_w100.svg' ),
              edit_donation_path( @donation ),
              class: 'sym_button', title: 'Spende ändern'
        = link_to image_tag( 'sym/bin_w100.svg' ),
              @donation, method: :delete,
              class: 'sym_button danger',
              title: 'Spende löschen',
              data: { confirm: "Willst du die Spende wirklich löschen?" }
      
    
  
  .date=l @donation.created_at
  .author
    von
    - if h_page_accessible?( 'accounts' ) and @donation.contact.account
      - account = @donation.contact.account
      = link_to account.displayname, account
      
    - else
      = @donation.contact.name_text
    
  
  - if @donation.reward
    .reward_summary
      .label Du hast dich entschieden für:
      .reward_line
        .end_aligned
          = number_to_currency @donation.reward.price
        
        %strong= @donation.reward.title
      
    
  
  .donation_instructions
    .donation_sum
      .end_aligned
        = number_to_currency @donation.sum
      Bitte überweise
      %br
      auf das Konto mit der Nummer
      %br
      %strong= h_app_value( :funding_account_nr )
    
    %p
      Gib bitte
      %strong.reference_nr
        Spende
        = @donation.token
      
      bei deiner Überweisung als Verwendungszweck an.
    
    %p
      Sobald deine Spende eingegangen ist, können wir das Dankeschön für dich reservieren.
    
    %br
    %p
      Deine Spendenbescheinigung senden wir an
      %br
      %strong= @donation.contact.name_text
      %br
      %strong= @donation.contact.street_nr_text
      %br
      %strong= @donation.contact.plz_city_text
    
  
  - if false
    .action_buttons
      - if true
        = link_to 'Freigeben', publish_article_path( ), method: :put, class: 'button'
        = link_to image_tag( 'sym/pencil_w100.svg' ), edit_donation_path( @donation ), class: 'sym_button', title: 'Spende ändern'
      
    
  

