- description = 'in deiner Umgebung' unless defined?( description ) and !description.blank?
- link = community_search_path unless defined?( link ) and !link.blank?

= link_to link, class: "accounts_tile#{accounts.count > 0 ? '' : ' empty'}" do
  .content
    - if h_show_avatars?( accounts )
      .avatars
        - h_avatar_accounts( accounts ).each_with_index do |account,i|
          .picture.thumb{ style: "left: #{i*3}rem;" }= image_tag( ( account.picture_broken? ? 'sym/image_broken_w100.svg' : account.picture_thumb ), class: ( account.picture_broken? ? 'icon broken' : '' ) )
        
      
    
    .title= h_accounts_names( accounts )
    .description
      - if h_additional_count( accounts ) > 0
        und
        %strong
          = h_additional_count( accounts )
          weitere
        
      
      = description
    
  
  .arrow= image_tag 'sym/angle_right_s25.svg'

