= link_to account, class: "account_tile" do
  .pic_n_name
    = render 'general/picture_thumb', entity: account
    .text
      .title= account.displayname_text
      .label= account.label
    
  
  - if account.description
    .description
      = truncate account.description, length: 100
    
  
  .link Profil ansehen &rsaquo;

