= form_with url: community_search_path, local: true do |f|
  .field
    = f.label :query, 'Deine PLZ'
    = f.text_field :query, placeholder: 'z.B. 04321'
  
  .actions
    = f.submit 'Suche in der Nähe'
  

