%article.community_index
  %h1
    = Account.count
    Mitglieder in der Gemeinschaft
  
  - if current_account
    = render 'community_details'
  
  .search_block
    %h3 Suche nach Mitgliedern
    %p
      Du suchst Gruppen in deiner Nähe?
      %br
      Oder einfach andere Interessierte für einen netten Austausch?
    
    = render 'form_search'
  

