%article.community_show
  %h1
    = @accounts.count
    neue Mitglieder in der letzten Woche
  
  %ul.account_tile_list
    - @accounts.each do |account|
      %li
        = render 'account_tile', account: account
      
    
  

