%article.community_search
  - if h_save_plz?
    .save_plz
      %h3 Ist das deine Postleitzahl?
      %p
        Andere wollen dich vielleicht
        %strong auch finden.
        Du hast aber noch keine PLZ hinterlegt.
      
      %p
        Dürfen wir
        %strong diese PLZ für dich speichern?
      
      = render 'contacts/form_plz_community', contact: current_account.contact, redirect: community_path
    
  
  %h1 Mitglieder in deiner Nähe
  = render 'accounts_tile', accounts: @near_accounts, link: show_community_path( plz: @plz, circle: 'near' )
  
  %h2 Mitglieder in anderen Orten
  = render 'accounts_tile', accounts: @other_accounts, description: ' an anderen Orten', link: show_community_path( plz: @plz, circle: 'far' )

