%article.community_show
  %h1
    Mitglieder in
    = @description
  
  %ul.account_tile_list
    - @accounts.each do |account|
      %li
        = render 'account_tile', account: account
      
    
  

