// Place all the styles related to the Account controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// --------------------------------------------

.page_accounts_index {
  #body {
    max-width: $max_body_width;
  }
}

.account_preview {
  .picture {
    margin-bottom: 0.5rem;
  }
  .tags_list_at_entity {
    margin: 0.5rem 0;
    padding: 0;
  }
  .title {
    padding: 0.5rem 0 0.25rem;
    line-height: 1.1;
  }
  .label {
    color: $light_text_col;
  }
  .next_arrow {
    margin: 0.75rem -0.5rem 0.5rem 0.5rem;
  }
}
@media ( min-width: $more_than_smartphone ) {
  .account_preview {
    float: left;
    width: 46%;
    height: 27.5rem;
    margin-right: 4%;
    margin-bottom: 2rem;
    padding: 0;
    border: none;
    overflow: hidden;
  }
}

.accounts_list {
  @include item_list;
}
@media ( min-width: $more_than_smartphone ) {
  .accounts_list {
    @include clearfix;
    padding: 0 1.5rem;
    
    li {
      border: none;
    }
    
    .account_preview {
      float: left;
      width: 46%;
      height: 30rem;
      margin-right: 4%;
      margin-bottom: 2rem;
      padding: 0;
      border: none;
      overflow: hidden;
      
      .picture {
        margin: 0 0 0.5rem;
      }
    }
  }
}

.status_bar {
  padding: 0 1.5rem;
  
  .badge {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    padding-top: 0.25rem;
    
    color: $paper_col;
    background-color: $akzent_col;
    border-radius: 2rem;
    
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
}

