// Place all the styles related to the
// Account controller here.
// They will automatically be included in
// application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// --------------------------------------------

article.mine_account {
  margin-top: 1rem;
  
  .account_header_block {
    display: flex;
    column-gap: 0.5rem;
    margin: -0.5rem 0 1rem;
    padding: 0 1.5rem;
    
    .picture.thumb {
      flex: 0 0 auto;
      margin: 0;
    }
    
    .text_info {
      flex: 1 1 auto;
      
      .title {
        @include title_font;
        color: $title_col;
        font-size: 1.19em;
        font-weight: bold;
      }
      
      .last_activity {
        margin: 0;
        color: $light_text_col;
        font-size: 0.84em;
        font-style: italic;
      }
    }
  }
  
}
@media ( min-width: $more_than_smartphone ) {
  article.mine_account {
    .account_header_block {
      padding-left: 2rem;
      padding-right: 3rem;
    }
  }
}

