// Place all the styles related to the Account controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// --------------------------------------------

$account_switch_width: 880px;

// --------------------------------------------

article.account_details {
  position: relative;
  
  .text_col {
    .status {
      position: absolute;
      top: 2rem;
      left: auto;
      right: 0.5rem;
    }
    
    h1 {
      padding-top: 1.5rem;
    }
    
    .label,
    .description {
      margin: 1rem 0;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    
    .label {
      margin-top: 0;
      color: $light_text_col;
      font-size: 1.19rem;
      font-weight: bold;
    }
    
    .description {
      margin-bottom: 2rem;
    }
    
    .message_block {
      .sym_button {
        margin: 0 0.5rem 1rem 1.5rem;
      }
      .remote_form {
        padding: 1.5rem 0;
        background-color: $akzent_bgcol;
        
        form.inline {
          margin: 0 auto;
          background-color: transparent;
        }
      }
    }
  }
}
@media ( min-width: $more_than_smartphone ) {
  article.account_details {
    display: flex;
    align-items: start;
    padding: 0;
    padding-bottom: 1rem;
    
    .picture_col {
      flex: 1 1 40%;
      
      .picture_preview {
        margin: 1.5rem;
        margin-right: 0;
        padding: 0;
      }
    }
    
    .text_col {
      flex: 1 1 60%;
      
      h1,
      .action_buttons {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
      
      .remote_form {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
      }
    }
  }
}
@media ( min-width: $min_width_plus_menu ) {
  article.account_details {
    display: block;
    
    .picture_col {
      .picture_preview {
        margin: 1.5rem;
        margin-bottom: 0;
      }
    }
    
    .text_col {
      .remote_form {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
@media ( min-width: $account_switch_width ) {
  article.account_details {
    display: flex;
    
    .picture_col {
      .picture_preview {
        margin-right: 0;
      }
    }
    
    .text_col {
      .remote_form {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
      }
    }
  }
}
@media ( min-width: $large_screen_width ) {
  article.account_details {
    .picture_col {
      .picture_preview {
        margin: 2rem;
        margin-right: 0;
      }
    }
    
    .text_col {
      h1 {
        padding-top: 2rem;
      }
      
      h1,
      .label,
      .description,
      .action_buttons {
        padding-left: 2rem;
        padding-right: 2rem;
      }
      
      .message_block {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }
    }
  }
}

#page .account_details h1 {
  margin-bottom: 0.25rem;
}

