- editable = false unless defined? editable and editable == true
- logger.debug "-- editable: #{editable}"

- if entity.tags.count > 0 or editable
  %ul.tags_list_at_entity
    - entity.tags.each do |tag|
      - unless tag.new_record?
        %li.tag_display{ style: tag.color? ? "background-color: #{tag.color}" : nil }
          .label= tag.label
          - if editable
            = link_to image_tag( 'sym/cross_w100.svg' ), tag.tagging_for( entity ), method: :delete, class: 'delete_button'
        
      
    - if editable
      %li.tag_actions
        #add_tag_button.sym_button{ title: 'Marke anhängen' }
          = image_tag 'sym/tag_plus_w100.svg'
        
        = render 'tags/tagger_modal', entity: entity
      
    
  

