- link = false unless defined? link and link == true

%ul.tags_list_at_entity
  - tag.children.each do |tag|
    - unless tag.new_record?
      %li.tag_display{ style: tag.color? ? "background-color: #{tag.color}" : nil }
        = link_to tag do
          .label= tag.label
        
      
    
  

