= link_to tag, class: 'tag_display', style: tag.color? ? "background-color: #{tag.color}" : nil do
  .label= tag.label

- unless tag.taggings.blank?
  .info_label
    = tag.taggings.count
    zugeordnete Elemente
  

- unless tag.children.blank?
  = render 'tags/list_children', tag: tag, link: true

