#tagger_modal.tagger_modal
  .search_block
    .close_window_button= image_tag 'sym/cross_w100.svg'
    = text_field_tag 'label'
  
  .results_block
    %ul.tags_list_in_tagger
      - Tag.order( 'label ASC' ).all.each do |tag|
        %li{ data: { label: tag.label } }
          = button_to tag.label, taggings_path, params: { tagging: { tag_id: tag.id, entity_type: entity.class, entity_id: entity.id } }, style: tag.color? ? "background-color: #{tag.color}" : nil
        
      %li#create_new_tag_tagging_form{ data: { label: '' } }
        = button_to '', tags_path, params: { tag: { label: '' }, entity_type: entity.class, entity_id: entity.id }
      
      %li.help_text tippe, um Marken auszuwählen
    
  

