- h_title 'Liste aller Marken'
- h_description( h_page_description_for 'tags' )

%h1 Liste aller Marken

%ul.tags_index
  - kind = ''
  - @tags.each do |tag|
    - if tag.kind != kind
      - kind = tag.kind
      %li.separator= kind
    
    %li
      = render 'preview', tag: tag
    
  

