- h_page_title @tag.label
- h_description "Alle Sachen, die mit #{@tag.label} markiert sind."

%h1
  Marke
  .tag_display{ style: @tag.color? ? "background-color: #{@tag.color}" : nil }
    .label= @tag.label
  

.list_title untergeordnete Marken
%ul.tags_list_at_entity
  - @tag.children.each do |tag|
    - unless tag.new_record?
      %li.tag_display{ style: tag.color? ? "background-color: #{tag.color}" : nil }
        .label= tag.label
        - if h_is_editor?
          = link_to image_tag( 'sym/cross_w100.svg' ), orphanize_tag_path( tag ), method: :put, class: 'delete_button'
        
      
    
  - if h_is_editor?
    %li.tag_actions
      #add_tag_button.sym_button{ title: 'Marke anhängen' }
        = image_tag 'sym/tag_plus_w100.svg'
      
      #tagger_modal.tagger_modal
        .search_block
          .close_window_button= image_tag 'sym/cross_w100.svg'
          = text_field_tag 'label'
        
        .results_block
          %ul.tags_list_in_tagger
            - Tag.order( 'label ASC' ).all.each do |tag|
              %li{ data: { label: tag.label } }
                = button_to tag.label, tag_path( tag ), params: { tag: { parent_id: @tag.id } }, method: :patch, style: tag.color? ? "background-color: #{tag.color}" : nil
              
            %li#create_new_tag_tagging_form{ data: { label: '' } }
              = button_to '', tags_path, params: { tag: { label: '', parent_id: @tag.id } }
            
            %li.help_text tippe, um Marken auszuwählen
          
        
      
    
  

%ul.entity_list
  - @tag.entities.each do |entity|
    - entity_name = entity.class.to_s.parameterize
    %li
      = render "#{entity_name.pluralize}/preview_tag", "#{entity_name}": entity
    
  

