- if h_is_editor?
  %hr
  %h2 Chats
  %p.help_text
    Ihr könnt auf eurer Website Chats ermöglichen. Damit können Leute mit einem Account einen Einzel oder Gruppen-Chat eröffnen und geschlossen oder öffentlich führen.
  
  - if h_is_admin? and !h_page_defined? 'streams'
    %p Du kannst Chats aktivieren.
    .action_buttons
      = button_to 'Chats aktivieren', pages_path, params: { redirect: '/prefs/overview', page: { status: 'published', path: 'streams', menu: 'Chats', position: 1, description: "Alle öffentlichen Chats von #{h_orga_name} findest Du in dieser Liste" } }, class: 'button'
    
  
  - unless h_page_accessible?( 'streams', current_account )
    %p Die Admins der Website haben Chats noch nicht freigegeben.
  
  - if h_page_defined?( 'streams' ) and h_page_accessible?( 'streams', current_account )
    %p Chats sind aktiv.
    
    - if Stream.count == 0
      %p Es sind noch keine Chats eröffnet worden.
      
      .action_buttons
        = link_to 'Neuer Chat', new_stream_path, class: 'button'
      
    - else
      %p
        Du hast
        = link_to pages_path do
          %strong
            = Stream.count
            Chats
          
        
        am laufen.
      
    
  

