- if h_is_editor?
  %hr
  %h2 Newsletter
  %p.help_text
    Ihr könnt einen Newsletter über die Website erstellen und an eure Kontakte versenden.
  
  - if h_is_admin? and !h_page_defined? 'newsletters'
    %p Du kannst den Newsletter aktivieren.
    .action_buttons= button_to 'Newsletter aktivieren', pages_path, params: { redirect: '/prefs/overview', page: { status: 'published', path: 'newsletters', menu: 'Newsletter', position: 1, description: "Die letzten Newsletter von #{h_orga_name} kannst Du hier nochmals nachlesen" } }, class: 'button'
  
  - unless h_page_accessible?( 'newsletters', current_account )
    %p Die Admins der Website haben den Newsletter noch nicht freigegeben.
  
  - if h_page_defined?( 'newsletters' ) and h_page_accessible?( 'newsletters', current_account )
    %p Der Newsletter ist aktiv.
    - if Newsletter.count == 0
      %p
        Es sind noch keine Newsletter geschrieben worden.
      
      .action_buttons
        = link_to 'Neuer Newsletter', new_newsletter_path, class: 'button'
      
    - else
      %p
        Es sind
        = link_to newsletters_path do
          %strong
            = Newsletter.count
            Newsletter
          
        
        bisher geschrieben.
      
    
  

