- if h_is_team?
  %hr
  %h2 Termine
  %p.help_text Ihr könnt einen Terminkalender mit Veranstaltungen oder Ankündigungen für die Website führen. Alle Accounts mit Status "Team" können dann dort Termine veröffentlichen.
    
  - if h_is_admin? and !h_page_defined? 'events'
    %p Du kannst den Terminkalender aktivieren.
    .action_buttons
      = button_to 'Kalender aktivieren', pages_path, params: { redirect: '/prefs/overview', page: { status: 'published', path: 'events', menu: 'Termine', position: 1, description: "Liste von aktuellen Terminen und Veranstaltungen von #{h_orga_name}" } }, class: 'button'
    
  
  - unless h_page_accessible?( 'events', current_account )
    %p Die Admins der Website haben den Terminkalender noch nicht freigegeben.
  
  - if h_page_defined?( 'events' ) and h_page_accessible?( 'events', current_account )
    %p Der Terminkalender ist aktiv.
    
    - if Event.count == 0
      %p Es sind noch keine Termine im Kalender veröffentlicht worden.
      
      .action_buttons
        = link_to 'Neuer Termin', new_event_path, class: 'button'
      
    - else
      %p
        Es sind
        = link_to events_path do
          %strong
            = Event.count
            Termine
          
        
        im Kalender.
      
    
  

