- if h_is_editor?
  %hr
  %h2 Seiten
  %p.help_text
    Ausser der Startseite könnt ihr weitere "feste" Seiten für eure Website erstellen. Wahlweise können diese auch im Menu aufgeführt werden.
  
  - if Page.count == 0
    %p
      Es sind ausser der Start- oder Index-Seite noch keine weiteren Seiten erstellt worden.
    
    .action_buttons
      = button_to 'Neue Seite', pages_path, params: { page: { status: 'team', path: 'neue_seite', menu: 'Neue Seite', title: 'Neue Seite', position: 1, description: 'Hier findest du eine neue Seite' } }, class: 'button'
    
  - else
    %p
      Du hast
      = link_to pages_path do
        %strong
          = Page.count
          Seiten
        
      
      erstellt.
    
  

