- if h_is_team?
  %hr
  %h2 Artikel
  %p.help_text
    Ihr könnt einen Blog mit Artikeln für die Website führen. Alle Accounts mit Status "Team" können dann dort Artikel schreiben. Veröffentlicht werden können sie nur, wenn ein weiteres Team-Mitglied sie freigibt.
  
  - if h_is_admin? and !h_page_defined? 'articles'
    %p Du kannst den Blog aktivieren.
    .action_buttons= button_to 'Blog aktivieren', pages_path, params: { redirect: '/prefs/overview', page: { status: 'published', path: 'articles', menu: 'Blog', position: 1, description: "Liste der aktuellen Artikel von #{h_orga_name}" } }, class: 'button'
  
  - unless h_page_accessible?( 'articles', current_account )
    %p Die Admins der Website haben den Blog noch nicht freigegeben.
  
  - if h_page_defined?( 'articles' ) and h_page_accessible?( 'articles', current_account )
    %p Der Blog ist aktiv.
    - if Article.count == 0
      %p
        Es sind noch keine Artikel für den Blog geschrieben worden.
      
      .action_buttons
        = link_to 'Neuer Artikel', new_article_path, class: 'button'
      
    - else
      %p
        Es sind
        = link_to articles_path do
          %strong
            = Article.count
            Artikel
          
        
        im Blog.
      
    
  

