.anrede
  Hallo
  = @contact.name_text + ','

%p
  Vielen Dank für Ihre Bestellanfrage.

%p
  Um Ihre Anfrage zu bestätigen,
  %strong klicken Sie bitte
  folgenden Link oder kopieren ihn in die Adresszeile ihres Browsers
  %br
  = link_to @confirmation_link, @confirmation_link

= render 'general/mailer_regards'
