// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

.page_articles_index {
}
@media ( min-width: $more_than_smartphone ) {
  .page_articles_index {
    #body {
      max-width: $max_text_width;
      margin-left: auto;
      margin-right: auto;
      
      h1 {
        margin-left: 37%;
        padding-left: 0.25rem;
      }
    }
  }
}

.articles_list {
  @include item_list;
  
  .preview {
    border-top: 1px solid $line_col;
    
    .picture {
      width: 100%;
    }
    .title {
      padding: 0.5rem 0 0.25rem;
      line-height: 1.1;
    }
    .author {
      color: $light_text_col;
    }
    .info_block {
      .tags_list {
        padding: 0;
      }
    }
    .tags_list_at_entity {
      padding: 0;
    }
    .next_arrow {
      margin: 0.75rem -0.5rem 0.5rem 0.5rem;
    }
  }
}
@media ( min-width: $more_than_smartphone ) {
  .articles_list {
    .preview {
      border-top: none;
      padding: 1.5rem;
      text-align: right;
      
      .picture {
        float: right;
        width: 60%;
        padding: 0;
        margin: 0 0 0.75rem 1rem;
      }
      .title {
        padding-top: 0;
      }
      .date {
      }
      .next_arrow {
        display: none;
      }
      .description {
        clear: both;
        margin-left: 40%;
        text-align: justify;
      }
    }
  }
}

.article_detail {
  @include item_detail;
  
  .status {
    top: 4rem;
  }
  h1.title {
    margin-top: 0.5rem;
  }
}
@media (min-width: $min_width_plus_menu) {
  .article_detail {
    padding-top: 2rem;
  }
}
@media (min-width: $large_screen_width) {
  .article_detail {
  }
}

