// Place all the styles related to the
// Community controller here.
// They will automatically be included in
// application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// --------------------------------------------

.headerless_page.page_community_index {
  #body {
    max-width: unset;
    
    p,
    form {
      margin-left: auto;
      margin-right: auto;
    }
    
    form {
      margin-bottom: 1rem;
    }
  }
}

article.community_index {
  margin: 0 1rem;
}
@media ( min-width: $more_than_smartphone ) {
  article.community_index {
    .accounts_tile {
      margin-right: 2rem;
    }
  }
}
@media ( min-width: $large_screen_width ) {
  article.community_index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: auto;
    max-width: 55rem;
    
    h1 {
      grid-column-start: 1;
      grid-column-end: 3;
      margin-bottom: 0;
    }
    
    .last_week_block {
      grid-column-start: 1;
      grid-row-start: 2;
      align-self: start;
      justify-self: stretch;
    }
    .search_block {
      grid-column-start: 2;
      grid-row-start: 2;
      justify-self: stretch;
    }
  }
}

article.community_search {
  
  .save_plz {
    margin: 0.5rem 1rem 2rem;
    padding-bottom: 0.5rem;
    background-color: $notice_bgcol;
    border: 2px solid $notice_col;
    border-radius: 0.5rem;
    
    text-align: left;
  }
}

article.community_show {
  .account_tile_list {
    margin: 0;
    padding: 0;
    list-style: none outside;
  }
}

