// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

.comments_block {
  padding: 1rem 1.5rem;
  background-color: $dark_back_col;
  border-top: 1px solid $line_col;
  border-bottom: 1px solid $line_col;
  
  .action_buttons {
    padding: 0;
  }
}
.comments_list {
  margin: 0;
  padding: 0;
  list-style: none outside;
  
  .comment,
  .log {
    margin-bottom: 0.5rem;
    padding: 0;
    font-size: 1rem;
    
    &:last-child {
      margin-bottom: 0;
    }
    
    img {
      width: 1.5rem;
      margin-right: 0.5rem;
    }
    
    .author_info {
      display: inline;
      color: $light_text_col;
    }
  }
  
  .log {
    color: $light_text_col;
  }
}

.comment_form {
  max-width: $max_text_width;
  margin-top: 1rem;
  
  form {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    
    textarea {
      padding: 0.75rem 1rem;
      border: 2px solid $line_col;
      border-radius: 1rem;
      background-color: transparent;
    }
  }
}

