// Place all the styles related to the Newsletters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// --------------------------------------------

// --------------------------------------------

h1.contact.prospect {
  font-style: italic;
}

.contacts_list {
  @include item_list;
  width: 100%;
  margin: 1rem 0 0;
  padding: 0;
  list-style: none outside;
  
  & > li {
    padding: 0 1.5rem;
    border-top: 1px solid $border_col;
    
    &:last-child {
      border-bottom: 1px solid $border_col;
    }
  }
  
}
@media ( min-width: $more_than_smartphone ) {
  .contacts_list {
    margin-bottom: 0;
    
    & > li {
      padding-left: 2rem;
      padding-right: 2rem;
      
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.contact_preview {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0.5rem 0;
  
  overflow: hidden;
  
  color: $text_col;
  text-decoration: none;
  
  .label {
    flex: 1 1 auto;
    overflow: hidden;
    
    .email {
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      
      &.unconfirmed {
        font-weight: normal;
        font-style: italic;
      }
    }
    .name.prospect {
      font-style: italic;
    }
  }
  .tags_list_at_entity {
    margin: 0;
    padding: 0 0.25rem;
    align-self: center;
    
    font-size: 0.86rem;
  }
  .badge_cell {
    min-width: 1rem;
    flex: 0 0 auto;
    align-self: center;
    text-align: center;
    white-space: nowrap;
    
    .badge {
      margin: 0 0.1rem;
    }
  }
  
  .angle {
    flex: 0 0 1.5rem;
    justify-self: end;
    justify-content: end;
    align-self: center;
    text-align: right;
  }
}
@media ( min-width: $more_than_smartphone ) {
  .contacts_preview {
    padding-left: 0;
    padding-right: 0;
  }
}

.contact_page {
  .contact_details {
    @include clearfix;
    background-color: $tab_view_bgcol;
  }
}