// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

$order_preliminary_bgcol: $dark_paper_col;
$order_open_bgcol: $orange_col;
$order_done_col: $paper_col;
$order_done_bgcol: $green_col;

// ---------------------------------------------

.page_orders_new,
.page_orders_edit,
.page_orders_create,
.page_orders_update {
  #body {
    padding-bottom: 2rem;
    
    .without_border {
      margin-top: 0;
      
      #error_explanation,
      .actions {
        padding: 0 1.5rem;
      }
    }
  }
}

.order_form {
  .rewards_list {
    padding: 0;
    
    .orderquant {
      @include clearfix;
      padding: 1rem 1.5rem;
      
      .reward {
        margin-top: 0;
      }
      
      .fields {
        label {
          display: inline;
        }
        input {
          max-width: 5rem;
          margin-left: 0.5rem;
        }
      }
      
      &:last-child {
        border-bottom: 1px solid $line_col;
      }
    }
  }
}

.order_detail {
  position: relative;
  
  .date {
    padding: 0 1.5rem;
    color: $light_text_col;
  }
}

// --- Status Indication -----------------------

.order_detail,
.orders_list .order_preview {
  .status.preliminary {
    background-color: $order_preliminary_bgcol;
  }
  .status.open {
    background-color: $order_open_bgcol;
    
    font-weight: bold;
  }
  .status.done {
    color: $order_done_col;
    background-color: $order_done_bgcol;
    
    font-weight: bold;
  }
}
