// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

.pages_list {
  @include item_list;
  
  .preview {
    padding: 0.25rem 1.5rem;
  }
  
  .page_preview.example {
    opacity: 0.5;
  }
  
  .page_preview {
    
    .short {
      margin: 0;
      padding: 0.75rem 1.5rem;
    }
    
    .status {
      right: 4rem;
    }
    
    .badge {
      margin-right: 0.5rem;
    }
    
    .menu {
      color: $akzent_col;
      font-weight: bold;
      
      em {
        font-weight: normal;
      }
    }
    
    .url {
      padding-left: 2rem;
      font-weight: bold;
    }
    
    .description {
      margin-top: 0;
    }
    
    .sub_pages_list {
      list-style: none outside;
      padding: 0;
      padding-left: 2rem;
      
      li {
        border-left: 3px solid $line_col;
        
      }
    }
      
  }
  
}

.page_detail {
  @include item_detail;
  
  .status {
    top: 4rem;
  }
  h1.title {
    margin-top: 0.5rem;
  }
}

.info_page {
  max-width: $max_page_width;
  margin: 0 auto;
  
  h1 {
    margin-left: 1rem 0;
    text-align: left;
  }
}
