// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

#membership_search_form {
  .membership_list_in_payment_form {
    @include item_list;
    
    li {
      display: none;
      border: 0;
      
      .membership_preview {
        display: flex;
        padding: 0.5rem 1rem;
        background-color: $dark_paper_col;
        border-top: 1px solid $form_bgcol;
        border-bottom: 1px solid $form_bgcol;
        
        .token {
          flex: 0 0 5rem;
        }
        .name {
          flex: 1 1 auto;
        }
        .arrow {
          flex: 0 0 1.25rem;
          justify-content: end;
        }
      }
    }
  }
}

.payments_list {
  @include item_list;
  
  .payment_preview {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
    .token {
      float: left;
      width: 4rem;
      margin-right: 1rem;
    }
    
    .name {
      float: left;
      width: auto;
      margin-right: 1rem;
      font-weight: bold;
    }
    
    .amount {
      float: right;
      width: auto;
    }
    
    .toggle_icon {
      padding: 0;
    }
  }
  
  .payment_detail {
    @include clearfix;
    padding: 0 1.5rem 0.5rem;
    color: $light_text_col;
    
    .action_buttons {
      float: right;
      width: auto;
      margin: 0;
      margin-left: 1rem;
      padding: 0;
    }
  }
}
@media ( min-width: $more_than_smartphone ) {
  .payments_list {
    .payment_preview,
    .payment_detail {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}
