// Place all the styles related to the Newsletters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

// ---------------------------------------------

.prefs_list {
  @include item_list;
}

.pref_preview {
  .label {
  }
  .value {
    font-weight: bold;
    text-align: right;
  }
  
  &.switch_preview {
    .label {
      margin-top: 0.35rem;
    }
    
    .switch {
      display: block;
      float: right;
      width: auto;
      margin-left: 1rem;
      
      img {
        height: 2rem;
      }
    }
  }
  
  .show_view {
    display: block;
    cursor: pointer;
  }
  
  .edit_view {
    display: none;
    
    .without_border {
      background-color: transparent;
    }
  }
}
