// Place all the styles related to the Decisions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

$card_list_bgcol: $dark_back_col;

// ---------------------------------------------

.proposal_card {
  background-color: $paper_col;
  border-radius: 0.5rem;
  @include small_shadow;
  overflow: hidden;
  
  .short_content {
    padding: 1rem;
  }
  .full_content {
    padding: 0;
  }
  
  .title {
    color: $akzent_col;
    @include title_font;
    font-size: 1.19rem;
    font-weight: bold;
    line-height: 1.2;
    
    .number {
      @include text_font;
      color: $text_col;
      font-size: 0.86 * 0.86em;
      margin-bottom: 0.25em;
    }
  }
  
  .description {
    margin: 0 0 1rem;
    padding: 0 1rem;
    font-size: 1rem;
  }
  
  .actions {
    padding: 0 1rem 1rem;
  }
  
  .comment_count {
    color: $light_text_col;
    font-size: 1rem;
  }
  
  .voting_section {
    padding: 0 1rem 1rem;
    
    .scale_labels {
      font-size: 1rem;
    }
    
    .label {
      display: inline-block;
      color: $light_text_col;
    }
  }
  
  form {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  .selection_result {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.1rem 0.75rem;
    color: $paper_col;
    background-color: $akzent_col;
    border-radius: 1rem;
  }
  
  .comments_block {
    background-color: $dark_paper_col;
  }
}

.proposals_list {
  margin: 0;
  padding: 0;
  background-color: $card_list_bgcol;
  border-top: darken( $card_list_bgcol, 12 ) 1px solid;
  
  list-style: none;
  list-style-position: outside;
  
  &.selected {
    background-color: $akzent_2_bgcol;
    border-top: darken( $akzent_2_bgcol, 15 ) 1px solid;
    
    .proposal_card .selection_result {
      background-color: $green_col;
    }
  }
  
  li {
    padding: 0 0.75rem 0.75rem;
    
    &:first-child {
      padding-top: 0.75rem;
    }
  }
}
@media (min-width: $more_than_smartphone) {
  .proposals_list {
    li {
      padding: 0 1rem 1rem;
      
      &:first-child {
        padding-top: 1rem;
      }
    }
  }
}

.proposal_form_block {
  padding: 0rem 1rem 1rem;
  background-color: $card_list_bgcol;
  
  .proposal_button {
    display: block;
    color: $light_text_col;
    text-align: center;
    text-decoration: none;
    
    .round {
      width: 4rem;
      height: 4rem;
      padding: 0.25rem;
      border-radius: 2rem;
      
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  
  .new_proposal {
    margin: 0 0 0.5rem;
    border-style: dotted;
    border-width: 3px;
    border-radius: 0.5rem;
  }
  
  .actions {
    .toggler_text {
      margin-top: 0.85rem;
      color: $link_col;
      font-weight: bold;
    }
  }
}

.proposal_detail {
  @include item_detail;
  padding-bottom: 1rem;
  
  .title,
  .result,
  .voting_section {
    padding: 0 1.5rem;
  }
  
  .title {
    color: $akzent_col;
    @include title_font;
    font-size: 1.19 * 1.19rem;
    font-weight: bold;
    line-height: 1.2;
    
    .number {
      @include text_font;
      color: $text_col;
      font-size: 0.86 * 0.86em;
      margin-bottom: 0.25em;
    }
  }
  
  .description {
    font-style: normal;
    font-size: 1rem;
  }
  
  .result {
    margin: 1rem 0;
    padding: 0 1.5rem;
    font-size: 1.19rem;
  }
}
