// Place all the styles related to the Registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page_registrations_new,
.page_registrations_create {
  .event_name {
    font-weight: bold;
  }
}