// Place all the styles related to the Session
// controller here.
// They will automatically be included in 
// application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// --------------------------------------------

article.new_session {
}
@media ( min-width: $more_than_smartphone ) {
  article.new_session {
  }
}
