// Place all the styles related to the
// Shares controller here.
// They will automatically be included in
// application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// --------------------------------------------

$application_bgcol: $light_green_col;
$message_bgcol: $green_col;

// --------------------------------------------

.shares_list {
  @include item_list;
  margin-bottom: 0;
  
  .share_preview {
    @include clearfix;
    display: block;
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 1.5rem;
    
    overflow: hidden;
    
    color: $text_col;
    text-decoration: none;
    
    .datum {
      float: right;
      width: auto;
    }
    
    .label {
      flex: 1 1 auto;
      overflow: hidden;
      
      .email {
      overflow: hidden;
      text-overflow: ellipsis;
      }
      .name {
      }
    }
    
    .content {
      margin: 0.5rem 0 0.5rem;
    }
  }
}
@media ( min-width: $min_width_plus_menu ) {
  .shares_list {
    .share_preview {
      padding: 0.5rem 1.5rem 0.5rem 2rem;
    }
  }
}
@media ( min-width: $large_screen_width ) {
  .shares_list {
    .share_preview {
      padding: 0.75rem 2.5rem 0.75rem 3rem;
    }
  }
}

.share_details {
  @include clearfix;
  position: relative;
  background-color: $tab_view_bgcol;
  
  .status {
    top: 0rem;
    color: $text_col;
    background-color: $application_bgcol;
    
    &.accepted,
    &.member {
      color: $paper_col;
      background-color: $message_bgcol;
    }
  }
  
  .summary_block {
    p {
      max-width: none;
    }
  }
}

