// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

.page_tags_show {
  .help_text + .tags_list_at_entity {
    margin-top: -1rem;
  }
}

// --- list at an entity

.tags_list_at_entity {
  position: relative;
  display: block;
  list-style: none outside;
  margin: 0.25rem 0 1rem;
  padding: 0 1.25rem;
}
@media (min-width: $more_than_smartphone) {
  .tags_list_at_entity {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
}
@media (min-width: $large_screen_width ) {
  .tags_list_at_entity {
    padding-left: 2.75rem;
    padding-right: 2.75rem;
  }
}

.tag_display {
  position: relative;
  display: inline-block;
  margin: 0.25rem 0;
  padding: 0.1rem;
  border: none;
  border-radius: 1rem;
  vertical-align: middle;
  
  background-color: $tag_bgcol;
  
  .label {
    display: inline-block;
    margin: 0 0.75rem;
    padding: 0;
    vertical-align: middle;
    
    color: $tag_col;
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
  }
  
  .delete_button {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    margin: 0 0.15rem 0 -0.5rem;
    padding: 0.25rem;
    border-radius: 1rem;
    background-color: $shade_50;
    
    line-height: 0;
    vertical-align: middle;
    
    img {
      width: 100%;
      vertical-align: unset;
    }
  }
}

.tag_actions {
  display: inline-block;
  margin: 0 0 0 1rem;
  vertical-align: middle;
  
  .sym_button {
    display: inline-block;
    margin: 0;
  }
}

// --- tag index for all

h1 .tag_display {
  font-size: 1.19 * 1.19rem;
  vertical-align: text-bottom;
}

.tags_index {
  display: block;
  list-style: none outside;
  margin: 0.25rem 0 1rem;
  padding: 0 1.25rem;
  
  .separator {
    margin: 1rem 0 0.5rem;
    padding: 0.25rem 0.5rem;
    border-bottom: 1px solid $line_col;
    
    font-size: 1.19rem;
    font-weight: bold;
  }
  
  .info_label {
    display: inline;
    margin-left: 1rem;
  }
}