- if defined?( is_open ).nil?
  - is_open = true

%li{ id: proposal.iid }
  .proposal_card
    .short_content.will_toggle{ class: is_open ? 'open' : nil, data: { action: 'toggle', sel: "##{proposal.iid} .full_content" } }
      .end_aligned= render 'general/toggle_icon'
      
      .title
        .number
          Vorschlag
          %strong= proposal.position
        
        = proposal.title
      
      = render 'comments/preview_count', entity: proposal
    
    .full_content.will_be_toggled{ class: is_open ? 'toggled_open' : nil }
      - unless proposal.description.blank?
        .description
          = h_format proposal.description
        
      
    - if proposal.decision.voting?
      - logger.debug "== start resistance_scale"
      = render 'proposals/resistance_scale', proposal: proposal
    - elsif proposal.decision.done?
      - if proposal.decision.is_selection?
        .selection_result
          = proposal.selection_value
        
      - else
        = render 'proposals/result_scale', proposal: proposal
      
    
    .full_content.will_be_toggled{ class: is_open ? 'toggled_open' : nil }
      - if proposal.decision.proposing?
        .actions
          - if h_proposal_editable?( proposal )
            = link_to image_tag( 'sym/pencil_w100.svg' ), edit_proposal_path( proposal ), remote: true, class: 'sym_button'
          
          - if proposal.decision.proposing?
            .sym_text_button.will_toggle{ data: { action: 'toggle', sel: "#new_comment_#{proposal.iid}" } }
              = image_tag 'sym/comment_w100.svg', class: 'sym_button'
              .label kommentieren
            
          
        
      
      .comments_block{ class: ( proposal.comments? ? nil : 'will_be_toggled' ), id: ( proposal.comments? ? nil : "new_comment_#{proposal.iid}" ) }
        - if proposal.comments?
          = render 'comments/list', entity: proposal, deletable: proposal.decision.proposing?
        
        - if proposal.decision.proposing?
          .comment_form{ class: proposal.comments? ? 'will_be_toggled' : nil, id: proposal.comments? ? "new_comment_#{proposal.iid}" : nil }
            - cancel_action = capture do
              .button{ data: { action: 'toggle', sel: "#new_comment_#{proposal.iid}" } } Abbrechen
            
            = render 'comments/form', comment: proposal.comments.build, cancel_action: cancel_action
          
        
      
    
  

