// Place all the styles related to the Newsletters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

$application_bgcol: $light_green_col;
$membership_bgcol: $green_col;

// ---------------------------------------------

.membership_details {
  @include clearfix;
  position: relative;
  background-color: $tab_view_bgcol;
  
  .status {
    top: 2rem;
    color: $text_col;
    background-color: $application_bgcol;
    
    &.accepted,
    &.member {
      color: $paper_col;
      background-color: $membership_bgcol;
    }
    &.discharged {
      color: $paper_col;
      background-color: $error_col;
    }
  }
  
  .membership_token {
    .subtitle {
      margin-top: 0.25rem;
      color: $text_col;
      font-size: 1rem;
      font-weight: normal;
    }
  }
  
  .request_preview {
    @include clearfix;
    padding: 0 1.5rem;
    
    img {
      float: left;
      width: 5rem;
      margin-right: 1rem;
    }
  }
  
  .logs_list {
    margin-bottom: 1rem;
    color: $light_text_col;
    font-style: italic;
  }
}
@media ( min-width: $more_than_smartphone ) {
  .membership_details {
    .request_preview {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}

