// Place all the styles related to the Newsletters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

$application_bgcol: $light_green_col;
$membership_bgcol: $green_col;

// ---------------------------------------------

@media ( min-width: $more_than_smartphone ) {
  .page_memberships_new,
  .page_memberships_create,
  .page_memberships_edit,
  .page_memberships_update {
    #body {
      max-width: $max_page_width;
    }
  }
}

.memberships_list {
  @include item_list;
  
  .membership_preview {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 1.5rem;
    
    overflow: hidden;
    
    color: $text_col;
    text-decoration: none;
    
    .label {
      flex: 1 1 auto;
      overflow: hidden;
      
      .email {
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .name {
        font-weight: bold;
      }
    }
    .badge_cell {
      min-width: 1rem;
      flex: 0 0 auto;
      align-self: center;
      text-align: center;
      white-space: nowrap;
      
      .badge {
        margin: 0 0.1rem;
      }
    }
    
    .angle {
      flex: 0 0 1.5rem;
      justify-self: end;
      justify-content: end;
      align-self: center;
      text-align: right;
    }
  }
}
@media ( min-width: $more_than_smartphone ) {
  .memberships_list {
    margin-bottom: 0;
    
    .membership_preview {
      padding: 0.5rem 1.5rem 0.5rem 2rem;
    }
    
    li:last-child {
      border-bottom: none;
    }
  }
}
@media ( min-width: $min_width_plus_menu ) {
  .memberships_list {    
    .membership_preview {
      padding: 0.5rem 1rem 0.5rem 1.5rem;
    }
  }
}
@media ( min-width: $double_smartphone_width ) {
  .memberships_list {    
    .membership_preview {
      padding: 0.5rem 1.5rem 0.5rem 2rem;
    }
  }
}
@media ( min-width: $large_screen_width ) {
  .memberships_list {    
    .membership_preview {
      padding: 0.75rem 2.5rem 0.75rem 3rem;
    }
  }
}

.membership_member_process {
  .request_preview {
    padding: 0 1.5rem;
    
    img {
      float: left;
      width: 5rem;
      margin-right: 1rem;
    }
  }
}
@media ( min-width: $more_than_smartphone ) {
  .membership_member_process {
    .request_preview {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}

