- is_open = false unless defined? is_open

.faq_block
  - if h_funding_editable?
    .action_buttons
      = link_to image_tag( 'sym/plus_w100.svg' ), new_funding_question_path( funding ), class: 'sym_button', title: 'Neue Frage anlegen'
      .hint_text Neue Frage
    
  
  %ul.questions_list
    - funding.questions.each do |question|
      %li.question_answer{ id: question.iid }

        .question.will_toggle{ class: is_open ? 'open' : nil, data: { action: 'toggle', sel: "##{question.iid} .answer" } }
          .end_aligned
            = render 'general/toggle_icon'
          
          = question.content
        
        - if h_question_editable? question
          .action_buttons
            = link_to image_tag( 'sym/pencil_w100.svg' ), edit_question_path( question ), class: 'sym_button', title: 'Frage bearbeiten'
            = link_to image_tag( 'sym/bin_w100.svg' ),
                  question, method: :delete,
                  class: 'sym_button danger',
                  title: 'Frage löschen',
                  data: { confirm: "Willst du die Frage wirklich löschen?\n\nDie Aktion kann nicht rückgängig gemacht werden." }
            
            - if question.answers.blank?
              = link_to image_tag( 'sym/plus_w100.svg' ), new_question_answer_path( question ), class: 'sym_button', title: 'Neue Antwort anlegen'

            
            .hint_text Frage bearbeiten
          
        
        - unless question.answers.blank?
          - answer = question.answers.first
          
          .answer.will_be_toggled
            = h_format answer.content
            
            - if h_answer_editable? answer
              .action_buttons
                = link_to image_tag( 'sym/pencil_w100.svg' ), edit_answer_path( answer ), class: 'sym_button', title: 'Antwort bearbeiten'
                = link_to image_tag( 'sym/bin_w100.svg' ), answer, method: :delete, class: 'sym_button danger', title: 'Antwort löschen'
                
                .hint_text Antwort bearbeiten
              
            
          
        
      
    
  

