.rewards_block
  %h2.title
    Dankeschöns
  
  - if h_funding_editable?
    .action_buttons
      = link_to image_tag( 'sym/plus_w100.svg' ), new_funding_reward_path( funding ), class: 'sym_button', title: 'Neues Dankeschön anlegen'
      .hint_text Neues Dankeschön
    
  
  %ul.rewards_list
    - funding.rewards.each do |reward|
      = render 'rewards/preview_for_funding', reward: reward
    
  

