// COLORS -------------------------------------

$white_col: #fff;
$black_col: #000;
$grey_col: hsl( 0, 0%, 50% );
$paper_white: hsl( 40, 10%, 95% );
$green_col: hsl( 120, 70%, 40% );
$light_green_col: hsl( 120, 70%, 80% );
$orange_col: hsl( 40, 100%, 50% );
$red_col: hsl( 20, 100%, 40% );
$purple_col: hsl( 310, 100%, 40% );
$blue_col: #0044cc;
$yellow_col: hsl( 55, 100%, 50% );
$light_yellow_col: lighten( $yellow_col, 20 );
$dark_yellow_col: darken( $yellow_col, 30 );

// --- SPECIFIC COLORS ------------------------

$light_gray_col: hsl( 40, 0%, 90% );
$light_bronze_col: hsl( 40, 30%, 88% );
$dark_bronze_col: hsl( 40, 30%, 40% ); // paper bag
$green_col: hsl( 70, 80%, 30% ); // overwrite

// --- SHADES ---------------------------------

$shade_10: rgba( 0, 0, 0, 0.1 );
$shade_20: rgba( 0, 0, 0, 0.2 );
$shade_30: rgba( 0, 0, 0, 0.3 );
$shade_50: rgba( 0, 0, 0, 0.5 );

// --- SHADOWS --------------------------------

$overlay_shadow: 0 1px 16px 0 $shade_50;

// --- THEME COLORS ---------------------------

$theme_col: $light_gray_col; // main theme color

$akzent_col: $dark_bronze_col; // secondary
$akzent_bgcol: $light_bronze_col; //2nd background

$akzent_2_col: $akzent_col;
$akzent_3_col: $akzent_col;

$akzent_2_bgcol: $akzent_bgcol;
$akzent_3_bgcol: $akzent_bgcol;

// --- SEMANTIC COLORS ------------------------

$link_col: $blue_col;

$back_col: $white_col;
$dark_back_col: $akzent_bgcol;

$paper_col: $white_col;
$dark_paper_col: darken( $paper_col, 6 );
$text_col: $black_col;
$light_text_col: transparentize( $text_col, 0.5 );
$title_col: $akzent_col;

$border_col: darken( $paper_col, 20 );
$line_col: darken( $back_col, 15 );

// --- ELEMENT COLORS -------------------------

$form_bgcol: lighten( $paper_col, 8 );
$form_border_col: darken( $back_col, 8 );
$form_element_bgcol: $paper_white;

$aside_col: darken( $light_text_col, 10 );
$aside_bgcol: lighten( $paper_col, 8 );

$tile_col: $text_col;
$tile_bgcol: $akzent_bgcol;

$tab_view_bgcol: $akzent_bgcol;

// --------------------------------------------

$button_col: $white_col;
$button_bgcol: $link_col;
$secondary_button_col: $link_col;
$secondary_button_bgcol: transparentize( $secondary_button_col, 0.85 );

$label_col: $text_col;
$label_bgcol: $akzent_bgcol;

$tag_col: $white_col;
$tag_bgcol: $green_col;

$mark_col: $orange_col;
$important_col: $orange_col;
$danger_col: $red_col;

$error_col: $red_col;
$error_bgcol: lighten( $error_col, 50 );
$notice_col: $orange_col;
$notice_bgcol: lighten( $notice_col, 30 );

$darken_05: desaturate( darken( $paper_col, 3 ), 50 );

// --------------------------------------------

$header_bgcol: $theme_col;
$menu_bgcol: darken( $header_bgcol, 8 );
$menu_button_bgcol: white;
$menu_link_col: $link_col;

$submenu_bgcol: lighten( $menu_bgcol, 10 );

// --------------------------------------------

$main_bgcol: $back_col;

// --------------------------------------------

$footer_col: $text_col;
$footer_bgcol: darken( $dark_back_col, 6 );
$footer_link_col: $link_col;

// --------------------------------------------

$internal_col: $dark_yellow_col;
$internal_bgcol: $light_yellow_col;

