// Place all the styles related to the Newsletters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// --- MEDIA WIDTHS ----------------------------

$more_than_smartphone: 485px;
$double_smartphone_width: 640px;
$large_screen_width: 1024px;

$text_container_width: 40rem;
$max_text_width: 48rem;
$max_body_width: 48rem;

$min_page_width: 320px;
$max_page_width: 60rem;

$menu_width: 240px;
$min_width_plus_menu: $min_page_width + $menu_width;

$header_logo_height: 2.5rem;
$header_min_height: 3.5rem;

$footer_min_height: 7rem;
