@import 'colors';
@import 'item_list';

// MIXINS --------------------------------------

@mixin clearfix {
  &::before, &::after {
    content: "";
    display: table;
  }
  
  &::after {
    clear: both;
  }
}

@mixin image_back {
  background-color: $header_bgcol;
}

@mixin text_font {
  font-family: "DIN", Arial, sans-serif;
  font-size: 100%;
  line-height: 1.4;
}

@mixin title_font {
  font-family: "DIN", Arial, sans-serif;
  line-height: 1.2;
}

@mixin button {
  display: inline-block;
  margin-top: 0.25em;
  padding: 0.3rem 0.75rem;
  color: $button_col;
  background-color: $button_bgcol;
  border: none;
  border-radius: 0.35rem;
  
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  
  vertical-align: baseline;
  
  &.danger {
    background-color: $danger_col;
  }
  &.secondary {
    color: $secondary_button_col;
    background-color: $secondary_button_bgcol;
  }
}

@mixin small_shadow {
  box-shadow: 0 2px 4px $shade_20;
}
