// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

$more_than_1_column: 560px;
$more_than_2_columns: 780px;

// ---------------------------------------------

.content_container {
  .content_block {
    @include clearfix;
    
    &.full {
      .full {
        width: 100%;
        max-height: 60vh;
      }
    }
    &.text {
      margin: 1rem 0;
    }
    
    &.akzent {
      background-color: $akzent_bgcol;
    }
    &.akzent_2 {
      background-color: $akzent_2_bgcol;
    }
    &.akzent_3 {
      background-color: $akzent_3_bgcol;
    }
  }
}
@media ( min-width: $more_than_1_column ) {
  .content_container {
    display: flex;
    
    .content_block {
      flex: 1 1 100px;
      
      &.full {
        padding: 0;
      }
      &.text {
        margin: 1.5rem 0;
      }
      &.akzent,
      &.akzent_2,
      &.akzent_3 {
        margin: 0;
        padding: 1rem 1.5rem;
      }
    }
  }
}
@media ( min-width: $more_than_2_columns ) {
  .content_container {
    &.coco3 {
      .content_block {
        width: 33%;
      }
    }
  }
}
