// Place all the general styles related to everything here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';
@import 'fonts';

// ---------------------------------------------

h1, h2, h3, h4, h5 {
  @include title_font;
  margin-top: 1.5em;
  color: $title_col;
}
h1 {
  line-height: 1.1;
}
h2 {
  line-height: 1.2;
}
h4 {
  margin-bottom: 0;
}
h4 + p {
  margin-top: 0.25rem;
}

p {
  max-width: $max_text_width;
  margin-left: auto;
  margin-right: auto;
  
  &:last-child {
    margin-bottom: 1.5em;
  }
  &.list_title {
    margin-bottom: 0;
  }
}
@media (min-width: $more_than_smartphone) {
  p {
    margin-left: 0;
  }
}

strong {
  font-weight: bold;
}
em {
  font-style: italic;
}

a {
  color: $link_col;
}

ul {
  list-style: disc outside;
  margin: 0;
  padding: 0 1.5rem 0 3rem;
}
@media ( min-width: $min_width_plus_menu ) {
  ul {
    padding-left: 3.5rem;
  }
}
@media ( min-width: $large_screen_width ) {
  ul {
    padding-left: 4.5rem;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

body {
  margin: 0;
  padding: 0;
  
  color: $text_col;
  @include image_back;
  
  @include text_font;
  font-size: 100%;
  text-underline-offset: 0.15em;
}
@media (min-width: $more_than_smartphone) {
  body {
    font-size: 108%;
  }
}
@media (min-width: $large_screen_width) {
  body {
    font-size: 116%;
  }
}