@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

$max_page_width: 40rem;
$max_body_width: 37rem;

// ---------------------------------------------

main {
  min-height: calc( 100vh - #{$header_min_height} - #{$footer_min_height} );
  padding: 0;
  overflow-x: hidden;
  
  background-color: $main_bgcol;
}
@media (min-width: $min_width_plus_menu) {
  main {
    min-height: calc( 100vh - #{$footer_min_height} );
    padding-left: $menu_width;
  }
}

#page {
  @include clearfix;
}
article {
  h1:first-child {
    margin-top: 0;
    padding-top: 2rem;
  }
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0 1.5rem;
}
@media (min-width: $more_than_smartphone) {
  h1, h2, h3, h4, h5, h6, p {
    padding: 0 1.5rem;
  }
  #body {
    position: relative;
  }
  #side_body {
    display: none;
  }
}
@media (min-width: $min_width_plus_menu) {
  h1, h2, h3, h4, h5, h6, p {
    padding: 0 2rem;
  }
}
@media (min-width: $large_screen_width) {
  h1, h2, h3, h4, h5, h6, p {
    padding: 0 3rem;
  }
}

