// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

@media ( min-width: $more_than_smartphone ) {
  .page_statistics_current_requests #body {
    max-width: 96%;
  }
}

.statistic_detail {
  max-width: 96%;
  margin: 1rem auto;
  
  .request_statistics {
    padding: 0 1.5rem;
    overflow: auto;
    
    table {
      overflow: hidden;
      
      thead {
        background-color: $akzent_bgcol;
        
        th {
          padding: 0 0.25rem;
          text-align: left;
          font-weight: normal;
          font-style: italic;
          
          &.number {
            text-align: right;
          }
        }
      }
      
      th,
      td {
        padding: 0 0.25rem 0 0;
        
        .preview_text {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        
        &.number {
          text-align: right;
        }
        &.percentage {
          font-size: 0.86 * 0.86rem;
        }
        &.positive {
          color: $green_col;
        }
        &.negative {
          color: $danger_col;
        }
        &.zero {
          color: $light_text_col;
        }
        &.separating {
          border-right: 1px solid $light_text_col;
        }
      }
    }
  }
}
@media screen and (max-width: $more_than_smartphone) {
  .statistic_detail {
    max-width: none;
    border-left: none;
    border-right: none;
    
    .request_statistics {
      margin-left: -1rem;
      margin-right: -1rem;
      
      overflow-x: auto;
      
      table {
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }
  }
}