// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

.fundings_list {
  @include item_list;
  
  .preview {
    border-top: 1px solid $line_col;
    
    .picture {
      width: 100%;
    }
    .title {
      padding: 0.5rem 0 0.25rem;
      line-height: 1.1;
    }
    .next_arrow {
      margin: 0.75rem -0.5rem 0.5rem 0.5rem;
    }
  }
}
@media ( min-width: $more_than_smartphone ) {
  .fundings_list {
    .preview {
      border-top: none;
      padding: 1.5rem;
      text-align: right;
      
      .picture {
        float: right;
        width: 63%;
        padding: 0;
        margin: 0 0 0.75rem 1rem;
      }
      .title {
        padding-top: 0;
      }
      .date {
      }
      .next_arrow {
        display: none;
      }
      .description {
        clear: both;
        margin-left: 37%;
        text-align: justify;
      }
    }
  }
}
