// Place all the styles related to the
// Account Status widget here.
// They will automatically be included in
// application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// --------------------------------------------

.status,
.account_status {
  position: absolute;
  top: 2em;
  right: 3em;
  padding: 0.25em 0.75em;
  background-color: $dark_paper_col;
  
  font-size: 0.86em;
  text-transform: uppercase;
  transform: rotate( 30deg );
}

