// Place all the styles related to the
// accounts Tile widget here.
// They will automatically be included in
// application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// --------------------------------------------

.accounts_tile {
  display: flex;
  column-gap: 0.5rem;
  max-width: $max_text_width / 2;
  margin: 0.75rem 1rem;
  padding: 1rem 1rem 1rem 1.5rem;
  background-color: $akzent_bgcol;
  border-radius: 1rem;
  
  text-align: left;
  text-decoration: none;
  
  &.empty {
    background-color: transparent;
    border: 3px dotted $line_col;
    
    .content {
      .title {
        color: $light_text_col;
        font-style: italic;
      }
    }
    .arrow {
      display: none;
    }
  }
  
  .content {
    flex: 1 1 auto;
    
    .avatars {
      position: relative;
      height: 4rem;
      margin-bottom: 0.5rem;
      
      .picture.thumb {
        position: absolute;
        width: 4rem;
        margin: 0;
        border: 3px solid $akzent_bgcol;
        border-radius: 2rem;
        top: 0;
        left: 0;
      }
    }
    
    .title {
      color: $link_col;
      font-size: 1.19em;
      font-weight: bold;
    }
    
    .description {
      color: $text_col;
      font-size: 0.84em;
    }
  }
  .arrow {
    flex: 0 0 1.75rem;
    align-self: center;
  }
}
@media ( min-width: $more_than_smartphone ) {
  .accounts_tile {
    margin-left: 2rem;
    margin-right: auto;
  }
}

