// Place all the styles related to the
// Account Tile widget here.
// They will automatically be included in
// application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// --------------------------------------------

.account_tile {
  display: block;
  margin: 0.75rem 1rem;
  padding: 1rem 1.5rem;
  background-color: $akzent_bgcol;
  border-radius: 1rem;
  overflow: hidden;
  
  text-align: left;
  text-decoration: none;
  
  .pic_n_name {
    display: flex;
    column-gap: 0.75rem;
    
    .picture.thumb {
      flex: 0 0 5rem;
      align-self: center;
      height: 5rem;
      margin: 0;
      border: none;
      border-radius: 5rem;
      
      .icon.broken {
        width: 3rem;
        padding: 0;
        margin-top: 1rem;
      }
    }
    
    .text {
      flex: 1 1 auto;
      align-self: center;
      
      .title {
        font-size: 1.19em;
        font-weight: bold;
      }
      .label {
        color: $light_text_col;
      }
    }
  }
  
  .description {
    color: $text_col;
    margin: 1rem 0;
  }
  
  .link {
    margin-top: 1rem;
    font-weight: bold;
    
    &.action {
      text-align: right;
    }
  }
  
  &.action_preview {
    .text {
      .title {
        color: $text_col;
      }
    }
    
    .link {
      text-align: right;
    }
  }
  
  &.action_preview {
    .text {
      .title {
        color: $text_col;
      }
    }
    
    .link {
      text-align: right;
    }
  }
}
@media ( min-width: $more_than_smartphone ) {
  .account_tile {
    max-width: $max_text_width * 0.75;
    margin-left: 2rem;
    margin-right: auto;
  }
}

