// Place all the styles related to the Newsletters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

$danger_col: hsl( 10, 100%, 40% );

// ---------------------------------------------

.button {
  @include button;
  margin-right: 0.5rem;
  
  &:last-child {
    margin-right: 0;
  }
}

.back_button {
  margin: 0 0 1rem;
  padding: 0 1.5rem;
  text-decoration: none;
  
  img {
    height: 0.8rem;
  }
}
@media (min-width: $more_than_smartphone) {
  .back_button {
  }
}

.sym_button,
.action_toggler {
  @include button;
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  padding: 0.25rem;
  
  text-align: center;
  vertical-align: bottom;
  cursor: pointer;
  
  img {
    vertical-align: baseline;
  }
  
  &.small {
    width: 1.75rem;
    height: 1.75rem;
  }
  
  &:last-child {
    margin-right: 0;
  }
}

.action_toggler {
  background-color: $line_col;
}

.sym_text_button {
  display: inline-block;
  color: $light_text_col;
  text-decoration: none;
  
  &.will_toggle {
    display: inline-block;
  }
  
  &:hover {
    text-decoration: underline;
  }
  
  .sym_button {
    margin-right: 0.25rem;
    vertical-align: middle;
  }
  
  .label {
    display: inline;
  }
}

.close_window_button {
  display: block;
  float: right;
  width: 2rem;
  margin: -0.2rem -0.2rem 0 0.75rem;
  padding: 0.25rem;
  border-radius: 2rem;
  
  background-color: $shade_20;
  cursor: pointer;
  
  img {
    width: 100%;
    vertical-align: middle;
  }
}

.button_block {
  @include clearfix;
  
  & + .button_block {
    margin-top: 0.25rem;
  }
}

.action_buttons {
  @include clearfix;
  position: relative;
  margin: 1rem 0;
  padding: 0 1.5rem;
  
  .button,
  .sym_button {
    display: block;
    float: left;
  }
  
  .hint_text {
    display: block;
    float: left;
    padding-top: 0.5rem;
  }
  
  .end_aligned {
    margin-top: 0.5rem;
  }
  
  &.internal {
    position: fixed;
    top: 6rem;
    right: 0;
    z-index: 5;
    padding: 0.5rem 0.75rem 0.75rem;
    background-color: $internal_bgcol;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: $overlay_shadow;
    
    .help_text {
      padding: 0;
    }
    .button,
    .sym_button {
      display: inline-block;
      float: none;
      margin-top: 0.5rem;
      margin-right: 0;
    }
    .button_to {
      margin-top: 0.5rem;
    }
    
    .transfer_form form {
      margin: 1rem 0;
    }
  }
  
  form.button_to {
    margin: 0 0.5rem 0 0;
  }
}
@media ( min-width: $more_than_smartphone ) {
  .action_buttons {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media ( min-width: $min_width_plus_menu ) {
  .action_buttons {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media ( min-width: $double_smartphone_width ) {
  .action_buttons {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media ( min-width: $large_screen_width ) {
  .action_buttons {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

h1 {
  .action_buttons {
    display: inline-block;
    margin: 0;
    margin-left: 1rem;
    padding: 0;
    padding-bottom: 0.25rem;
    vertical-align: bottom;
  }
}

