// Place all the styles related to badge widgets here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// --------------------------------------------

$badge_col: $paper_col;
$badge_bgcol: $akzent_col;
$application_bgcol: $light_green_col;
$membership_bgcol: $green_col;
$help_bgcol: $orange_col;

// --------------------------------------------

.badge {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0.5rem;
  padding-top: 0.05rem;
  color: $badge_col;
  background-color: $badge_bgcol;
  border-radius: 1.5rem;
  
  text-align: center;
  font-weight: bold;
  
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
  &.prospect {
    border: 1px solid $line_col;
    color: $light_text_col;
    background-color: transparent;
  }
  &.inactive {
    opacity: 0.25;
  }
  
  &.membership {
    color: $text_col;
    background-color: $application_bgcol;
    
    &.accepted,
    &.member {
      color: $paper_col;
      background-color: $membership_bgcol;
    }
  }
  
  &.offers_help {
    background-color: $help_bgcol;
  }
  
  &.account {
    background-color: $purple_col;
  }
}

