// Place all the styles related to the widget controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

.big_buttons_block {
  @include clearfix;
  margin: 1rem 0;
  padding: 0 1.5rem;
  
  form.button_to {
    display: block;
  }
  
  .button {
    display: block;
    margin: 0;
    
    text-align: center;
    
    & + .button {
      margin-top: 0.75rem;
    }
  }
}
@media ( min-width: $more_than_smartphone ) {
  .big_buttons_block {
    padding-left: 2rem;
    padding-right: 2rem;
    
    form.button_to {
      display: inline-block;
    }
    
    .button {
      display: inline-block;
      width: auto;
      margin-bottom: 0.5rem;
      
      & + .button {
        margin-left: 1rem;
      }
    }
  }
}

