// Place all the styles related to the Button Form Tile widget here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

.button_form_tile {
  display: block;
  margin: 1rem 1.5rem;
  padding: 0;
  
  .button_to {
    display: block;
    margin: 0;
    padding: 0;
    
    button {
      display: block;
      width: 100%;
      margin: 0;
      padding: 1rem 1.5rem;
      border: none;
      border-radius: 1rem;
      color: $link_col;
      background-color: $paper_col;
      
      font-size: 1.19em;
      font-weight: bold;
      text-align: center;
      
      img {
        display: block;
        margin: 0 auto 0.75rem;
      }
    }
  }
}