// Place all the styles related to the Dashboard widget here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// --------------------------------------------

.dashboard {
  h2 {
    margin-bottom: 0.5rem;
  }
  
}
@media ( min-width: $more_than_smartphone ) {
  .dashboard {
    .last_activity {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }
}
