// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

.entity_list {
  @include item_list;
}

// --- Previews

.article_preview_tags,
.contact_preview_tags,
.event_preview_tags {
  position: relative;
  display: flex;
  
  text-decoration: none;
  
  .label_block {
    flex: 0 0 2rem;
    padding: 0.5rem 0.25rem;
    
    color: $label_col;
    background-color: $label_bgcol;
    text-align: center;
    writing-mode: vertical-lr;
  }
  
  .picture.thumb {
    flex: 0 0 4rem;
    align-self: flex-start;
    margin: 0;
    padding: 0;
  }
  
  .info_block {
    flex: 1 1 auto;
    padding: 0.5rem 0 0.5rem 1rem;
    
    color: $text_col;
    
    .title {
      font-weight: bold;
      text-decoration: none;
    }
    .date {
      font-weight: bold;
    }
    .infos {
      text-decoration: none;
      
      .date,
      .author {
        display: inline-block;
      }
    }
    .email {
      font-weight: bold;
      
      &.unconfirmed {
        font-weight: normal;
        font-style: italic;
      }
    }
    .name {
      &.prospect {
        font-style: italic;
      }
    }
  }
  
  .next_arrow {
    flex: 0 0 2rem;
    align-self: center;
  }
}
@media (min-width: $more_than_smartphone) {
  .article_preview_tags {
    .picture.thumb {
      flex: 0 0 6rem;
    }
  }
}

