// Place all the styles related to the Fiter Input Block widget here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

.filter_input_block {
  display: block;
  margin: 1rem 0;
  padding: 0 1.5rem;
  @include clearfix;
  
  input[type=text] {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid $line_col;
    border-radius: 1rem;
  }
}

