// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

form {
  @include clearfix;
  max-width: $max_text_width;
  margin: 1rem auto 2rem auto;
  padding: 0.75rem 1rem;
  background-color: $form_bgcol;
  border-top: 2px solid $form_border_col;
  border-bottom: 2px solid $form_border_col;
  
  text-align: left;
  
  &.button_to {
    display: inline-block;
    margin: 0.5rem 0;
    padding: 0;
    border: none;
    background-color: transparent;
    
    input[type=text],
    input[type=email],
    input[type=password],
    input[type=url],
    input[type=number],
    input[type=submit],
    textarea {
      margin: 0;
    }
    
    input[type=submit].as_link {
      background-color: transparent;
      border: 0;
      
      font-weight: normal;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
    
    button.sym_text_button {
      display: inline-block;
      background-color: transparent;
      border: 0;
      
      img {
        
      }
    }
  }
  &.button_to > &.button_to {
    margin-left: 0.5rem;
  }
  
  &.inline {
    margin: 1rem 0;
    padding: 0 1.5rem;
    border: none;
    
    input[type=text],
    input[type=email],
    input[type=password],
    input[type=url],
    input[type=number],
    textarea {
      background-color: $paper_col;
    }
  }
  
  &.without_border {
    margin: 1rem 0;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  
  &.login_form {
    max-width: 33rem;
    margin: 0 auto;
  }
  
  p,
  h1, h2, h3, h4, h5, h6 {
    padding-left: 0;
    padding-right: 0;
  }
  
  fieldset {
    margin: 1.5rem 0;
    
    &:first-of-type {
      margin-top: 0.5rem;
    }
    
    legend {
      margin-bottom: 0.5rem;
      @include title_font;
      font-size: 1.19em;
    }
  }
  
  label {
    display: block;
    margin-bottom: 0.25rem;
    
    & + select,
    & + input[type=text],
    & + input[type=email],
    & + input[type=password],
    & + input[type=url],
    & + input[type=number] {
      margin-top: 0;
    }
  }
  
  input, select {
    @include text_font;
  }
  input[type=text],
  input[type=email],
  input[type=password],
  input[type=url],
  input[type=number],
  textarea {
    width: 100%;
    margin: 0.25rem 0;
    padding: 0.5rem 0.75rem;
    background-color: $form_element_bgcol;
    border: none;
    border-bottom: 2px solid $akzent_col;
    box-shadow: none;
    @include text_font;
  }
  select {
    margin: 0.25rem 0;
  }
  
  input[type=checkbox] {
    float: left;
    width: auto;
    margin-top: 0.25rem;
  }
  input[type=checkbox] + label,
  .field_with_errors + .field_with_errors > label {
    margin-left: 1.5rem;
  }
  
  input[type=submit] {
    @include button;
    margin: 0.5rem 0 0 0.25rem;
  }
  
  .help {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    color: $light_text_col;
    font-style: italic;
  }
  
  .field {
    margin: 0 0 1rem;
    
    &.file {
      padding: 0;
    }
    
    &.picture {
      background-color: unset;
      text-align: unset;
    }
  }
  
  .actions {
    @include clearfix;
    text-align: right;
    
    .start_side {
      float: left;
      width: auto;
      
      .button:first-child,
      .sym_button:first-child {
        margin-left: 0;
      }
    }
    
    .button,
    .sym_button {
      margin: 0.5rem 0 0 0.25rem;
    }
  }
  
  #error_explanation {
    h2 {
      margin: 0;
      padding: 0;
      color: $error_col;
    }
    ul {
      margin: 0.5rem 0 1.5rem;
      padding: 0 0 0 1.5em;
      
      li {
        padding: 0;
      }
    }
  }
  
  .field_with_errors * {
    color: $error_col;
  }
  .field_with_errors {
    input[type=text],
    input[type=email],
    input[type=password],
    input[type=url],
    input[type=number] {
      border-color: $error_col;
    }
  }
}
@media ( min-width: $more_than_smartphone ) {
  form {
    margin-left: 2rem;
    margin-right: 2rem;
    border-left: 2px solid $form_border_col;
    border-right: 2px solid $form_border_col;
          
    &.button_to {
      max-width: unset;
    }
  }
}

// --------------------------------------------

.form_actions {
  text-align: right;
}

.remote_form {
  @include clearfix;
  margin: 1rem 0;
  background-color: $form_bgcol;
  
  .notice {
    padding: 1rem 1.5rem;
  }
}

