// Place all the styles related to Info List widgets here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// --------------------------------------------

.info_list {
  margin: 0rem 0 1rem;
  padding: 0 1.5rem;
  padding-left: 3rem;
  list-style: square outside;
}
@media ( min-width: $min_width_plus_menu ) {
  .info_list {
    padding-left: 3.5rem;
    padding-right: 2rem;
  }
}
@media ( min-width: $large_screen_width ) {
  .info_list {
    padding-left: 4.5rem;
    padding-right: 3rem;
  }
}

