// Place all the styles related to internal actions widgets here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// --------------------------------------------

.internal_actions {
  @include clearfix;
  float: none;
  clear: both;
  margin-top: 1rem;
  padding: 0 0 1rem;
  color: $internal_col;
  background-color: $internal_bgcol;
  
  header {
    color: $internal_col;
    font-size: 0.84rem;
    
    .public {
      padding: 0.5rem 1.5rem;
      background-color: $main_bgcol;
    }
    .private {
      padding: 0.5rem 1.5rem;
      border-top: 1px solid $line_col;
    }
  }
  
  .block_label {
    margin-bottom: 0.5em;
    padding: 0 1.5rem;
    color: $text_col;
    font-size: 0.84rem;
    font-style: italic;
    text-transform: uppercase;
  }
  
  .help_text {
    margin: 0.5em 0 1em;
    padding: 0 1.5rem;
    color: transparentize( $internal_col, 0.4 );
    font-size: 0.84em;
  }
}

