// Place all the styles related to the Newsletters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

$caption_bgcol: $dark_paper_col;

// ---------------------------------------------

.picture {
  overflow-x: hidden;
  background-color: $caption_bgcol;
  text-align: center;
  
  &.thumb {
    max-width: 5rem;
  }
  
  &.rounded {
    border-radius: 0.5rem;
  }
  
  img {
    width: 100%;
    background-color: $caption_bgcol;
  }
  
  .icon.broken,
  .icon.missing {
    max-width: 9rem;
    padding: 3rem;
  }
}
@media ( min-width: $more_than_smartphone ) {
  .picture {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-left: 0;
    padding-right: 0;
  }
}
