// Place all the styles related to the Newsletters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

// --- Progress --------------------------------

.progress_steps {
  @include clearfix;
  margin: 1rem 0;
  padding: 0 1.5rem;
  
  .label {
    margin-bottom: 0.25rem;
    color: $light_text_col;
    
    font-size: 0.84em;
  }
  
  .step {
    float: left;
    width: 20%;
    height: 0.25rem;
    border-right: 0.25rem solid $paper_col;
    background-color: $line_col;
    
    &.done {
      background-color: $light_text_col;
    }
    &.active {
      background-color: $akzent_col;
    }
  }
}
@media ( min-width: $more_than_smartphone ) {
  .progress_steps {
    max-width: $max_text_width;
    margin-left: 0;
    padding: 0 2rem;
  }
}
