// Place all the styles related to the Decisions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

$scale_1_col: hsl( 150, 100%, 35% );
$scale_2_col: hsl( 80, 100%, 35% );
$scale_3_col: hsl( 60, 100%, 40% );
$scale_4_col: hsl( 40, 100%, 40% );
$scale_5_col: hsl( 0, 100%, 40% );

// ---------------------------------------------

.scale_labels {
  @include clearfix;
  color: $light_text_col;
  text-align: center;
  
  .left {
    float: left;
    width: auto;
  }
  .right {
    float: right;
    width: auto
  }
}

.resistance_scale {
  margin: 0.5rem 0 0.25rem;
  padding: 0;
  display: flex;
  column-gap: 0.125rem;
  list-style: none outside;
  
  li {
    display: inline-block;
    flex: 1 1 content;
    margin: 0;
    padding: 0;
    
    &:first-child {
      padding: 0;
    }
    
    .tick {
      display: inline-block;
      min-width: 1.5rem;
      width: 100%;
      padding: 0;
      color: $light_text_col;
      border: 2px solid darken( $line_col, 0 );
      border-radius: 1rem;
      text-align: center;
      text-decoration: none;
      
      &.inactive {
        opacity: 0.3;
      }
      
      &.a1 {
        color: $text_col;
        border-color: $scale_1_col;
        opacity: 1;
        
        &.hilite {
          color: $paper_col;
          background-color: $scale_1_col;
          font-weight: bold;
        }
      }
      &.a2 {
        color: $text_col;
        border-color: $scale_2_col;
        opacity: 1;
        
        &.hilite {
          color: $paper_col;
          background-color: $scale_2_col;
          font-weight: bold;
        }
      }
      &.a3 {
        color: $text_col;
        border-color: $scale_3_col;
        opacity: 1;
        
        &.hilite {
          color: $paper_col;
          background-color: $scale_3_col;
          font-weight: bold;
        }
      }
      &.a4 {
        color: $text_col;
        border-color: $scale_4_col;
        opacity: 1;
        
        &.hilite {
          color: $paper_col;
          background-color: $scale_4_col;
          font-weight: bold;
        }
      }
      &.a5 {
        color: $text_col;
        border-color: $scale_5_col;
        opacity: 1;
        
        &.hilite {
          color: $paper_col;
          background-color: $scale_5_col;
          font-weight: bold;
        }
      }
    }
  }
}

.selection_scale {
  @include clearfix;
  
  .label {
    padding-top: 0.6rem;
    vertical-align: top;
  }
  
  .vote_circle {
    display: inline-block;
    width: 2.5rem;
    vertical-align: top;
    
    img {
      width: 100%;
    }
  }
}
