// Place all the styles related to the Newsletters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

// ---------------------------------------------

.row {
  display: flex;
  align-items: flex-end;
  column-gap: 0.5rem;
  
  .field {
    flex: 1;
    
    &.big_part {
      flex: 3;
    }
  }
}