// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

.tagger_modal {
  position: absolute;
  z-index: 99;
  top: 0.5rem;
  right: 0.5rem;
  
  display: none;
  width: auto;
  padding: 0.75rem;
  padding-bottom: 0;
  border-radius: 0.5rem;
  box-shadow: 0 1px 8px 0 $shade_50;
  
  background-color: $white_col;
  
  &.toggled_open {
    display: block;
  }
  
  input[type=text] {
    width: auto;
    padding: 0.25rem 0.75rem;
    border: none;
    border-bottom: 1px solid $line_col;
  }
  
  .results_block {
    padding: 0.5rem 0;
    
    .tags_list_in_tagger {
      list-style: none outside;
      margin: 0;
      padding: 0;
      
      li {
        display: none;
        
        &.help_text {
          display: block;
        }
        
        form.button_to {
          display: inline-block;
          margin: 0.25rem 0;
          
          input[type=submit] {
            display: inline-block;
            padding: 0.1rem 0.75rem;
            border: none;
            border-radius: 1rem;
            
            color: $tag_col;
            background-color: $tag_bgcol;
            font-weight: normal;
            text-transform: none;
          }
        }
      }
    }
  }
}

