// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

.tile_link_big {
  display: block;
  margin: 0.5rem 1rem;
  padding: 1rem;
  background-color: $tile_bgcol;
  border-radius: 1rem;
  
  color: $text_col;
  text-decoration: none;
  
  .title {
    margin-bottom: 0.5rem;
    color: $link_col;
    font-size: 1.19em;
    font-weight: bold;
  }
  .description {
    color: $text_col;
  }
  .link {
    margin-top: 0.5rem;
    color: $link_col;
    font-weight: bold;
    
    img {
      height: 0.8rem;
    }
  }
}
@media ( min-width: $more_than_smartphone ) {
  .tile_link_big {
    max-width: $max_text_width / 2;
    margin: 0.75rem auto;
  }
}
