// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

.tile_list {
  @include item_list;
  margin-top: 0;
  
  li {
    border: none;
  }
  
  .contentpart.tile {
    margin: 0.5rem 1.5rem;
  }
}

.clustered_tile_list {
  @include item_list;
  
  li {
    border: none;
  }
  
  .separator {
    background-color: transparent;
    border: 0;
    
    font-size: 1.19 * 1.19rem;
    font-weight: bold;
    font-style: normal;
  }
}

