// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

.transactions_list {
  @include item_list;
  
  .payment_preview {
    @include clearfix;
    padding: 0.5rem 1.5rem;
    
    .amount {
      float: right;
      width: auto;
    }
  }
  
  .share_preview {
    @include clearfix;
    padding: 0.5rem 1.5rem;
    overflow: hidden;
    
    color: $text_col;
    text-decoration: none;
    
    .preliminary {
      display: inline;
      font-style: italic;
    }
    
    .label {
      font-weight: bold;
    }
    
    .text_block {
      width: auto;
      float: left;
    }
    .action_block {
      text-align: right;
      
      form.button_to {
        background-color: transparent;
      }
    }
  }
}
@media ( min-width: $more_than_smartphone ) {
  .transactions_list {
    .share_preview,
    .payment_preview {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}

