// Place all the styles related to general widgets here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// --------------------------------------------

$danger_col: hsl( 10, 100%, 40% );
$caption_bgcol: $dark_paper_col;

// --------------------------------------------

.important {
  color: $important_col;
}

.danger {
  color: $danger_col;
}

.deactivated {
  opacity: 0.25;
  cursor: not-allowed;
  
  a,
  button {
    cursor: not-allowed;
  }
}

// --------------------------------------------

.initially_hidden {
  display: none;
}

.start_aligned {
  float: left;
  width: auto;
  margin-right: 1rem;
}
.centered {
  text-align: center;
}
.end_aligned {
  float: right;
  width: auto;
  margin-left: 1rem;
}
.follow_aligned {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

// --------------------------------------------

.hilite_block {
  @include clearfix;
  background-color: $dark_paper_col;
}

// --------------------------------------------

h1 {
  .subtitle {
    color: $akzent_2_col;
  }
}
.sub_header {
  font-size: 1.19rem;
  font-weight: bold;
}
h1 + .sub_header {
  margin-top: -0.5rem;
}

.subtitle {
  margin-left: 2rem;
  font-size: 0.59em;
}

.alternate,
.light {
  color: white;
}
.colored {
  color: $akzent_col;
}
.dark {
  color: black;
}

.logo_title {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.logo_title {
  padding: 3rem 1.5rem 0;
  color: black;
  font-size: 2.25rem;
  line-height: 0.95;
  
  .alternate {
    padding-left: 0.35em;
  }
}
@media ( min-width: $more_than_smartphone ) {
  .logo_title {
    font-size: 2.5rem;
  }
}

.hint_text {
  color: $light_text_col;
}

.help_text {
  color: $light_text_col;
  font-style: italic;
}

.list_title {
  margin: 1rem 0 0;
  padding: 0 1.5rem;
  font-weight: bold;
}
@media ( min-width: $more_than_smartphone ) {
  .list_title {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

