Willkommen, <%= @contact.name_text %>

Vielen Dank, dass du uns unterstützen möchtest! Das hilft uns einiges weiter.

<% if @contact.wants_news? %>
Wir schicken dir gerne unseren Newsletter zu. Der kommt unregelmässig, immer dann, wenn es etwas substanziell Neues gibt. Wenn du mehr möchtest, kannst du uns auch auf Sozialen Medien folgen:
<% if h_app_feature? :twitter_handle %>
https://twitter.com/<%= h_app_value :twitter_handle %>
<% end %>
<% if h_app_feature? :instagram_handle %>
https://www.instagram.com/<%= h_app_value :instagram_handle %>/
<% end %>
<% if h_app_feature? :facebook_handle %>
https://www.facebook.com/<%= h_app_value :facebook_handle %>
<% end %>
<% if h_app_feature? :tiktok_handle %>
https://www.tiktok.com/@<%= h_app_value :tiktok_handle %>?lang=de-DE
<% end %>
<% if h_app_feature? :mastodon_link %>
<%= h_app_value :mastodon_link %>
<% end %>

<% end %>
<% if @contact.offers_help? %>
Danke auch für dein Hilfe-Angebot.
Vielleicht kannst du uns in einer Antwort kurz schildern, was Du gut kannst oder gerne tust oder wo Du Dir vorstellen kannst, dass du uns unterstützen könntest.

Da wir bisher noch wenige Aktive sind, wird es ein bisschen dauern, bis jemand auf dich zukommt. Wir melden uns aber, versprochen.

<% end %>

Um deinen Kontakt zu bestätigen, klicke bitte folgenden Link:
<%= @confirmation_link %>

<%= render 'general/mailer_regards' %>
