Hallo <%= @name_text %>,

<%= strip_tags @content %>

<% @newsletter.contentparts.each do |contentpart| %>
<%= strip_tags contentpart.content %>

<% end %>

<% if Article.for_mail_between( @newsletter.last_sent_at, @newsletter.send_at ).count > 0 %>
NEUE ARTIKEL
------------------------------

<% Article.for_mail_between( @newsletter.last_sent_at, @newsletter.send_at ).each do |article| %>
<%=l article.published_at, format: :short %>
<%= article.title %>

<%= article.description %>
Mehr lesen:
<%= url_for article %>


<% end %>
<% end %>
<% if Event.for_mail_from( @newsletter.send_at ).count > 0 %>
NEUE TERMINE
------------------------------

<% Event.for_mail_from( @newsletter.send_at ).each do |event| %>
<%=l event.starts_at, format: :short %>
<%= event.title %>
<%= event.description %>

Mehr lesen:
<%= url_for event %>


<% end %>
<% end %>

Möchtest Du keine weiteren Newsletter mehr von uns erhalten?
Schade...
Lösche Deine E-Mail hier:
<%= @storno_url %>
