%footer{ role: "contentinfo"}
  %p
    = "© #{Time.zone.now.year} #{h_orga_name}."
    Alle Rechte vorbehalten.
    %br
    Website bereitgestellt durch
    = link_to 'organisator', 'https://organisator.org'
    &bull;
    = link_to 'Login', login_path
    &bull;
    = link_to 'Impressum', impressum_path
    &bull;
    = link_to 'Datenschutz', datenschutz_path
    
    = render 'general/social_media_buttons', with_icon: false
  

