%header#header{ role: "banner" }
  = link_to root_url, class: 'header_logo', itemprop: "url" do
    = image_tag "logos/#{h_orga_file_name}_Logo_q192.png", class: 'logo_img'
    - if false
      %span.logo_text= h_orga_name
    
  
  = link_to '#menu', class: h_menu_button_klass, data: { sel: '#menu' } do
    - if h_app_value :menu_text
      Menu
    
    = image_tag( "sym/menu_w100.svg" )
  

  = render 'layouts/menu'

