%li.dangerous
  = link_to current_account.status_text, mine_accounts_path
  
  %ul.sub_nav
    %li= link_to 'Überblick', mine_accounts_path
    %li= link_to 'Einstieg', overview_prefs_path
    
    - if ( h_is_admin? or h_app_feature?( :team_sees_tags ) ) and h_show_menu? :tags
      %li= link_to 'Marken', tags_path
    
    - if h_show_menu? :articles
      %li= link_to 'Artikel', articles_path
    
    - if h_show_menu? :events
      %li= link_to 'Termine', events_path
      
      - if h_is_admin? and Registration.count > 0
        %li= link_to 'Anmeldungen', registrations_path
      
    
    - if h_is_member? or ( h_app_feature?( :allow_decisions_for_team ) and h_is_team_or_member? )
      %li= link_to 'Entscheidungen', decisions_path
    
    - if h_is_editor?
      - if h_show_menu? :pages
        %li= link_to 'Seiten', pages_path
      
      - if h_show_menu? :newsletters
        %li= link_to 'Newsletter', newsletters_path
      
      - if h_app_feature? :allow_funding
        %li= link_to 'Finanzierungen', fundings_path
      
    
    - if h_is_admin?
      - if h_show_menu? :donations
        %li= link_to 'Spenden', donations_path
      
    
    - if h_is_sales?
      - if h_is_admin?
        - if h_show_menu? :rewards
          %li= link_to 'Produkte', rewards_path
        
      
      - if h_show_menu? :orders
        %li= link_to 'Bestellungen', orders_path
      
    
    - if h_is_admin?
      %li= link_to 'Kontakte', contacts_path
      %li= link_to 'Accounts', admin_accounts_path
      - if h_app_feature? :allow_membership
        %li= link_to 'Mitgliedschaften', memberships_path
      
      - if h_app_feature? :allow_shares
        %li= link_to 'Anteile', admin_shares_path
      
      - if h_app_feature? :allow_payment
        %li= link_to 'Zahlungen', admin_payments_path
      
    
    - if Pref.for_status?( current_account.status )
      %li= link_to 'Einstellungen', prefs_path
    
    - if h_is_admin? or h_app_feature? :team_sees_statistics
      %li= link_to 'Statistik', '/statistics/current_requests'
    
  

