%nav#menu.main_menu{ class: @with_sub, role: "navigation" }
  %ul.nav{ class: @with_sub }
    - if current_account
      %li
        = link_to 'Mein Start', mine_accounts_path
      
    
    - @pages.each do |page|
      - unless page.menu.blank? or h_dont_show_login page
        %li
          = link_to page.menu, page.link_url
          
          - sub_pages = restrict_page_access( page.pages.in_menu )
          - unless sub_pages.blank?
            %ul.sub_nav
              - sub_pages.each do |p|
                %li= link_to p.menu, p.link_url
              
            
          
        
      
    
    - if h_is_internal?
      = render 'layouts/menu_internal'
    
    - unless current_account
      - if h_app_feature?( :login_in_menu )
        %li= link_to 'Login', login_path
      
    - else
      %li= link_to 'Abmelden', logout_path, method: :delete
    
    %li= link_to image_tag( 'sym/lens_akz100.svg' ), search_path, class: 'sym_link'
  

