= link_to account, class: 'preview account_preview', id: account.token do
  - if account.has_picture?
    = render 'general/picture_preview', entity: account
  - else
    .picture.picture_preview= image_tag 'default_user.jpg'
  
  - unless account.published?
    .status= account.status
  
  .next_arrow
    = image_tag 'sym/angle_right_s25.svg'
  
  .title= account.displayname_text
  .label= account.label
  
  = render 'tags/list_at_entity', entity: account.contact
  
  .description
    = h_format_preview account.description, 150
  

