= link_to account, class: 'search_preview account_preview', id: account.token do
  - if account.has_picture?
    = render 'general/picture_thumb', entity: account
  - else
    .picture= image_tag 'default_user.jpg'
  
  - unless account.published?
    .status= account.status
  
  .next_arrow
    = image_tag 'sym/angle_right_s25.svg'
  
  .title= account.displayname_text
  .label= account.label

