- # --------------------------------------------

%article.account_sent
  %h1 Link versendet
  %p.form_explanation
    Wir haben Dir einen Link zum Setzen Deines Password an die Adresse
    %br
    %strong= @contact.email
    gesendet.
  
  %p
    Er sollte in den nächsten 15 Minuten ankommmen.
    %br
    Schaue bitte auch in Deinem Spam-Postfach nach.
  

