- h_title 'Neuen Account registrieren'
- h_description 'Hier kannst du dir einen neuen Account für unsere Website registrieren.'
- h_page_klass 'headerless_page'

%article.build_account
  %h1 Noch ein Kennwort
  %p
    Du hast es fast geschafft: nur noch ein 
    %strong Kennwort setzen,
    ein Häkchen und die Checker-Frage...
  
  = form_for @account, html: { class: 'without_border' } do |f|
    - if @account.errors.any?
      #error_explanation
        %h2= I18n.t( 'errors.template.header', model: I18n.t( "activerecord.models.account.one" ), count: @account.errors.count )
        %ul
          - @account.errors.messages.each do |message|
            %li= I18n.t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.account.#{message.first}" )
          
        
      
    
    = f.hidden_field :login
    
    .field
      = f.label :password
      = f.password_field :password, placeholder: 'min. 10 Zeichen'
    
    .field
      = f.label :password_confirmation
      = f.password_field :password_confirmation, placeholder: 'gleich wie oben'
    
    = f.fields_for :contact do |ff|
      = ff.hidden_field :email
      = ff.hidden_field :first_name
      = ff.hidden_field :last_name
      = ff.hidden_field :plz
      
      .field
        = ff.check_box :read_privacy
        = ff.label :read_privacy do
          Ich habe die
          = link_to 'Hinweise zum Datenschutz', '/datenschutz'
          gelesen
        
      
      = render 'general/checker_question', f: ff
    
    .actions
      = link_to 'Abbrechen', root_path
      = f.submit 'Weiter', class: 'button main'
    
    

