- h_title 'Neues Profil registrieren'
- h_description 'Hier kannst du dir ein neues Profil für unsere Community Platform registrieren.'
- h_page_klass 'headerless_page'

%article.build_account
  %h1 Prima!
  %p
    Verrate uns nun bitte
    %strong deinen Namen.
  
  %p
    Wir geben ihn nie in die Öffentlichkeit. Du kannst dir
    %strong nachher
    auch ein Pseudonym festlegen.
  
  = form_for @account, url: build_accounts_path, method: :patch, html: { class: 'without_border' } do |f|
    - if @account.errors.any?
      #error_explanation
        %h2= I18n.t( 'errors.template.header', model: I18n.t( "activerecord.models.account.one" ), count: @account.errors.count )
        %ul
          - @account.errors.messages.each do |message|
            %li= I18n.t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.account.#{message.first}" )
          
        
      
    
    = f.fields_for :contact do |field|
      .field
        = field.label :first_name, 'Vorname'
        = field.text_field :first_name, placeholder: 'z.B. Lisa'
      
      .field
        = field.label :last_name, 'Nachname'
        = field.text_field :last_name, placeholder: 'z.B. Muster'
      
    
    .actions
      = link_to 'Abbrechen', root_path
      = f.submit 'Weiter', class: 'button main'
    
  

