- h_title 'Neuen Account registrieren'
- h_description 'Hier kannst du dir einen neuen Account für unsere Website registrieren.'
- # --------------------------------------------

%article.account_check
  %h1
    Neu registrieren?
  
  %p.form_explanation
    Ganz einfach!
    %br
    Um einen neuen Account anzulegen, gib bitte deine E-Mail Adresse an. Wir prüfen kurz unsere Kartei und
    %strong senden dir dorthin einen Link
    zur Bestätigung.
  
  = form_tag do
    .field
      = label_tag :email
      = email_field_tag :email, params[ :email ], placeholder: 'z.B. lisa.muster@organisator.org', autofocus: true
    
    .actions.clearfix
      = link_to 'Abbrechen', login_path, class: 'button secondary'
      = submit_tag 'Registrieren', |
            class: 'button'
      
    
  

