- h_title 'Profil registriert'
- h_description 'Du hast dir erfolgreich ein neues Profil angelegt.'
- h_page_klass 'headerless_page'

%article.build_account
  %h1 Super! Profil erstellt
  %p
    Jetzt kannst du dich mit deiner E-Mail und deinem Kennwort einloggen.
  
  .big_buttons_block
    = link_to 'Zum Login', login_path, class: 'button'
  

