- h_page_title "Meine Seite"
- h_description "Hier findest du alle Sachen, die zu dir gehören"

- # --------------------------------------------

%article.mine_account
  - if h_is_team?
    .account_status= current_account.status
  
  %h1
    Willkommen,
  
  .account_header_block
    = render 'general/picture_thumb', entity: current_account
    .text_info
      .title= current_account.name_text
      - if @last_check
        .last_activity
          Letzte Aktivität:
          = time_ago_in_words @last_check
          \- am
          =l @last_check, format: :short_day
        
      
    
  
  .big_buttons_block
    = link_to 'Mein Profil bearbeiten', current_account, class: 'button secondary'
    = link_to 'Gemeinschaft erkunden', community_path, class: 'button secondary'
  
  .dashboard
    - if h_is_admin?
      - unless @memberships.blank?
        %h3.will_toggle{ data: { action: 'toggle', sel: '#memberships_list' } }
          = @memberships.count
          Mitgliedschaften neu oder geändert
          .follow_aligned= render 'general/toggle_icon'
        
        #memberships_list.will_be_toggled
          = render 'memberships/list', memberships: @memberships
        
      
      - unless @accounts.blank?
        %h3.will_toggle{ data: { action: 'toggle', sel: '#accounts_list' } }
          = @accounts.count
          Accounts neu oder geändert
          .follow_aligned= render 'general/toggle_icon'
        
        #accounts_list.will_be_toggled
          %ul.accounts_list.admin.wi
            - @accounts.each do |account|
              %li= render 'preview', account: account
            
          
        
      
      - unless @contacts.blank?
        %h3.will_toggle{ data: { action: 'toggle', sel: '#contacts_list' } }
          = @contacts.count
          Kontakte neu oder geändert
          .follow_aligned= render 'general/toggle_icon'
          
        #contacts_list.will_be_toggled
          = render 'contacts/list', contacts: @contacts, all_info: h_is_admin?
        
      
    
  

