- h_page_title "Dein Persönliches Zuhause"
- h_description 'Von hier aus kannst du deine Erkundungen in die Gemeinschaft starten.'
- h_page_klass 'headerless_page'

- # --------------------------------------------

%h1
  .subtitle Willkommen zurück,
  = @account.name_text

%p.help_text
  Du warst zuletzt aktiv vor
  =time_ago_in_words @last_check
  \- am
  =l @last_check, format: :short_day

%p
  Was möchtest du heute als nächstes machen?

.big_buttons_block
  = link_to 'Leute kennenlernen', accounts_path, class: 'button secondary'
  - if h_show_menu? :events
    = link_to 'Veranstaltungen', events_path, class: 'button secondary'
  

