- # --------------------------------------------

%article.accounts_reset
  %h1 Kennwort festlegen
  %p.form_explanation
    Gib bitte ein neues Kennwort ein.
  
  %p
    Es sollte mindestens 8 Zeichen lang sein und Ziffern, Gross- und Kleinbuchstaben enthalten.
  
  = form_for @account, url: reset_password_account_path( @account ) do |f|
    - if @account.errors.any?
      #error_explanation
        %h2= I18n.t( 'errors.template.header', model: I18n.t( "activerecord.models.account.one" ), count: @account.errors.count )
        %ul
          - @account.errors.messages.each do |message|
            %li= I18n.t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.account.#{message.first}" )
          
        
      
    
    .field
      = f.label :password
      = f.password_field :password
    
    .field
      = f.label :password_confirmation
      = f.password_field :password_confirmation
    
    .actions
      = f.submit 'Setzen', class: 'button main'
    
  

