- h_page_title "#{@account.contact.name_text} im Team #{h_orga_name}"
- h_description truncate( strip_tags( @account.description ), length: 250 )
- if @account.has_picture?
  - h_image full_url_for @account.picture_preview

- # --------------------------------------------

%article.account_details
  .picture_col
    - if @account.has_picture?
      = render 'general/picture_preview', entity: @account
    - else
      .picture.picture_preview= image_tag 'default_user.jpg'
    
  
  .text_col
    %h1= @account.displayname_text
    .label= @account.label
    
    - if h_is_admin?
      .status= @account.status
    - elsif @account == current_account
      .status
        - if @account.is_team?
          öffentlich
        - else
          unsichtbar
        
      
    
    - if h_account_editable? @account
      .action_buttons
        = link_to 'Bearbeiten', edit_account_path( @account ), class: 'button'
      
    
    = render 'tags/list_at_entity', entity: @account.contact
    
    .description= h_format @account.description
    
    .action_buttons
      = link_to image_tag( 'sym/envelope_w100.svg' ), new_contact_message_path( @account.contact, kind: 'bare' ), remote: true, class: 'sym_button', title: 'E-Mail an Person senden'
    
    .message_block
      #new_message.remote_form.initially_hidden
    
  

- if h_account_editable? @account
  = render 'show_internal'

